[2016-12-05 21:24] jeremiak opened #1 "Establish and document workflow for working with the visual design team"
Establish a consensus workflow  with the visual design team and document in the front end app repository.

Acceptance criteria:
- [ ] Document a workflow in a `CONTRIBUTING.md` file in the 18f/crime-data-explorer repo
- [ ] Decide on a release process

[2016-12-05 21:31] jeremiak opened #3 "Set up continuous integration and deployment with CircleCI"
Acceptance criteria:
- [x] `master` branch should be deployed to https://crime-data-explorer.fr.cloud.gov` with each new commit or merge of a pull request

[2016-12-05 21:32] jeremiak opened #4 "Set up a new app in cloud.gov"
Set up a new app with the URL `crime-data-explorer.fr.cloud.gov` for the front end application

[2016-12-06 16:53] jeremiak opened #6 "As a user, I want to see national violent crime trend lines"
We know that data visualizations will be a key part of the Crime Data Explorer. Since we've settled on using React as our UI framework, and likely D3 for visualizations, we should build a library of React components that we can use for data visualizations.

For this issue, let's make a React component that shows simple time series data. The component should have an API that enables any data to be

[2016-12-06 16:55] jeremiak opened #7 "Integrate CDE style guide"
We will be using [18f/crime-data-style](/18f/crime-data-style) as a style guide/pattern library for this project. The repo has been created, but is empty. Let's get some basic scaffolding in that repo and then integrate the pattern library into this app.

[2016-12-06 16:59] jeremiak commented on #4
This is ready for review, the application be accessed at https://crime-data-explorer.fr.cloud.gov/

The manifest file can seen in #5

[2016-12-06 18:15] jeremiak opened #8 "Initial front end & design infrastructure"
Tasks for getting the front end infrastructure and applications set up for the initial sprint. Includes things like getting a style guide together, our app deployment process

[2016-12-06 18:16] nicoleslaw opened #9 "Implement glossary tool"
@nicoleslaw commented on [Tue Dec 06 2016](https://github.com/18F/crime-data-api/issues/165)

We would like to use the 18F Glossary tool: https://github.com/18F/glossary

I've started a yml file with terms here: https://github.com/18F/crime-data-api/blob/master/terms.yml

[2016-12-06 18:31] #4 closed

[2016-12-06 18:54] brendansudol opened #10 "set up test suite and write first test"
acceptance criteria:
1) write at least 1 test (for a react component)
2) run via npm run test
3) runs on circle ci

[2016-12-06 18:56] jeremiak opened #11 "Implement a bar chart component"
Acceptance criteria:
- [x] There is a JSX component for a bar chart
- [x] Bar chart component has some tests
- [x] Bar chart component takes data to display as prop to be reusable

[2016-12-06 18:58] brendansudol opened #12 "add routing library"
acceptance criteria:
1) wire up one additional route (i.e., /about)

[2016-12-07 15:39] brendansudol opened #13 "implement a usa square tile map"
acceptance criteria:
- [x] JSX component
- [x] map takes data to display as prop to color code the indiv states

[2016-12-07 15:45] brendansudol commented on #7
i think we should use crime-data-explorer repo for initial stylez and then refactor into a pattern library in sprint 2/3 once we have a clearer sense of what our components and patterns will become and once their look and feel become more stable / established

[2016-12-07 15:49] brendansudol commented on #10
this is all set now:

* using Jest testing framework (https://facebook.github.io/jest/)
* added a few starter / basic tests to `test` directory (we could also colocate test files with source files)
* tests run via `npm test` or `npm run test`

[2016-12-07 15:55] brendansudol commented on #6
should we start with a 1-line time series chart (i.e., http://bl.ocks.org/mbostock/3883245) or do we want to support multiple series right from out of the gates (i.e., http://bl.ocks.org/mbostock/3884955)?

[2016-12-07 16:55] jeremiak commented on #6
Let's make the component handle either case right away. We know there will be situations where it just has to show a single series but there are also times when it needs to handle both. Just thinking in terms of the component API, perhaps it should just take an array of objects that have a structure like:

[code]

I guess each item in the `data` array would have to contain a year and a value in th

[2016-12-07 17:06] jeremiak commented on #13
Maybe the prop API could expect an object that has state names as keys and the value is the color that should be used for that state?

[2016-12-07 17:07] jeremiak commented on #7
I agree @brendansudol. I'm going to remove this issue from the epic related to this sprint's focus.

[2016-12-07 18:28] harrisj opened #14 "Add CodeClimate/linter for project"
CodeClimate is a good public way of assuring code quality and that linting is run on the project regularly. Can we set it up for this project as well?

[2016-12-07 23:30] jeremiak opened #16 "Set up linting with CodeClimate"
The 18f/crime-data-api project uses CodeClimate (https://codeclimate.com/github/18F/crime-data-api) to keep track of test coverage

[2016-12-08 04:09] jeremiak commented on #16
Closing in favor of #14

[2016-12-08 04:09] #16 closed

[2016-12-08 04:09] jeremiak commented on #14
Definitely! I'm removing the "?" in the title and assigning a rough point estimation

[2016-12-09 18:45] jeremiak opened #23 "Link up related terms in the glossary"
Since there are related terms in the UCR program, it would be helpful to show them together in the glossary. For example, "murder" is related to "manslaughter".

cc @nicoleslaw

[2016-12-09 18:48] nicoleslaw commented on #23
💯  I could see either tagging related terms in the yml file or including the related terms in the main definition text so it shows up in search, but I need some direction on how to best structure the strings either way.

[2016-12-09 18:53] jeremiak opened #24 "Explorer server should have a passthrough endpoint to the crime-data-api"
We can fetch data from the API through the client, but we should move towards having a generic endpoint on the server that can serve as a passthrough. This will enable us to secure the API key for the Crime Data Explorer

[2016-12-09 18:56] jeremiak opened #25 "Add an API utility"
Instead of making API calls from within the components, we should have a promise based API utility module that can ensure parameters are formatted appropriately and handles the HTTP requests

[2016-12-09 21:42] nicoleslaw commented on #23
Just found this from EITI 😄  https://github.com/18F/doi-extractives-data/wiki/Content-guide#useiti-specific-markdown-syntax-and-notes-on-maintaining-content

[2016-12-12 22:07] nicoleslaw commented on #9
@jeremiak This is done, right?

[2016-12-12 22:30] jeremiak commented on #9
Yup, its done at least for the first version! There are definitely some bugs with it but I'll open a new issue for that specific work.

[2016-12-12 22:30] #9 closed

[2016-12-12 23:14] jeremiak opened #28 "Glossary tool doesn't scroll"
After being opened, the glossary tool does not scroll along with the page, since the terms extend beyond the height of the page.

![glossary-does-not-scroll](https://cloud.githubusercontent.com/assets/780941/21120720/beaa7c6c-c096-11e6-98ab-260dc0cfd6a4.gif)

[2016-12-12 23:26] jeremiak opened #29 "Set up monitoring with New Relic"
We need to set up [monitoring for our eventual ATO](https://pages.18f.gov/before-you-ship/infrastructure/monitoring/) using [New Relic](https://github.com/fisma-ready/new-relic)

- [x] Server side monitoring in place with NewRelic APM
- [x] Error/alert reports are configured to post in Slack at a certain threshold

[2016-12-12 23:30] jeremiak opened #30 "Add downtime monitoring using New Relic Synthetics"
Per the [ATO documentation](https://pages.18f.gov/before-you-ship/infrastructure/monitoring/#downtime) we need to have downtime monitoring set up and have alerts piped into our #fbi-cde-dev Slack channel

[2016-12-13 04:39] jeremiak opened #31 "Add stage label"
From the [ATO checklist](https://pages.18f.gov/before-you-ship/ato/checklist/):

[2016-12-13 20:49] nicoleslaw opened #34 "Map out data dimensions"
For each of the datasets in the MVP, I need to map out the potential NIBRS dimensions so Amber and Aviva can explore different chart styles. I will add this to the content map spreadsheet: https://docs.google.com/spreadsheets/d/1gRN0bjp-2D9OdXtsA53IZsM6inUjBBEzRYK2gbwgGtM/edit#

[2016-12-13 22:14] jeremiak commented on #12
Nice work, I'm keeping this open since I'm trying to mark the issues as "Done" and then we'll close them when we do the sprint review

[2016-12-14 15:07] jeremiak commented on #25
Acceptance criteria:

- [ ] Basic utility that returns data from the `/incidents` endpoint and allows for easily passing parameters

[2016-12-14 16:24] brendansudol opened #37 "header / navigation"
title and links

[2016-12-14 16:25] brendansudol opened #38 "sidebar container"
* static on desktop, hideable on mobile

[2016-12-14 16:26] brendansudol opened #39 "svg of state"
(for sidebar)

[2016-12-14 16:26] brendansudol opened #40 "As a user, I want to be able to select a time range in the sidebar to filter the data"
(in sidebar)

[2016-12-14 16:29] brendansudol opened #41 "crime type filtering"

[2016-12-14 16:29] brendansudol opened #42 "content header"
title, breadcrumbs, download, share

[2016-12-14 16:30] brendansudol opened #43 "content summary"
headline (includes crime with link to glossary), additional text

[2016-12-14 16:31] brendansudol opened #44 "census block"
use static data for now

[2016-12-14 16:33] brendansudol opened #45 "summary trend line section"
includes chart, text, sentences, multi-line

[2016-12-14 16:35] brendansudol opened #46 "nibrs details table component"

[2016-12-14 16:35] brendansudol opened #47 "nibrs details sparkline component"

[2016-12-14 16:37] brendansudol opened #48 "nibrs details component blocks"
victim demo, offender demo, relationship, location

[2016-12-14 16:38] brendansudol opened #49 "data methodology section"
text and related links (static for now, dynamic later)

[2016-12-14 16:39] brendansudol opened #50 "footer"
logos and links

[2016-12-14 16:43] #28 closed

[2016-12-14 18:34] jeremiak commented on #37
Acceptance criteria:
- [ ] "Crime Data Explorer" in the upper left of the navigation
- [ ] Links for "Explorer", "Download & Documentation", and "About"

[2016-12-14 18:36] jeremiak commented on #50
Acceptance criteria:
- [ ] Links for "Home", "Explorer", "Download and Documentation", "About"
- [ ] Logos for the FBI and CJIS
- [ ] Contact information for CJIS

[2016-12-14 21:35] nicoleslaw opened #57 "incident detail panel"
I’m wondering if we could do something like this arrow-to-a-detailed-view for the incident-level table so you can see more at a glance: https://beta.fec.gov/data/candidates/senate/?election_year=2016&cycle=2016&election_full=true

![screen shot 2016-11-25 at 3 08 57 pm](https://cloud.githubusercontent.com/assets/94900/21202062/4946e696-c21b-11e6-8acb-81d454f809e0.png)

[2016-12-14 21:50] nicoleslaw commented on #34
This is ready for review, tab 4: https://docs.google.com/spreadsheets/d/1gRN0bjp-2D9OdXtsA53IZsM6inUjBBEzRYK2gbwgGtM/edit

As I mentioned to @amberwreed and @AvivaOskow, my main concern is that this will be too many charts for some data types, but since so many of the chart styles are the same visual design style, and the data attributes should be easy to code up modularly, I would recommend we st

[2016-12-14 22:06] LarryBafundo commented on #34
Thanks. do we know the types of charts we would consider based on the dimensions you've prioritized?

[2016-12-15 14:30] nicoleslaw commented on #34
@AvivaOskow is working on that—I think she's starting with refining the charts we have: trend line, stacked bar chart, and line graph. We probably also need a vertical bar chart for things like `Month` and `Day of Week` since a line graph doesn't make sense there.

I will defer to her if we need a donut/pie chart... I've mentioned that I'd like a "big stat" for emphasizing rates or counts, but tha

[2016-12-15 19:16] jeremiak commented on #50
@AvivaOskow Do you know of/happen to have good quality images for the logos of the FBI and CJIS that we should be using in the footer?

[2016-12-15 19:19] jeremiak opened #61 "Implement a unidirectional data flow library and provide glossary related actions"
Acceptance criteria:
- [x] A unidirectional data flow library (probably using [alt.js](http://alt.js.org/) is implemented in the project
- [x] The global state object has an indicator if the glossary is open or closed
- [x] There is a glossary action to show the glossary and a given term
- [x] There are glossary actions to show/hide the glossary

[2016-12-15 19:19] jeremiak opened #62 "Add actions for retrieving data from the API"
Acceptance criteria:

- [x] Use async action creators and implement async tests
- [x] Fetch incidents and reduce the response into the app store

[2016-12-15 19:26] jeremiak commented on #61
On further review, it looks like Alt is not _that_ actively maintained with the last commit over four months ago and Redux has a pretty much active stream of contributions. As such, I'm going to use Redux after Alt for this task

[2016-12-15 20:24] AvivaOskow commented on #50
@jeremiak Not yet, I'm thinking I'd like to do simplified, single color vector versions if possible. We can ask the FBI team about it, but it's not super priority right now I'd think.

[2016-12-16 15:54] LarryBafundo commented on #50
@AvivaOskow: want to remind everyone that Sammy has asked us if we plan on designing a logo for the CDE. apparently they are open to the CDE having it's own brand that's distinct (yet relatable) to the UCR program. i didn't commit us to doing a logo, but if that's something we want to do, we can.

[2016-12-16 20:57] brendansudol commented on #1
high level thoughts / intro on atomic system here: https://gist.github.com/brendansudol/17911076aab1061b2bc72a38ce08a6bd

[2016-12-16 20:58] brendansudol commented on #39
done via https://github.com/18F/crime-data-explorer/pull/54

[2016-12-16 20:58] #39 closed

[2016-12-16 20:59] brendansudol commented on #14
this is done

[2016-12-16 20:59] #14 closed

[2016-12-16 20:59] brendansudol commented on #13
done via https://github.com/18F/crime-data-explorer/pull/26

[2016-12-16 20:59] #13 closed

[2016-12-19 18:03] #61 closed

[2016-12-19 18:03] #37 closed

[2016-12-19 18:03] #6 closed

[2016-12-19 18:03] #24 closed

[2016-12-19 18:03] #3 closed

[2016-12-19 18:03] #10 closed

[2016-12-19 18:03] #11 closed

[2016-12-19 18:03] #12 closed

[2016-12-19 18:04] #50 closed

[2016-12-19 18:04] #42 closed

[2016-12-19 18:04] #44 closed

[2016-12-19 18:04] #25 closed

[2016-12-19 18:04] #43 closed

[2016-12-19 18:04] #38 closed

[2016-12-19 18:15] jeremiak commented on #40
This is a user level story so it should include:

- [ ] Action types and creators for updating app state on filter changes
- [ ] Add reducer to store the filter changes in the state

Open questions:
- [ ] Should the incident reducer also listen for these types so that the `incidents` object is continually filtered, or should the UI use this to filter the incidents that have been stored in the stat

[2016-12-20 03:55] #62 closed

[2016-12-20 15:58] brendansudol opened #72 "as a user, i want to be able to download a chart"

[2016-12-20 15:59] brendansudol opened #73 "as a user, i want to be able to see usa map and click on a state..."
to filter down to that state (in sidebar, i think)

[2016-12-20 16:00] brendansudol opened #74 "as user, i want to see tables of data..."
and paginate through results if there are a lot :)

[2016-12-20 16:00] brendansudol opened #75 "as user, i want to see more info when i hover / click on points in charts"

[2016-12-20 16:04] brendansudol opened #76 "svg charts should be responsive"

[2016-12-20 20:51] LarryBafundo commented on #29
@jeremiak: if you have a chance, let me know if you have a chance to finish this off before you leave for vacation.

[2016-12-20 21:32] nicoleslaw commented on #34
I think this is all set for now, but will update as we receive user or stakeholder feedback.

[2016-12-20 21:33] #34 closed

[2016-12-20 23:03] LarryBafundo commented on #7
@AvivaOskow we need to translate the current design direction into the styleguide as part of the upcoming sprint in order to guide the upcoming work on the explorer view. we just need to get this in place, even if things change over the coming weeks.

[2016-12-21 01:31] jeremiak commented on #29
@LarryBafundo I wasn't able to add a Slack integration because I believe you need to be an admin of the NewRelic account to do so. However, I was able to successfully add the node server application to New Relic APM with the name `crime-data-explorer`

[2016-12-21 03:53] brendansudol commented on #7
what do u envision the styleguide looking like @LarryBafundo?

[2016-12-21 15:27] AvivaOskow commented on #7
@LarryBafundo Yep, this is on my docket for today, using the guide from login.gov and updating with our most recent styles.

[2016-12-21 17:32] LarryBafundo commented on #7
@brendansudol will leave it amber and aviva to specify, but i would imagine that it would provide guidance for ensuring that we implement features according to the design - so what fonts to use, color palette, etc.

[2016-12-21 19:24] #72 closed

[2016-12-21 19:25] #73 closed

[2016-12-21 19:29] LarryBafundo opened #78 "Explore - view glossary of terms"
As a user, I want to select a term or definition from the test and view an interactive glossary that tells me what it means.

[2016-12-22 13:55] LarryBafundo commented on #7
relates to https://github.com/18F/crime-data-api/issues/202

[2017-01-03 15:49] jeremiak commented on #1
The "release process" isn't important until we start using 18f/crime-data-style since all the styles are contained in this one repo. For now, we should use @brendansudol's gist above and keep everything documented as appropriately.

I'm closing this issue now since it feels less relevant and has been in progress for two sprints.

[2017-01-03 15:49] #1 closed

[2017-01-03 15:49] #8 closed

[2017-01-03 15:50] jeremiak commented on #49
Completed in 95ed4cfff0c226d809a9c39ebf8a125140ab96f1

[2017-01-03 15:50] #49 closed

[2017-01-03 15:51] jeremiak commented on #46
Basic version completed above. If more work is needed, let's open a more detailed issue

[2017-01-03 15:51] #46 closed

[2017-01-03 15:52] jeremiak commented on #75
Done as of b561aff3f4c9c5e209b2e04467af6ebd74e9eae0, we'll try using react-vis in the data visualization issue.

[2017-01-03 15:52] #75 closed

[2017-01-03 15:59] jeremiak opened #86 "Add /status endpoint that isn't behind basic auth"
To complete #30, we need an endpoint that returns a proper response and isn't not behind basic authentication. This is because New Relic doesn't allow for authentication

[2017-01-03 15:59] jeremiak commented on #30
Blocked until #86 is addressed. Moving out of the current sprint lane as a result

[2017-01-03 17:03] #86 closed

[2017-01-04 00:27] brendansudol commented on #29
shall we close this since NR is in place (and make a new issue for Slack integration)?

[2017-01-04 00:29] brendansudol commented on #78
is this closable, @jeremiak? seems like this functionality is now there

[2017-01-04 18:02] jeremiak commented on #29
No need, the slack integration should be in place now too.

[2017-01-04 18:02] #29 closed

[2017-01-04 18:11] jeremiak commented on #78
Woot, I think so!

[2017-01-04 18:11] #78 closed

[2017-01-04 18:11] #7 closed

[2017-01-04 18:11] jeremiak commented on #30
Accomplished as part of New Relic downtime monitoring

[2017-01-04 18:11] #30 closed

[2017-01-04 18:21] brendansudol commented on #74
done w/ https://github.com/18F/crime-data-explorer/commit/33328dd2047fe754b2ff0316969a333ffe4d6a4a

[2017-01-04 18:21] #74 closed

[2017-01-05 23:25] #31 closed

[2017-01-06 05:33] jeremiak opened #95 "Fetch data from the API based on the filters"
Now that the sidebar filters are all reflected in the app state, we can use them to fetch data from the API to show in the view. This is related to [18f/crime-data-api#239](/18F/crime-data-api/issues/239).

Acceptance criteria:
- [x] Changing the filters in the state object with actions should also trigger API fetches
- [x] Data should be retrieved that can be used to generate a trend line chart (

[2017-01-06 05:37] jeremiak opened #96 "Use localStore to store API data"
After #95 is completed, we can speed up the API response by having the http get method first check to see if the URL/data has been stored in localStorage and returning immediately if it is there. If it isn't there, the method should make the request and cache the data in localStorage to speed up subsequent requests.

[2017-01-06 17:37] #40 closed

[2017-01-06 17:50] jeremiak opened #97 "Implement text strings for explorer view"
We will want the explorer view to have some generated prose to explain what is happening in the charts and tables.

I have some questions regarding the content that I see in [the designs in crime-data-api#247](https://github.com/18F/crime-data-api/issues/247).

---

**Q1:** Do we always compare to 5 and 10 years? Only if they have the same result? For example, should we say:
"Incidents of rape in

[2017-01-09 18:11] jeremiak opened #100 "Return hardcoded data from API handlers"
While we work on finishing #95, I am going to use data we have collected in previous sprints to decouple the interface design from API integration for now. I will use JSON files for:
* incidents
* national summary data (for a single, unlabeled crime)
* state summary data (for a single, unlabeled state with an unlabeled crime)

The API handler in the explorer application should serve as this point

[2017-01-09 18:13] harrisj commented on #100
I am working on a state summary endpoint now, so let me know if you have a JSON file for that already

[2017-01-09 18:16] jeremiak commented on #100
@harrisj Are you currently designing it so that I will make two requests (one for the national data and one for the state level data)? That's the way I've been thinking about it and here is an example of the sort of data I'm using to mock it out:

[code]

As we've discussed before, the population field is probably a better value for you to return than the rate (though feel free to return both :) )

[2017-01-09 18:18] harrisj commented on #100
I can do that. Do you want me to suppress pagination? Sounds like I should make an issue for this in the API github

[2017-01-09 18:19] jeremiak commented on #100
Woot, and yes please to the pagination suppression for this endpoint!

[2017-01-10 04:28] #96 closed

[2017-01-10 17:23] jeremiak opened #105 "Style type of crime sidebar filter to match designs"
![left filter bar copy 4](https://cloud.githubusercontent.com/assets/780941/21816796/65126200-d72f-11e6-9cfd-3a652706b46e.jpg)
<img width="225" alt="screen shot 2017-01-09 at 4 44 28 pm" src="https://cloud.githubusercontent.com/assets/780941/21816797/65288d5a-d72f-11e6-8922-773716502d57.png">

[2017-01-10 17:28] #100 closed

[2017-01-10 17:50] brendansudol opened #106 "summary data should be fetched on initial page load"
![image](https://cloud.githubusercontent.com/assets/1060893/21817766/4e333a1a-d733-11e6-8484-71a0b55e778e.png)

(currently requires a sidebar filter change)

[2017-01-10 18:27] nicoleslaw commented on #45
First take of the trend chart strings are here: https://docs.google.com/document/d/1X0aKqTWcLSFFcBevAUmpP25TpxmgK7Z411MfIEqqlKI/edit#heading=h.dbzzzvli0a3t

[2017-01-10 21:23] nicoleslaw commented on #105
We talked about this yesterday, but for the sake of the thread: let's do `Time Period`. https://www.google.com/trends/explore?q=timeframe,time%20period,time%20range

[2017-01-11 18:07] #106 closed

[2017-01-11 18:34] jeremiak commented on #48
Closing in favor of [18F/crime-data-api#252](https://github.com/18F/crime-data-api/issues/252)

[2017-01-11 18:34] #48 closed

[2017-01-11 18:37] jeremiak commented on #95
Both of the acceptance criteria have been met so I am adding an addition one:
- [ ] Use `incidents/count` endpoint to populate trend data

[2017-01-12 19:20] nicoleslaw opened #116 "Style the glossary"
The glossary tool needs some css + visual refinements. We may also want to update our version of it, re https://github.com/18F/glossary/pull/22

[2017-01-12 19:21] amberwreed commented on #116
Please refer to this sketch file: https://drive.google.com/open?id=0B9bDBpzeNNaXVTBSME9WWDlNSk0

[2017-01-12 23:00] amberwreed opened #118 "Refinements for sprint 3 testing"
**Priorities for Tuesday:**

- [ ] 6. Years for incident details and census data
- [ ] 5. Trend chart:
  - [ ] ability to change scale
  - [ ] number that are dynamic bolded
  - [x] Show rates instead of actual number (Is this possible?)
  - [x] Intro sentence for trend chart
  - [x] Display every year (not every other)
  - [x] Show source
  - [x] Show legend (rate per 100,000)
  - [ ] Add help ti

[2017-01-12 23:02] amberwreed opened #119 "Visual design annotations and sketch clean-up"
In order of priority:

- [x] explorer
- [x] trend charts
- [x] nibs
- [x] Overview / census
- [x] header
- [x] footer
- [x] table

[2017-01-13 18:36] nicoleslaw commented on #118
For the state-level trend chart, the sentence currently says:

I would like it to say:

Here is a more generic sample of that string:

[2017-01-13 21:07] nicoleslaw opened #125 "implement revised copy for the census/police overview"
We should footnote the police data, and I need to recheck the header.

[2017-01-13 22:21] nicoleslaw commented on #118
When you choose `All violent crime`, it should simply say `violent crime` in the body copy, for example:

[2017-01-13 22:31] amberwreed commented on #118
Thanks for all your work! Here's are a couple or remaining things that camp up:
- [ ] Add population to
- [ ] CSV link to button

[2017-01-16 19:14] #95 closed

[2017-01-17 05:07] LarryBafundo commented on #97
in the disclaimer text in the footer we say that estimates are used to derive national and state-level trends. however, this estimates only relate to the summary chart at the top of the page, not the NIBRS dimensions at the bottom of the page, which the average person may also mistake for a "trend." we should more clearly explain what we mean by trend data and how estimates apply.

[2017-01-17 14:17] nicoleslaw commented on #118
And here's a sample for the offender age chart (we could edit the victim sentence similarly):

The years should stop at a range of 9—we had similar feedback previously that 10 or 20 shouldn't be in more than one bucket.

[2017-01-18 00:58] noahmanger commented on #116
👋  Hi! I noticed that you referenced a PR on the glossary here. I totally missed that PR when it was filed, but I'm looking to get that merged in ASAP.

[2017-01-18 01:36] LarryBafundo commented on #118
closing this issue as the remaining changes pertain to sprint 3 testing and not necessarily changes we will want to make for future iterations. changes that are relevant will be reflected in new issues and prioritized in the backlog.

[2017-01-18 01:36] #118 closed

[2017-01-18 02:17] #57 closed

[2017-01-18 15:24] brendansudol commented on #76
this is done-ish -- trend chart is responsive (though we should refine the look when it's smaller a bit more)

[2017-01-18 15:24] #76 closed

[2017-01-18 15:25] brendansudol commented on #47
this changed to be a histogram instead of sparkline, and that is complete

[2017-01-18 15:25] #47 closed

[2017-01-18 15:26] brendansudol commented on #45
trend chart pieces are there; the robo sentence logic needs to be added still, will open new issue just for that

[2017-01-18 15:26] #45 closed

[2017-01-18 15:27] brendansudol commented on #45
actually looks like there is already another issue for that -- https://github.com/18F/crime-data-explorer/issues/97

[2017-01-18 15:27] brendansudol commented on #41
this is done

[2017-01-18 15:27] #41 closed

[2017-01-18 15:31] brendansudol commented on #116
no probs, thanks @noahmanger -- i updated style, now live (https://github.com/18F/crime-data-explorer/pull/132) -- we can take it the last mile during a broader visual refinement push

[2017-01-18 15:31] #116 closed

[2017-01-18 15:32] brendansudol commented on #105
this is done - https://github.com/18F/crime-data-explorer/pull/121

[2017-01-18 15:32] #105 closed

[2017-01-18 15:39] jeremiak opened #134 "Add y axis to age histogram"
We should add the y axis that is shown in the design.

![design for histogram](https://cloud.githubusercontent.com/assets/21244661/21870936/0e667e4c-d82d-11e6-9da8-06ceac2be1a9.png)

[2017-01-18 17:17] LarryBafundo opened #135 "Add automated browser testing (to catch IE 11 bugs in particular)"

[2017-01-18 17:19] LarryBafundo opened #136 "Tighten up the visual style for the Explorer View"
A collection of tasks related to cleaning up the visual style to match design.

@amberwreed, @jeremiak, @AvivaOskow: please work together to enumerate the key aspects as a checklist here, so we can easily track our progress.

[2017-01-18 17:22] LarryBafundo opened #138 "Finish integrating summary crime offenses with backend #304"

[2017-01-18 17:23] LarryBafundo opened #139 "Refactor explorer component and data flow to be simpler"
(_some_ ideas in https://github.com/18F/crime-data-explorer/pull/133)

[2017-01-18 17:24] LarryBafundo opened #140 "Make sidebar collapsable and usable on phones"

[2017-01-18 17:25] LarryBafundo opened #141 "Wire up NIBRS incident detail API endpoint"

[2017-01-18 17:28] LarryBafundo opened #142 "Isomorphic render (so first time visitors won't need javascript)"

[2017-01-18 17:42] LarryBafundo commented on #134
Related to https://github.com/18F/crime-data-explorer/issues/136

[2017-01-19 18:50] nicoleslaw commented on #125
@harrisj Can you share a sample of the police + employee data from Ohio, 2014? I am going to rewrite the Overview section to be more narrative.

[2017-01-19 20:09] harrisj commented on #125
Ohio

|Count|2014|2004|
|------|-----|-----|
|# Agencies|965|729|
|SRS Rate|35%|64%|
|NIBRS Rate|52%|33%

I still am trying to figure out how to do the overall rate (ie, agencies that have submitted SRS or NIBRS). I hope that an increase in NIBRS is why less SRS)

Since participation is at the month level, I picked an arbitrary single month of May in both years to look at the `reta_month` and `nib

[2017-01-19 21:53] nicoleslaw commented on #125
Do you know if the Police Employee data relates to the Reporting data directly, or would it be safer to keep them separate in the Explorer view? Example for Ohio, 2014 from Crime in the U.S.: https://ucr.fbi.gov/crime-in-the-u.s/2014/crime-in-the-u.s.-2014/tables/table-77

12,771 employees
8,692 male officers
924 female officers
1,208 male civilians
1,947 female civilians
196 agencies
4,429,039 es

[2017-01-20 01:16] LarryBafundo commented on #141
This issue is pending DB & API work by @cacraig and @harrisj

[2017-01-20 02:17] harrisj commented on #125
Well, I did the query in the DB like so:

[code]

And I get the following counts from the DB:

33,842 total employees
21,034 male officers
2,344 female officers
4,258 male civilians
6,206 female civilians
965 agencies
 11,690,997 population (from 2013)

This is way higher, so I need to figure out what is happening here

[2017-01-20 02:42] harrisj commented on #125
The [2008 Census of Law Enforcement agencies](https://www.bjs.gov/content/pub/pdf/csllea08.pdf)  (which uses a different metric for counting though) has 831 agencies in Ohio and 25,992 officers

[2017-01-20 18:02] nicoleslaw commented on #125
Maybe we can test against the 2010 number for Ohio based on this report: http://www.publicsafety.ohio.gov/links/ocjs_Statistics.pdf

[2017-01-20 20:10] harrisj commented on #125
Here is the 2010 agency breakdown by type for Ohio

[code]

| agency_type_name      |   count |
|-----------------------|---------|
| City                  |     719 |
| County                |      88 |
| Other                 |      20 |
| Other State Agency    |       3 |
| State Police          |       1 |
| University or College |      28 |

Total count: 859

[2017-01-20 20:18] nicoleslaw opened #143 "refine sidebar callout for other downloads"
Probably best left til we finalize the homepage cards, could be similar copy and style.

[2017-01-20 20:22] nicoleslaw commented on #125
Interesting—can you say what this data means exactly? Is that the total number of agencies that participated that year?

[2017-01-20 20:38] harrisj commented on #125
I _think_ so. To translate the SQL query into something non-technical I basically ran this command:

I don't know if an agency is not included in `ref_agency_county` if it has not participated that year. I am still trying to get some clarification on how to assess participation. I do know that there are 3 different ways of counting agencies out there (UCR, Census of State and Local Law Enforcement

[2017-01-23 15:44] jeremiak opened #144 "Implement homepage design"
@LarryBafundo commented on [Tue Jan 17 2017](https://github.com/18F/crime-data-api/issues/300)

We need to incorporate the feedback we received from Tuesday's testing (notes here: https://docs.google.com/document/d/1LVenQsdnvDu3AP8PHQjCHZb7sYhiAgT7h7C-fMongk4/edit) advance the design for the homepage.

@amberwreed this issue is a place-holder of sorts and may need a checklist of design tasks once

[2017-01-23 17:25] jeremiak commented on #138
Right now we have the following mapping:

Slug from URL  |  `offense` used for API
----------------|-----------------------
aggravated-assault |  Assault
burglary | Burglary
larceny | Larceny
motor-vehicle-theft | Motor vehicle theft
murder | Manslaughter by Negligence
rape | Rape
robbery | Robbery

Remaining crime offenses to map:
- [ ] All Property Crime
- [ ] Arson
- [ ] Cargo Theft
- [ ] All V

[2017-01-23 17:45] nicoleslaw opened #146 "implement LEOKA data table"
I pulled some data for reference, will add to this shortly.

## Cargo Theft

2013-2014: https://drive.google.com/open?id=1yvg3U6wfK1GY31ccUGkrJawQ_E_0Kp2GDqSziFrKB_4

Table 1: Agencies reporting;  Incidents reported;  Value of stolen property;  Value of property recovered

Table 2: Type of property; Value of stolen property;  Value of property recovered

Table 3: Type of offense

Table 4: Type of

[2017-01-23 18:01] nicoleslaw commented on #97
re https://github.com/18F/crime-data-explorer/issues/97#issuecomment-273023845 — I would like to link these more clearly with a callout that says `(includes estimates)` or a footnote-style special character, or (my least favorite option, we could move the text up.

[2017-01-23 19:39] jeremiak opened #147 "Add vulnerability scanning for the express application"
We have to incorporate a vulnerability scanner for anything that has a server. We can use a tool like synk.io

[2017-01-23 19:40] hollyallen commented on #147
Link to ATO issue: https://github.com/18F/Infrastructure/issues/750

[2017-01-23 19:42] afeld commented on #147
* https://pages.18f.gov/before-you-ship/security/static-analysis/#services
* https://github.com/18F/before-you-ship/issues/160

[2017-01-23 19:42] jeremiak commented on #147
Thanks @hollyallen and @afeld.

Flagging this for @LarryBafundo as something we'll need to do pretty soon

[2017-01-23 19:46] LarryBafundo commented on #147
@hollyallen is this something that needs to be prioritized for this sprint? or can it wait a week?

[2017-01-23 19:47] hollyallen commented on #147
It must be done immediately please, today. We should have caught this last week, apologies.

[2017-01-23 19:52] jeremiak commented on #147
@afeld The documentation in the link you posted doesn't have any reference to synk.io but it does reference Code Climate. We are already using Code Climate but I don't see how to specifically satisfy the security requirement. Can you point me to documentation?

[2017-01-23 20:04] hollyallen commented on #147
Gemnasium would be fine as well, as mentioned in slack. Since you are already using that on the api server that may be easier.

[2017-01-23 20:09] jeremiak commented on #135
We are going to use webdriver and Sauce Labs/sauce connect to test IE 11 regressions. We will do this by having a testing command run on every commit/PR that will use the dependencies and server on Circle CI to test the site in IE 11 and ensure that no console errors are thrown on the initial loading of the page

[2017-01-23 21:13] afeld commented on #147
Right — will be adding to close https://github.com/18F/before-you-ship/issues/160.

[2017-01-23 21:16] afeld commented on #147
https://docs.codeclimate.com/docs/nodesecurity

Per [the services table](https://pages.18f.gov/before-you-ship/security/static-analysis/#services), this would only run on `push`, so Gemnasium/Snyk are preferable.

[2017-01-24 04:48] jeremiak commented on #144
Changing this issue to reflect the work of implementing the homepage

[2017-01-24 15:05] #147 closed

[2017-01-24 17:30] nicoleslaw commented on #125
We synced up offline, here's the [updated sample](https://docs.google.com/document/d/1X0aKqTWcLSFFcBevAUmpP25TpxmgK7Z411MfIEqqlKI/edit#) we're working towards:

Ohio had a total number of 11,613,423 residents protected by 25,992 total officers, or about 447 residents per officer. [Download Ohio Police Employee data](/downloads) »

[2017-01-24 19:36] amberwreed commented on #143
Added link to the annotated side nav sketch files for @brendansudol and @jeremiak

[2017-01-24 19:37] #143 closed

[2017-01-25 19:57] nicoleslaw commented on #97
For visibility from Slack, I've updated the draft here: https://docs.google.com/document/d/1X0aKqTWcLSFFcBevAUmpP25TpxmgK7Z411MfIEqqlKI/edit#heading=h.obiyayobx7k5

[2017-01-25 19:58] nicoleslaw commented on #97
I should add: I removed the estimations info in #161 because Larry confirmed our SRS data does not include estimates.

[2017-01-25 22:15] #136 closed

[2017-01-25 22:46] LarryBafundo opened #164 "Add a mechanism for providing user feedback"
We will need a way for users to provide feedback, especially during pilot testing. Currently we allow direct users to our repo, where they can file an issue, but we should have a channel for less technical folks as well.

I suggest we use what FEC has already implemented.

Thoughts @amberwreed, @nicoleslaw, @RyanSibley?

[2017-01-25 22:47] LarryBafundo commented on #164
<img width="1079" alt="screen shot 2017-01-25 at 2 47 37 pm" src="https://cloud.githubusercontent.com/assets/15899668/22312545/260a99bc-e30d-11e6-8b68-6fd7a4976531.png">

[2017-01-26 17:14] cacraig commented on #138
- We don't currently have that mapping on the API side @jeremiak - Until we get the mapping added on the API side to group these together, you'll probably need to aggregate the response based on this mapping from breakdown by offense_names. For example ("Assault", "Muder",...)=>"Violent Crime"
- Can you elaborate, I am not sure I understand the question. Do you have any idea @harrisj  ?

[2017-01-26 17:36] cacraig commented on #138
Nvm Sorry, With SRS we do have the distinction:

[code]

[2017-01-26 18:53] harrisj commented on #138
Here is the mapping at a high level.
https://docs.google.com/spreadsheets/d/1gRN0bjp-2D9OdXtsA53IZsM6inUjBBEzRYK2gbwgGtM/edit#gid=249246828

I think there are several ways we could do this:
SRS category => NIBRS category
SRS category => NIBRS offenses
SRS offenses => NIBRS offenses (we seem to have a 1:1 for this now)

I guess my other question for you is if we just do the mapping SRS <-> NIBRS or

[2017-01-27 15:24] cacraig opened #170 "ATO - Security assessment - Console.log output"
Lots of javascript log output in console that maybe the user doesn’t need to see. Perhaps those belong in the “debug” config of the app instead of the production config.

[2017-01-27 15:25] hollyallen commented on #170
This is critical path for ATO please.

[2017-01-27 15:28] hollyallen opened #171 "ATO - Security Assessment - Possible script injection issue through date ranges"
On the explorer page for a state, it is possible to alter the DOM and put arbitrary text into the "timeTo" and "timeFrom" fields and execute the search. At the very least this should verify that this field is a number.

[2017-01-27 15:42] cacraig opened #172 "Possible script injection issue through date ranges"
We should be filtering/escaping any input from the user to protect against script injection. A vulnerability was found in the date range fields in the ATO security assessment.

[2017-01-27 15:45] brendansudol commented on #170
users don't see the console, do they (unless they open developer tools)?

[2017-01-27 15:47] cacraig commented on #170
True @brendansudol - But we should have these messages disabled in production environments. I think it's a presentation/representation issue.

[2017-01-27 15:51] brendansudol commented on #170
roger, will tweak

[2017-01-27 16:02] cacraig opened #173 "ATO Security Assessment - `View Details` buttons under `Other Data Sets` broken"
Also came up in the ATO Sec. Assessment.

Maybe disable these buttons until we have data/functionality to support it?

[2017-01-27 16:30] cacraig commented on #171
https://github.com/18F/crime-data-explorer/issues/172

[2017-01-27 16:43] cacraig opened #174 "ATO Security Assessment - Frozen glossary bug"
Frozen glossary bug

See: https://crime-data-explorer.fr.cloud.gov/#/explorer/arizona/cookiemonster
     Validate path inputs of the form `/explorer/<state>/<something>`

This may already be addressed by other url parameter scrubbing ticket https://github.com/18F/crime-data-api/issues/333 . If so, carry on, and close this.

Thanks!

[2017-01-27 19:23] jeremiak commented on #170
@hollyallen @cacraig I think this is closed by #175. Please let us know if that's not the case. The changes are now deployed so it is available at https://crime-data-explorer.fr.cloud.gov

[2017-01-27 19:42] LarryBafundo commented on #171
closing because this is captured in #172

[2017-01-27 19:42] #171 closed

[2017-01-27 19:45] LarryBafundo commented on #174
@jeremiak, @brendansudol can you let me know if this issue is still relevant once we've dealt with 18F/crime-data-api#333? If not, let's go ahead and close. thanks.

[2017-01-27 19:51] LarryBafundo commented on #97
@jeremiak changing the title of this issue to reflect implementation of the text strings @nicoleslaw created and will move to the backlog for now per our discussion.

[2017-01-27 20:29] brendansudol commented on #174
yes, this issue will / should be resolved once 333 is deployed -- will double check and report back

[2017-01-27 20:53] brendansudol commented on #174
this is now resolved :)

[2017-01-27 20:53] brendansudol commented on #174
no more 🍪 monsters

[2017-01-27 20:53] brendansudol commented on #174
cc: https://github.com/18F/crime-data-explorer/pull/176

[2017-01-27 20:53] #174 closed

[2017-01-30 16:13] nicoleslaw opened #178 "Caveat: Rape definition - additional detail for converted NIBRS data"
We need to further qualify the rape data for hybrid and NIBRS-only states. See below from the conversion doc:

[2017-01-30 17:01] nicoleslaw opened #179 "Finalize invision test"
### Overview

- [x] Add sentence to top of Overview: `Ohio reports both summary (SRS) and incident-level (NIBRS) data to the FBI.`
- [x] In that sentence, `SRS` and `NIBRS` (or the full-terms?) should link to the glossary terms. (Full text below.)

### Trend Chart
- [x] Change SRS section heading to `Ohio Homicide Rates, 2004–2014`
- [x] Update SRS chart with real data: https://docs.google.com/spr

[2017-01-30 17:09] nicoleslaw commented on #179
![screen shot 2017-01-30 at 12 09 12 pm](https://cloud.githubusercontent.com/assets/94900/22433034/f1366ffa-e6e4-11e6-8075-442357fa51a8.png)

[2017-01-30 17:41] amberwreed commented on #146
Please use the hate crime table annotations to build these charts from.

[2017-01-30 18:05] #170 closed

[2017-01-30 18:20] nicoleslaw commented on #179
@LarryBafundo mentioned that ideally, we should get real data in the NIBRS charts too.

[2017-01-30 19:50] amberwreed commented on #179
@nicoleslaw do you want all three definitions open or should they be there but be closed?

[2017-01-30 21:21] nicoleslaw commented on #179
@amberwreed On the site, it only opens the first one. That is fine with me, but honestly, either way is fine since this is static. I don't have a strong opinion.

[2017-01-31 01:45] nicoleslaw commented on #125
@LarryBafundo Do you want a separate issue for wiring this up?

[2017-01-31 01:47] LarryBafundo commented on #125
thanks; i'll rephrase so that it's focused on it's implementation

[2017-01-31 01:47] nicoleslaw opened #183 "Caveat for change from "homosexual relationship""
This existing caveat needs to change post-2016:

https://ucr.fbi.gov/crime-in-the-u.s/2013/crime-in-the-u.s.-2013/offenses-known-to-law-enforcement/expanded-homicide/expanded_homicide_data_table_10_murder_circumstances_by_relationship_2013.xls

[2017-01-31 02:09] LarryBafundo opened #184 "Content Revisions (Sprint 5)"

[2017-01-31 02:11] #184 closed

[2017-01-31 04:00] #172 closed

[2017-01-31 04:01] #173 closed

[2017-01-31 14:37] nicoleslaw commented on #179
Closing this as the test is ready. Thanks for all of your help, @amberwreed and @AvivaOskow!

[2017-01-31 14:37] #179 closed

[2017-01-31 15:18] #141 closed

[2017-01-31 15:23] nicoleslaw commented on #183
Per FBI:

We are just telling them, of the codes we collect, here is what is added together for publication.  I’m not positive we have definitions for each code.

[2017-01-31 15:30] nicoleslaw commented on #183
Suggestion from Fureigh:

[2017-01-31 15:40] nicoleslaw opened #187 "Develop hate crime visualizations"
I will add sample sentences here for you to work with shortly.

[2017-01-31 16:55] nicoleslaw commented on #187
Synced with Aviva about this page: https://ucr.fbi.gov/hate-crime/2015/topic-pages/incidentsandoffenses_final

Sample:

## Religious Bias ([table](https://ucr.fbi.gov/hate-crime/2015/tables-and-data-declarations/1tabledatadecpdf))

In 2015, there were 1,354 religious hate crimes reported by law enforcement.

[2017-01-31 18:09] jeremiak commented on #144
This is closed. Any specific changes should be reflected in a new issue

[2017-01-31 18:09] #144 closed

[2017-01-31 18:18] jeremiak commented on #138
Right now we have most of the crimes wired up. I think the front end team will punt on doing the "All violent crime"/"All property crime" until we get an API endpoint that does that aggregation for us.

[2017-01-31 18:41] nicoleslaw opened #191 "Homepage tiles for other datasets"
Write content and wire it up.

[2017-01-31 18:45] nicoleslaw opened #192 "NIBRS charts: Clean up NIBRS sublabels"
UPDATE: clean up the following:

- [ ] combine location / "other (33)" and "unknown", into a new location category called other/unknown.
- [ ] remove the numbers from things like "other (33)" and "other (34) 0 those are probably just entry numbers

[2017-01-31 19:00] nicoleslaw opened #193 "A11y checks"
Check in with Nick Bristow on the current designs and prototype.

[2017-01-31 19:01] nicoleslaw opened #194 "Map About the Data content"
- by crime
- by location
- further reading

[2017-01-31 19:10] nicoleslaw commented on #97
@jeremiak Here is the latest example for your reference: https://docs.google.com/document/d/176gV_zGD8URXHaDczHtpQm9NF4L91aLa92Et7QqHzww/edit#

[2017-01-31 19:28] nicoleslaw opened #195 "Develop dataset descriptions"
We need to work with the FBI to develop dataset descriptions for all of the pre-made downloadable CSVs.

Lori has the worksheet and sample I developed, which is here: https://docs.google.com/document/d/1FgqlS_Hz-hAnK29Igu56qSSUOqpNvUbkgIpOFfzUtn8/edit

As a side note, these will truncate at around two sentences on the main Downloads page.

Ryan is following up this week to check on their progress.

[2017-01-31 19:37] nicoleslaw opened #196 "Develop About page content"
We need to work with the FBI to develop the About section of the site. Based on what we've heard from users and the FBI, I put a rough outline together here in the working file: https://docs.google.com/document/d/1PsaDktLptLgos22vYtQg1yCdIirULeWIhIKZvtlnJq8/edit

Feel free to take ownership of this and make it into whatever you think it should be for the MVP.

[2017-02-01 00:46] LarryBafundo commented on #139
@jeremiak my understanding is that we were able to address some of this during sprint 4. can we rephrase this card to more narrowly define what we want to tackle as part of sprint 5?

[2017-02-01 01:10] LarryBafundo opened #198 "Provide NIBRS data for bulk downloads ("downloads and documentation list view")"
As a user, I want to download all incident data for a selected state and year.

This user story consist of the following tasks:

- [ ] run a script to generate bulk downloads of NIBRS data by state and year.
- [ ] make these files available on S3 for download as a CSV

[2017-02-01 01:12] LarryBafundo commented on #146
this issue relates to https://github.com/18F/crime-data-api/issues/350, which involves the downloading of table-based data

[2017-02-01 01:13] LarryBafundo opened #199 "Finalize design for the "downloads and documentation" view"
these designs illustrate how a user will be able to access bulk downloads as part of the CDE

[2017-02-01 01:14] LarryBafundo opened #200 "Design mockup for the "about page""
- [x] about the data
- [x] participation table design / map

[2017-02-01 05:07] amberwreed commented on #146
https://drive.google.com/open?id=0B5cw7Ca2CjsyVWpoMnZkWktkeTQ

[2017-02-01 05:16] amberwreed commented on #134
@LarryBafundo can we close this because it is taken care of in #348?

[2017-02-01 05:24] amberwreed opened #201 "Design breakpoints"
From Brendan:

so we have three breakpoints, and we get to determine what they are — right now they are set at 640px, 832px, 1024px, but that’s pretty arbitrary. and we don’t need to use all of those if we don’t want to (i.e., we could just have 1); at each breakpoint, a couple things could change — margins could go from 32 to 16 for instance, or a thing that takes up half the screen (50%) could b

[2017-02-01 05:25] amberwreed commented on #201
Issue moved to [18F/crime-data-style #2](https://github.com/18F/crime-data-style/issues/2) via [**ZenHub**](https://www.zenhub.com/)

[2017-02-01 05:25] #201 closed

[2017-02-01 05:27] amberwreed opened #202 "Design breakpoints"
@amberwreed commented on [Tue Jan 31 2017](https://github.com/18F/crime-data-api/issues/357)

@amberwreed commented on [Tue Jan 31 2017](https://github.com/18F/crime-data-style/issues/2)

@amberwreed commented on [Tue Jan 31 2017](https://github.com/18F/crime-data-explorer/issues/201)

From Brendan:

so we have three breakpoints, and we get to determine what they are — right now they are set at 64

[2017-02-01 05:29] amberwreed opened #203 "Add NIBRS map to link from the "downloads and documentation" view"
This issue covers the following tasks:

- [x] design the NIBRS map
- [x] link to it from the CDE

![nibrs dna](https://cloud.githubusercontent.com/assets/13576520/22496155/45d54ff0-e7fc-11e6-84bb-a56f808567c6.png)

[2017-02-01 16:24] jeremiak opened #204 "Implement new incident detail chart designs"
@LarryBafundo commented on [Tue Jan 31 2017](https://github.com/18F/crime-data-api/issues/348)

This task relates to the implementation of the new incident detail chart designs:

- [ ] donut chart for demographics
- [ ] histogram for age distribution
- [ ] vertical bar chart for other details
- [ ] robo text for interactive charts

cc: @amberwreed, @AvivaOskow

---

@LarryBafundo commented on [Tue

[2017-02-01 16:24] jeremiak opened #205 "View national trends by crime type"
@LarryBafundo commented on [Tue Jan 31 2017](https://github.com/18F/crime-data-api/issues/351)

As a user, I want to be able to view national trends & aggregated incident details by crime type and location from the homepage and the explorer view.

Note: we will never show incident details when "all violent" or "all property" crime is selected, regardless of location. This is because the aggregatio

[2017-02-01 16:25] jeremiak opened #206 "Selected explorer view refinements (sprint 5)"
@LarryBafundo commented on [Tue Jan 31 2017](https://github.com/18F/crime-data-api/issues/356)

A collection of prioritized tasks related to refinement of the homepage:

- [ ]  freeze placement of the lefthand navigational bar while scrolling vertically up or down the page.

[2017-02-01 16:26] jeremiak opened #207 "Implement revised footer design"
@amberwreed commented on [Wed Jan 25 2017](https://github.com/18F/crime-data-api/issues/324)

- [x] FE design implement trend chart per annotated sketch file
- [x] Visual design review for design consistency
- [ ] Add FBI/CDE logos
- [x] View related links from footer

---

@jeremiak commented on [Tue Jan 31 2017](https://github.com/18F/crime-data-api/issues/324#issuecomment-276444398)

As far as

[2017-02-01 16:27] jeremiak opened #208 "Homepage refinements"
@LarryBafundo commented on [Tue Jan 31 2017](https://github.com/18F/crime-data-api/issues/354)

A collection of tasks related to refinement of the homepage:

- [ ]  add an error prompt for when a location or crime type isn't selected prior to viewing results
- [ ]  add rollover states for selected states on the map
- [ ]  view the name of states upon rollover (to make it easier to identify smaller

[2017-02-01 17:13] #134 closed

[2017-02-01 20:25] nicoleslaw opened #209 "Define LEOKA tables/charts"
@LarryBafundo Reminder to get a sample from the most recent year of data we have. (DONE)

I will work with @AvivaOskow on planning out the charts and content.

[2017-02-02 15:27] nicoleslaw opened #210 "Launch post"
Cowrite a launch announcement. FBI has given us a 👍  thumbs-up on writing about this, but we should run it by them as a courtesy before going through the usual outreach approval process.

[2017-02-02 15:31] nicoleslaw opened #211 "Trend chart: Special treatment for rape trend chart (Explorer View)"
UPDATE as of 3/7: we are simplifying this issue for now to focus on just showing when the revised definition for rape comes into effect on the trend chart. @amberwreed can you please post a screenshot of what that looks like per the latest design?

We will explore how we might show the breakdown of rape by definition over time during the workshop and consider alternatives for future iterations.

-

[2017-02-02 16:29] amberwreed opened #212 "Add a home Link / button to Header"
- [x] @AvivaOskow to update annotated file
- [ ] FE team to implement

[2017-02-02 16:33] amberwreed opened #213 "Set default / first time visit to Explorer page"
As a user, if I click on the Explorer link in the header, before navigating to data in from the home page, I see a populated default view of the nation, all violent crime, for the last 10 yrs of data we have available.

[2017-02-02 16:34] amberwreed commented on #213
@jeremiak This is my proposed solution for the problem with the homepage and explorer. Please let me know if you have concerns. One of the things I like about this is that is gives people a preview of what types of things that they'll see from this page, without having to search. Only bummer is that "All Violent Crime" doesn't include NIBRS attributes.

[2017-02-02 16:53] amberwreed commented on #199
![downloads v2](https://cloud.githubusercontent.com/assets/13576520/22559139/11d92c60-e925-11e6-8d6c-489098b562ea.jpg)

[2017-02-02 16:54] amberwreed commented on #199
@cacraig Does this match your thinking with downloads?
@nicoleslaw Can you take a look at content for this page?

[2017-02-02 21:01] nicoleslaw commented on #209
So far, it seems like we only have totals for assaults on officers by state and year.

[2017-02-02 21:06] nicoleslaw commented on #209
@AvivaOskow Unless I hear otherwise, I think we'll just have one table with the states and it will change by year: https://docs.google.com/spreadsheets/d/1M_OV34SJ1ecXES0ceu3MBcqJvuY8ZkWRTcYEad53jsc/edit#

[2017-02-02 21:35] nicoleslaw commented on #209
@LarryBafundo Colin and I don't think this data is right—the totals are not anywhere near the ones on CIUS. I am not sure how to solve that, but wanted to flag it here before I sign off for the day.

[2017-02-02 21:38] nicoleslaw commented on #192
@jeremiak Can you tell me where we're storing the labels for the NIBRS dimension charts (for example `Drug Store/Dr. s Office/Hospital` is part of the `Location type` chart.)? Are those coming directly from the API? I would like to copyedit some of them so they're clearer to users.

[2017-02-02 21:56] jeremiak commented on #192
Those come straight from the API, but we could do some simple cleanup on the front end if you would like

________________________________
From: Nicole Fenton <notifications@github.com>
Sent: Thursday, February 2, 2017 4:38:46 PM
To: 18F/crime-data-explorer
Cc: Jeremia Kimelman; Mention
Subject: Re: [18F/crime-data-explorer] Clean up NIBRS chart sublabels (#192)

@jeremiak<https://github.com/jerem

[2017-02-02 22:51] amberwreed opened #217 "Explorer – design updates based on sprint 4 research"
Refine overview, participation, sizing, and links to better support users.

[2017-02-02 22:55] amberwreed commented on #146
@LarryBafundo if confirming with the FBI if we will include tables in the explorer view. Pls hold off implementation.

[2017-02-02 23:15] LarryBafundo commented on #146
that's right, but just to clarify, i'm going to explain that we just have LEOKA/assault data and it's just counts by year, state, and ORI. I can explain that we can display that as a table, or remove it from the scope of the MVP. We will not propose scraping the data from the UCR website.

[2017-02-03 00:06] LarryBafundo commented on #209
Hold off on this for now. I have an email out to Sammy and the team explaining what data we have access and what our options may be. I made a case for removing LEOKA from the scope of the MVP, but let's see how they respond.

[2017-02-03 15:24] jeremiak commented on #192
@nicoleslaw If you wanted to put a mapping of what is currently in the UI/API and what you would like to see in the UI, we can implement it

[2017-02-03 15:43] jeremiak commented on #212
In this case, what does the "Explorer" header item link to?

[2017-02-03 15:50] jeremiak commented on #212
Discussion for this is happening in #213

[2017-02-03 16:35] jeremiak commented on #213
@amberwreed I like those defaults, and I see the value in having the user be able to get to the explorer view without needing to interact with the homepage form.

[2017-02-03 17:38] nicoleslaw commented on #209
Okay, here's the revised data from Colin. There are definitely some errors/outliers but it's mostly lining up with CIUS: https://docs.google.com/spreadsheets/d/1ncy9_McJHPPT5ehL6WHfG81MME8R22UGJQrSd7wAqak/edit#

[2017-02-03 17:53] LarryBafundo commented on #209
@nicoleslaw i haven't had a chance to look at it carefully yet, but what kind of outliers are we talking about? and aren't we expecting differences between what we show in the CDE and CIUS in general?

let me know if you want me to pitch this dataset back over to CJIS and ask them how we should interpret the differences.

[2017-02-03 18:39] nicoleslaw commented on #209
I flagged some of them in the document. I think we should send this back and ask them to validate it.

[2017-02-03 19:47] LarryBafundo commented on #209
we decided to show the following as a table:

https://docs.google.com/spreadsheets/d/1ncy9_McJHPPT5ehL6WHfG81MME8R22UGJQrSd7wAqak/edit

I am going to follow-up with CJIS about the outliers that @nicoleslaw highlighted here and will update the tread when I get a response.

cc: @amberwreed, @cacraig, @jeremiak

[2017-02-03 19:50] LarryBafundo commented on #146
UPDATE: we are going to show LEOKA data as a single table as described here: https://docs.google.com/spreadsheets/d/1ncy9_McJHPPT5ehL6WHfG81MME8R22UGJQrSd7wAqak/edit#gid=1248356520

It should be accessible by the "LEOKA" data link from the explorer view.

cc: @nicoleslaw, @brendansudol

[2017-02-03 20:11] #194 closed

[2017-02-03 20:16] nicoleslaw commented on #192
@jeremiak Can you share what is in the API because it differs a bit from what I got from the documentation and some could be combined?

[2017-02-03 20:34] amberwreed opened #221 "Homepage Visual Refinements"
- [x] Make it possible to select nation from list
- [x] Remove Human Trafficking and Cargo theft from list of crimes
- [x] Update glossary icon
- [x] Down arrow should scroll page instead of jump to bottom
- [ ] Use design for disabled button
- [ ] Buttons above map aren't using correct padding (should be 24 for edge)
- [ ] Dropdowns should be longer and button should be smaller
- [x] Use dropdown

[2017-02-03 20:48] jeremiak commented on #135
We're putting this on hold for now as it took longer than expected and isn't on the list of priorities for the MVP.

I will update the pull request issue with the blockers I ran into.

[2017-02-03 20:52] jeremiak commented on #140
Done

[2017-02-03 20:52] #140 closed

[2017-02-03 21:06] AvivaOskow opened #223 "Explorer - Side Navigation Refinements"
- [x] Selected **state dropdown** should be dark blue, and use dropdown icon we provide
- [x] **Time Period:** allow user to select longer than 10 year range
- [ ] Italic helper text under time period should dynamically generate based on selected state— **or should be removed**
- [x] Remove **cargo theft** and **human trafficking**
- [ ] Start "Location" 24px below top (so that Location is aligned

[2017-02-03 21:12] jeremiak commented on #223
@cacraig and @nicoleslaw do we have some sort of list/matrix/table that outlines what states have the data for which years? I'm looking at the following issues from above:

* "Italic helper text under time period should dynamically generate based on selected state— or should be removed"
* "Time entry boxes: dropdown arrow to menu for year selection, instead of little up/down arrow that changes the

[2017-02-03 21:19] jeremiak commented on #223
@AvivaOskow Re: "Time Period - "Period" should be capitalized" - we have not been doing this across the application, including in the crime filter which is "Type of crime" and the "About the data" section. Does this mean we should capitalize everything else? I think Nicole has generally been forgoing title case for start case

[2017-02-03 21:20] nicoleslaw commented on #223
This is the closest thing we have. We may need to map this to participation over time: https://docs.google.com/spreadsheets/d/1APcLiophXeeDrkhjMCULq1NJR1rbhrdkRPUyzV2OT_0/edit#gid=0

I am using title case now because of the complexities of all of their Branded Terms.

[2017-02-03 21:21] jeremiak commented on #223
Just posting here that I think the following things will be lower priority given the larger lift of styling browser input components:

* Selected state dropdown should be dark blue, and use dropdown icon we provide
* Time entry boxes: dropdown arrow to menu for year selection, instead of little up/down arrow that changes the year (should only show years available for selected state)

[2017-02-03 21:37] jeremiak commented on #192
I'm not sure if this is a complete list, I think we'd need to ask @harrisj or @cacraig for that one. Here is what I've gotten from the API for the location name field.

[code]

Here is what I have for the relationships:
[code]

[2017-02-03 22:58] LarryBafundo commented on #203
@amberwreed propose that this is only available with the bulk download, same with the glossary of terms. the other downloads (from explorer) should be relatively straightforward.

[2017-02-03 23:02] LarryBafundo commented on #208
closing this as its already covered by 224

[2017-02-03 23:02] #208 closed

[2017-02-03 23:09] amberwreed commented on #223
@jeremiak I agree that the time entry box being a dropdown of years available is low priority but I would put making the arrows for adding or subtracting a year more user friendly. An alternate option would be to allow the user to type into the time box and removing the arrows.

[2017-02-03 23:11] amberwreed opened #224 "Replace placeholder icons"
Use custom icons provided in drive (https://drive.google.com/open?id=0B5cw7Ca2CjsySGM5Y2lIdlpwUmc) instead of default icons.

Replace

- [ ] Glossary
- [ ] Download
- [ ] Dropdown arrow
- [ ] Arrow for link list
- [ ] Social media

[2017-02-03 23:35] amberwreed commented on #202
See latest mobile designs. The explorer view is annotated in the same sketch file as the desktop view in drive. @brendansudol

[2017-02-03 23:38] amberwreed opened #225 "Trend Chart Visual Refinements"

[2017-02-06 15:26] nicoleslaw commented on #192
I do think we're missing some of the location types there. @harrisj Could you post the full list from the API for me?

Here's the edited list for victim relationship. I think we can remove "Victim Was" for scannability as the header is clear.

### Victim’s Relationship to Offender

Acquaintance
Babysittee
Boyfriend or Girlfriend
Child
Child of Boyfriend or Girlfriend
Common-law Spouse
Employee
Emp

[2017-02-06 15:48] harrisj commented on #192
@nicoleslaw This is what I have

| Location Name|
|----------------|
| Abandoned/Condemned Structure       |
| Air/Bus/Train Terminal              |
| Amusement Park                      |
| Arena/Stadium/Fairgrounds/Coliseum  |
| ATM Separate from Bank              |
| Auto Dealership New/Used            |
| Bank/Savings and Loan               |
| Bar/Nightclub                       |
| Camp/Camp

[2017-02-06 15:53] nicoleslaw commented on #191
First take:

### Arrests

See arrest totals reported by law enforcement agencies across the nation for 28 offenses, including violent crime, property crime, fraud, weapons and drug violations, and common misdemeanors.

### Clearances

This data counts the number of offenses known by law enforcement that were cleared by arrest or exceptional means. One arrest may clear or close several offenses in

[2017-02-06 16:56] jeremiak opened #226 "Type-in desired time range (Explorer View)"
@LarryBafundo commented on [Tue Jan 31 2017](https://github.com/18F/crime-data-api/issues/352)

As a user, I want to set a time range for the data I am viewing by typing in the year, rather than having to click through a number of years.

[2017-02-06 18:17] jeremiak commented on #191
@nicoleslaw Let's hardcode this for now. When we revisit the handoff, let's think about how we can refactor the content out (if we think we need it)

[2017-02-06 18:23] nicoleslaw commented on #192
Here's a first take.

- Sorry to disappoint, but I don't want to mess with the `Cyber`.

- Will recheck with FBI on `School/College` and `School - College/University`.

- We should combine `Not Specified` and any `null` entries into `Unknown`.

---

### Location Type

Abandoned/Condemned Structure
Air/Bus/Train Terminal
Amusement Park
Arena/Stadium/Fairgrounds
ATM Separate from Bank
Auto Dealershi

[2017-02-06 21:19] nicoleslaw commented on #192
@LarryBafundo Do you mind looking at my work above? Let me know if that works for a first edit.

[2017-02-06 23:37] LarryBafundo commented on #223
hey @amberwreed is the expectation that all of these refinements should be completed by the end of the sprint? or is there a priority among them? one that catches my eye is the removal of cargo theft and human trafficking, as its not something we'll include as part of the MVP.

[2017-02-06 23:42] LarryBafundo commented on #207
@jeremiak: i'm going to send another reminder to Sammy about having him send us the FBI/CJIS logos we should use in the footer.

@nicoleslaw: have we defined all of the "related links" in the footer yet? for example, what pages will we link to for "accessibility," "privacy policy", etc.?

<img width="1095" alt="screen shot 2017-02-06 at 3 41 11 pm" src="https://cloud.githubusercontent.com/assets/1

[2017-02-06 23:51] amberwreed commented on #223
No. We are not expecting that all will get completed. We need to prioritize
the list.

On Mon, Feb 6, 2017 at 3:37 PM, Larry Bafundo <notifications@github.com>
wrote:

--
-------------------------
*Amber Reed*
Visual Design Supervisor
18F

[2017-02-07 00:07] LarryBafundo commented on #192
hey @nicoleslaw i think this looks good! in general, i think we should stick as close as possible to the FBI's original classifications, but the changes you've made make sense to me.

[2017-02-07 00:14] LarryBafundo commented on #209
@nicoleslaw i think we close this out, as we've defined the LEOKA content that will be available in the CDE MVP. Also noting here that we brought up a few "outliers" (more likely "mistakes") in the data with the FBI team earlier today during our core team call. I'm going to follow-up with and maintain our position that 18F is only responsible for presenting the data made available to it from UCR a

[2017-02-07 00:15] LarryBafundo commented on #196
@nicoleslaw referencing https://github.com/18F/crime-data-explorer/issues/209 here, to remind ourselves that we need to explain that the CDE simply presents the data made available to it - errors and all - and that if folks have specific questions about the data, they should contact CJIS comms.

[2017-02-07 00:21] LarryBafundo commented on #211
@amberwreed propose moving this to the backlog for sprint 6

[2017-02-07 00:23] LarryBafundo commented on #196
labeled as "blocked" since we're waiting on inputs from CJIS

[2017-02-07 00:32] LarryBafundo commented on #138
@jeremiak, when you have a chance, could you please update this issue with the offenses that have not yet been wired up yet (if any)? I know that you are still waiting on the "all violent" and "all property" endpoints.

[2017-02-07 00:36] LarryBafundo opened #230 "***Post MVP***"

[2017-02-07 05:02] amberwreed commented on #211
Sounds good. Let's plan on tackling this in sprint 6.

On Mon, Feb 6, 2017 at 4:21 PM, Larry Bafundo <notifications@github.com>
wrote:

--
-------------------------
*Amber Reed*
Visual Design Supervisor
18F

[2017-02-07 05:40] amberwreed opened #231 "Overview visual refinements"
Overview refinements:

Higher priority:
- [x] Remove time period from title
- [x] Update robo text to match latest from @nicoleslaw
- [ ] Work with @harrisj to include participation rates
- [ ] Add related links to the right of text (pls confirm links @nicoleslaw)
<img width="172" alt="screen shot 2017-02-06 at 9 37 08 pm" src="https://cloud.githubusercontent.com/assets/13576520/22679126/9d4e5ee0-

[2017-02-07 05:45] amberwreed commented on #209
@LarryBafundo Before closing, can we confirm that we have an issue for implementing the LEOKA data as a table? Our last conversation with @brendansudol and @jeremiak was that we wouldn't be showing tables in the explorer view. This has changed.

[2017-02-07 18:49] nicoleslaw commented on #231
Links will be, for example:

* Ohio UCR program
* Ohio UCR participation
* Ohio Police Employee data
* Ohio population data

I've written up the UCR program links in yml, the other ones would be dynamic from our data.

[2017-02-07 18:52] nicoleslaw commented on #207
Let's cut Accessibility and Privacy Policy for now. License will link to the license in the API repo; Feedback will link to open an issue in whichever repo you decide you want that to go to.

[2017-02-07 21:13] LarryBafundo opened #235 "Investigate how to include arson in Ret_A offense table"
Currently arson is not included in the Ret_A offense table, which we use to derive summary counts for our various violent and property crime offenses. This may be due to the fact that arson is not subject to the hierarchy rule and so it's treated differently in the database.

We need to investigate how we can add arson to our implementation so that a user can query data by the arson offense and so

[2017-02-07 21:50] LarryBafundo commented on #138
@jeremiak I moved this to in progress

[2017-02-07 22:02] AvivaOskow commented on #187
@nicoleslaw is this ok to close? Since we covered this when I was doing Hate Crime and NIBRS refinements last week? I think this got covered here: https://github.com/18F/crime-data-api/issues/309

[2017-02-07 22:15] harrisj commented on #235
Right now there is a separate table for arsons that is somewhat similar which has multiple `arson_month_by_subcat` records linked to a single agency/month that look like so

| Column                  | Type     | Modifiers   |
|-------------------------|----------|-------------|
| arson_month_id          | bigint   |  not null   |
| subcategory_id          | bigint   |  not null   |
| reported_cou

[2017-02-07 22:40] #217 closed

[2017-02-07 23:22] amberwreed commented on #207
@AvivaOskow We need to rework the design to accommodate for the lack of logos, new links, and removed links.

[2017-02-07 23:24] LarryBafundo commented on #146
@brendansudol: i'm pulling this back into "to do" because we need to regroup on the approach for showing LEOKA data as a table. we have a meeting on 2/8 to discuss. I'll revise the issue based on the outcome of that discussion.

[2017-02-07 23:43] LarryBafundo commented on #198
This issue is about enabling users to download NIBRS data in bulk. Whereas the explorer view allows for the downloading of selecting aspects of incident data, this is where a user can get all of the data for a given state and year.

The files will be pre-generated and made available from S3, as explained in: https://github.com/18F/crime-data-api/issues/347.

[2017-02-07 23:56] LarryBafundo commented on #207
@amberwreed renaming this issue as "adjust header/footer design" based on new logo requirements.

[2017-02-07 23:59] LarryBafundo commented on #207
proposed CDE logo:

![crime-data-explorer-logo c 1](https://cloud.githubusercontent.com/assets/15899668/22717161/55bcefd4-ed4e-11e6-9495-dd942fbe2642.png)

[2017-02-08 00:00] LarryBafundo commented on #198
![downloads documentation](https://cloud.githubusercontent.com/assets/15899668/22717191/7b184f26-ed4e-11e6-9697-9b830c4310a0.jpg)

[2017-02-08 00:06] LarryBafundo opened #237 "Download "other datasets" (downloads & documentation view)"
As a user, I want to download "other summary-based datasets" as a CSV.

These datasets include:

Hate crime
Human trafficking
Cargo theft
Police employee data
Arrest data
LEOKA
UCR participation

@harris: while this is a secondary (sprint 6+) priority for now (with the downloading of bulk NIBRS data as the first priority) we should talk about how these datasets would be provided and what level of

[2017-02-08 00:09] LarryBafundo opened #238 "View data details prior to download (downloads and documentation view)"
As a user, I want to view the details associated with a dataset, such as data type and the year last updated, prior to downloading it.

![dataset details](https://cloud.githubusercontent.com/assets/15899668/22717429/d8637a2e-ed4f-11e6-8273-bba505492d8a.jpg)

[2017-02-08 00:10] #206 closed

[2017-02-08 00:11] LarryBafundo commented on #135
@jeremiak can this be closed due to https://github.com/18F/crime-data-explorer/pull/154?

[2017-02-08 00:13] LarryBafundo opened #239 "Include data dictionary in NIBRS downloads"
As a user, I want the zip file that I download with NIBRS data to include a data dictionary so I can better understand how the data is organized and what the various headings mean.

For the MVP, this data dictionary should be based on the terms provided in the UCR spec manual.

[2017-02-08 00:15] LarryBafundo commented on #239
this issue references https://github.com/18F/crime-data-explorer/issues/203 as both provide context for the user when downloading data. eventually (post MVP), they may be included as part of a single download package.

[2017-02-08 00:19] amberwreed commented on #198
Here's a link to the annotated file.
https://drive.google.com/open?id=0B5cw7Ca2CjsyczlqQkR2eUxOWU0

On Tue, Feb 7, 2017 at 4:00 PM, Larry Bafundo <notifications@github.com>
wrote:

--
-------------------------
*Amber Reed*
Visual Design Supervisor
18F

[2017-02-08 00:22] amberwreed commented on #199
@LarryBafundo is this a repeat of #198?

Here's a link to the annotated files for downloads: https://drive.google.com/open?id=0B5cw7Ca2CjsyczlqQkR2eUxOWU0

[2017-02-08 00:30] LarryBafundo commented on #199
@amberwreed this issue refers to the design work. the other one is about enabling the functionality.

[2017-02-08 01:20] amberwreed commented on #209
Here are 2 different ways of handling it. I think I prefer keeping it on the explorer page.

![home leoka](https://cloud.githubusercontent.com/assets/13576520/22719292/991fdc04-ed59-11e6-879a-2d29605f20d6.jpg)
![explorer leoka](https://cloud.githubusercontent.com/assets/13576520/22719293/9926319e-ed59-11e6-8784-f96606363cc1.jpg)

[2017-02-08 15:56] nicoleslaw opened #240 "Change mentions of murder to homicide in Explore"
There are a few places in the Explorer view that say `Murder` (nav, URL paths, headings). These should say `Homicide` like the homepage, because we're showing a mix of murder and nonnegligent manslaughter data as defined by UCR. I will work on resolving any confusion around these terms in the glossary in a separate issue. cc @LarryBafundo

[2017-02-08 15:57] nicoleslaw commented on #187
Sounds good to me, but Larry is the keeper of the boards.

[2017-02-08 15:59] nicoleslaw commented on #192
I think this is ready for you @jeremiak — I haven't heard from the FBI on my comment about `School/College` yet but we can leave them as is for now.

[2017-02-08 16:03] jeremiak commented on #138
I didn't realize that we had a `classification` option as well, so I think I've got all the crimes in there besides "arson" in 241

[2017-02-08 16:05] nicoleslaw opened #242 "Resolve confusion between homicide and murder in Glossary"
- [x] Make it clear justifiable homicide is not included in visualized data

- [x] Work to refine or combine glossary terms so they're closer to the info in how the crimes are counted

[2017-02-08 16:08] nicoleslaw opened #243 "Caveat: Burglary hotel rule"
See https://ucr.fbi.gov/additional-ucr-publications/ucr_handbook.pdf and https://ucr.fbi.gov/nibrs/nibrs_dcguide.pdf for reference content.

This should go under `How these crimes are counted` in About the data.

[2017-02-08 16:12] nicoleslaw opened #244 "Caveat: Historical bias in gender, race, ethnicity fields"
Suggestion from a user: explain why the FBI doesn’t collect nonbinary gender identities under `Sex`, for example.

We may need to put this under About or repeat throughout the NIBRS charts. I have a separate issue for the now-deprecated `Homosexual Relationship` label: #183

[2017-02-08 16:19] #187 closed

[2017-02-08 16:34] harrisj commented on #138
When arson is added as part of https://github.com/18F/crime-data-api/issues/364, those counts should show up automatically without any changes on your part

[2017-02-08 16:58] nicoleslaw commented on #183
Initial draft. Reaching out to Fureigh for feedback:

## Victim relationship to offender

Until 2016, the FBI recorded all same-gender couples as acquaintances under the `Homosexual Relationship` label. This code is no longer in use. After same-sex marriage was [upheld as a constitutional right in 2015](https://www.supremecourt.gov/opinions/14pdf/14-556_3204.pdf), the FBI started collecting crimes

[2017-02-08 17:18] nicoleslaw opened #245 "Clarify trend chart does not include estimates"
Try in a branch:

Option 1: `Source: Summary (SRS) data reported by Ohio, 2004–2014 (does not include estimates)`

Option 2: `Rate per 100,000 people (does not include estimates)`

Amber prefers opt 2 at first glance.

---

Relatedly: I received feeback that the `Rate per 100,000 people` label should include the crime type for clarity.

[2017-02-08 18:27] brendansudol opened #246 "Revise formatting of NIBRS data descriptions to limit whitespace"
if there are large numbers (i.e., 1,234,567) and then you switch to "percent" mode, there is a lot of whitespace which looks weird -- a couple solutions: we could format the numbers so that they take up less space (i.e., 1.2M) or we could make the column width dynamic so that the whitespace is uniform across the views

[2017-02-08 18:45] jeremiak commented on #246
Here is the issue described above:
![feb-08-2017 13-42-28](https://cloud.githubusercontent.com/assets/780941/22751963/a1505128-ee04-11e6-9199-1e08a039b0c3.gif)

And here is the current state/@brendansudol's solution:
<img width="391" alt="screen shot 2017-02-08 at 1 08 31 pm" src="https://cloud.githubusercontent.com/assets/780941/22752004/d4474744-ee04-11e6-8afc-0b0c105527ac.png">

[2017-02-08 18:47] nicoleslaw opened #247 "Update homepage tiles"
Change to LEOKA, Hate Crime, and other with a summary calling out Arrests, Clearances, Police Employee Data, incidents, etc...

[2017-02-08 18:52] jeremiak opened #248 "NIBRS related dimensions do not reflect the crime/offense"
Right now, we don't pass anything about the crime or offense to the API endpoints that return the data used for the NIBRS dimensions. Therefore, those charts will not change based on the crime type but only on the time period and location.

Those charts should be reflective of the values in the sidebar, crime type included.

[2017-02-08 18:59] jeremiak commented on #248
To be clear, I think this is a front end related bug. I think that @harrisj pointed out the `GET /victims/count/states/{state_id}/{variable}/offenses` endpoint which I think will suffice for getting the requisite data to fix this bug.

[2017-02-08 19:08] jeremiak opened #249 "Remove Hate Crime and LEOKA from Sidebar component"
For the first iteration, we will be providing access to hate crime and LEOKA data through the downloads page and not through the explorer view. Thus, we should remove them from the sidebar's crime type filter component

Refs #146

[2017-02-08 19:12] jeremiak commented on #240
@nicoleslaw Can you take a look on the live prototype URL and see if this is resolved? I believe it is

[2017-02-08 19:32] LarryBafundo commented on #198
@cacraig just a reminder that we definitely want to test the downloading of bulk NIBRS data as part of this sprint (with testing being next Tuesday). If all of the files aren't ready by then, let's talk about what we can show by Tuesday.

[2017-02-08 19:33] LarryBafundo commented on #235
@harrisj can i close this issue, which if focused on investigation, in favor of https://github.com/18F/crime-data-api/issues/364, which is about implementation?

[2017-02-08 19:39] nicoleslaw commented on #240
LGTM!! 🎉

[2017-02-08 19:39] #240 closed

[2017-02-08 19:40] LarryBafundo commented on #138
let's keep this open until arson is available. i'll mark as blocked for now .

[2017-02-08 19:47] nicoleslaw opened #250 "Call out when agency participation spikes"
We should let readers know when agency participation has changed as that can greatly influence trend data. Here's an example string to append:

Add to the existing trend sentence: `, with {X} more agencies reporting since last year.` when there’s more than 2-5% more agencies reporting since last year — I will defer to @harrisj on what is statistically significant.

I am not sure if participation d

[2017-02-08 19:56] harrisj commented on #250
To be honest though, I also wonder what is the best measure of a change in participation:

1. Total agency numbers
2. Change in "covered population" (ie, adding up the populations within those agency's jurisdictions)
3. Change in reports filed. Like should we distinguish between N% more agencies reporting (even if some of those only filed one report in a 12-month period) or should we note that N%

[2017-02-08 20:26] LarryBafundo opened #251 "Download bulk NIBRS data by state and year (downloads and documentation list view)"
As a user, I want to download bulk NIBRS data by selecting the state and year I want data for.

[2017-02-08 20:27] LarryBafundo opened #252 "Download "other data sets" as a CSV ("downloads and documentation list view")"
As a user, I want to download other data sets as a CSV from the downloads and documentation list view.

This issue relates to the data set descriptions being developed here: https://github.com/18F/crime-data-explorer/issues/195

[2017-02-08 20:29] LarryBafundo commented on #251
This issue refers to adding UI elements that are consistent with the latest design for the D&D list view. It is dependent on the data being made available for download as described in https://github.com/18F/crime-data-explorer/issues/198.

[2017-02-08 20:29] LarryBafundo commented on #251
@amberwreed can you please post the latest design for the downloads and documentation list view here?

[2017-02-08 20:32] LarryBafundo commented on #252
For the MVP, we will make the following datasets available as a CSV from this page:

Hate crime
Human trafficking
LEOKA
Arrests
Clearances
Police employee data

[2017-02-08 20:36] LarryBafundo commented on #146
i am closing this issue as we are now going to make LEOKA data available as a download, rather than as a table in the explorer view. I will create a separate issue for hate crimes and add it to the backlog

[2017-02-08 20:36] #146 closed

[2017-02-08 20:37] LarryBafundo opened #253 "View hate crime data in the explorer view"
As a user, I want to view hate crime data and visualizations as part of the explorer experience

[2017-02-08 20:38] LarryBafundo commented on #253
i need to work with @amberwreed and @harrisj, @cacraig to clarify the design approach and what the API can readily support. We will see if we can get to this as part of sprint 6.

[2017-02-08 20:51] amberwreed commented on #209
@LarryBafundo We agreed to link to a CSV from the homepage. @nicoleslaw will update the homepage content.

[2017-02-08 21:23] jeremiak opened #254 "Missing source of trend chart data"
As a user, it should be easy for me to find the source of the data that is used to generated a visualization or a download.

Refs [crime-data-api#308](/18F/crime-data-api/issues/308)

[2017-02-08 21:25] jeremiak opened #255 "Trend chart: line shouldn't ever go above the top horizontal bar"
Let's try and use 4 horizontal bars  for the trend chart and keep the charted line below the top of the Y axis.

Refs [crime-data-api#308](/18F/crime-data-api/issues/308)

[2017-02-08 21:28] #225 closed

[2017-02-08 22:06] LarryBafundo commented on #125
hey @nicoleslaw, @harrisj what's the status of this? based on the thread, it looks like the content is in place and just needs to be implemented?

[2017-02-08 22:09] harrisj commented on #125
There is police data in the `/geo/states/NY' or such endpoints. My concern is that my counts aren't the same as some figures listed in the Crime In The US reports for some prior years

[2017-02-08 22:14] LarryBafundo commented on #255
@jeremiak is this a bug and should it be labeled as such?

[2017-02-08 22:17] LarryBafundo commented on #250
this issue relates to https://github.com/18F/crime-data-api/issues/363

[2017-02-08 22:23] nicoleslaw opened #256 "Truncate NIBRS attributes to top 12"
The NIBRS charts are supposed to have a truncated list with a `+ More` tab. See @amberwreed's annotated design files in Drive for reference.

[2017-02-08 22:23] LarryBafundo commented on #125
why might the counts differ? unlike crime, i'm assuming this data doesn't include estimates in the CIUS reports

[2017-02-08 22:33] LarryBafundo opened #257 "Show supplemental homicide data for states that report SRS data"

[2017-02-08 23:45] harrisj commented on #125
I don't think we got an answer, but I think we were concerned that the counts for total police in
Ohio in 2014 seem different

My calculations say 23,376 police officers in Ohio in 2014, but in [Crime in the US 2014, the figure they give is 12,771](https://ucr.fbi.gov/crime-in-the-u.s/2014/crime-in-the-u.s.-2014/tables/table-77) which is a pretty big difference.

[2017-02-09 00:16] LarryBafundo commented on #125
@harris, i don't remember sending them an email about this, did you? if so, can you forward it to me so I can follow-up? we can also try sending Justin this issue directly, but we'll need to explain how we're going to about deriving these counts.

[2017-02-09 00:24] harrisj commented on #125
I thought we had discussed it or I had mentioned it, but I don't see an email, so I will go ahead an email them about it now if you don't mind

[2017-02-09 00:27] LarryBafundo commented on #125
Great, thanks. I appreciate it. In the meanwhile, could we show this info in the sprint 5 build while we wait for clarification from CJIS?

[2017-02-09 00:36] amberwreed commented on #251
Here are the latest annotated files: https://drive.google.com/open?id=0B5cw7Ca2CjsyczlqQkR2eUxOWU0

[2017-02-09 00:47] jeremiak commented on #139
@LarryBafundo I'm just going to close this card. The general approach @brendansudol and I will take is to have each PR make small improvements to the code quality through reorganization, refactoring and expanding test coverage. In this sense, we don't really have a discrete bit of work to be represented by this card.

[2017-02-09 00:47] #139 closed

[2017-02-09 15:24] harrisj commented on #125
It's already in there. I will email them about the discrepancy

[2017-02-09 16:05] RyanSibley commented on #195
We had a call with Lori and her team on Tuesday and they said they'd have something for us by Friday.

[2017-02-09 16:33] jeremiak commented on #205
@LarryBafundo & @amberwreed - what are we planning on showing in place of the NIBRS stuff when a user has selected the national view?

[2017-02-09 16:34] LarryBafundo commented on #205
We should show the NIBRS data as normal, except for when all violent and all property crime is selected.

[2017-02-09 16:35] jeremiak commented on #255
Sure, we can label it like that.

[2017-02-09 16:36] LarryBafundo commented on #205
My understanding is that this sort of aggregation of incident data at the national level is supported by the API -- if for some reason it's not, we should add an issue to the backlog and treat the national perspective just as we would a state that doesn't report NIBRS, like California. We have an issue for this type of "no data" state, but its not slated for implementation until sprint 6.

[2017-02-09 16:40] RyanSibley commented on #196
I'm working on answering questions inspired by the outline Nicole provided:

- What specific things are we making possible by providing the data in the CDE?
- How are we making the data available in a more timely fashion?
 -What efforts have the FBI made to make this possible?
- How is this data more dynamic than previous releases?
- Makedata more easy to access and understand -- for who and why?

[2017-02-09 16:43] LarryBafundo commented on #196
thanks. this looks great. however, the 2nd point is a bit challenging. i'm not sure what you and nicole have in mind, but timeliness is definitely a weakness of the current UCR program and the CDE really won't do much to affect that directly. in the end, we are just providing a window into the data, we're still dependent on getting updated data from new UCR. @RyanSibley, but if you're interested,

[2017-02-09 16:47] RyanSibley commented on #196
This is great context. I'll Lori about the task force and see if there are any general statements about the effort we can make in text about  it.

[2017-02-09 17:19] amberwreed commented on #212
@jeremiak I'm adding this now. I don't like it but we can test. Do you have any other ideas?

[2017-02-09 18:08] jeremiak commented on #97
@nicoleslaw I have a question about the structure of [this spreadsheet](https://docs.google.com/spreadsheets/d/1APcLiophXeeDrkhjMCULq1NJR1rbhrdkRPUyzV2OT_0/edit#gid=0).

Is it fair to conclude the following?
* If a state is SRS only, then we should not show the NIBRS elements on the page
* If a state is NIBRS only, it will have SRS data derived so we should show both trends and NIBRS
* If the stat

[2017-02-09 19:43] amberwreed commented on #209
@nicoleslaw I assigned this to you because it's no longer a design implementation issue but a content issue. Thanks.

[2017-02-09 19:49] amberwreed commented on #97
@jeremiak @nicoleslaw I updated the annotated explorer page to include a sentence in the NIBRS title bar (per our last round of testing.) Not sure if this is dynamic or not.

[2017-02-09 19:57] amberwreed commented on #204
@jeremiak @brendansudol Here's the latest files. https://drive.google.com/open?id=0B5cw7Ca2CjsyOW5ncDFlVkZwQkU

[2017-02-09 19:58] amberwreed commented on #199
@LarryBafundo should this be closed?

[2017-02-09 20:34] #119 closed

[2017-02-09 20:49] amberwreed commented on #212
@jeremiak @brendansudol new header footer with home link, removed logos (and moved nav below logotype to mirror mobile), and new websites for cjis and fbi. https://drive.google.com/open?id=0B5cw7Ca2CjsyaEtGWWxLTFl3bFU

[2017-02-09 20:50] amberwreed commented on #207
Made changes and updated file but logo designed by FBI is still outstanding. We should discuss and propose a solution. @LarryBafundo

[2017-02-09 22:02] #199 closed

[2017-02-09 22:02] jeremiak commented on #199
Design for #251 #252

[2017-02-09 22:02] amberwreed commented on #251
See conversation a

[2017-02-10 00:17] nicoleslaw commented on #244
From FBI:

[2017-02-10 00:25] nicoleslaw commented on #209
Closing this in favor of #247

[2017-02-10 00:25] #209 closed

[2017-02-10 00:28] nicoleslaw commented on #97
Yes. The one additional caveat I would add (and this may be phase 2) is we may want to have a "little to no data" message for some situations. Ex: Indiana only has one participating NIBRS agency, Mississippi only has 4.

[2017-02-10 00:29] nicoleslaw commented on #245
Depends on #254

[2017-02-10 00:56] amberwreed commented on #97
Let's start a list of messages / error states we need to design for.

On Thu, Feb 9, 2017 at 4:28 PM, Nicole Fenton <notifications@github.com>
wrote:

--
-------------------------
*Amber Reed*
Visual Design Supervisor
18F

[2017-02-10 01:10] nicoleslaw commented on #183
For now, I am going with `sex` instead of `gender` but am tracking that larger question in #244

[2017-02-10 01:42] amberwreed commented on #211
@nicoleslaw @brendansudol Here are some ideas for how to deal with a legacy and revised rape trend line. Let's discuss.
![revised definition 5](https://cloud.githubusercontent.com/assets/13576520/22810669/15fa4ff2-eeef-11e6-8dad-73b0dca6cd82.png)
![revised definition 4](https://cloud.githubusercontent.com/assets/13576520/22810673/15ff8422-eeef-11e6-92cc-31476bd050f7.png)
![revised definition 3](ht

[2017-02-10 01:43] amberwreed commented on #211
The pink boxes are our prosed way of showing no data available. We may want to adjust that based on which direction we go ahead with.

[2017-02-10 01:51] nicoleslaw commented on #191
Closing this in favor of #247

[2017-02-10 01:51] #191 closed

[2017-02-10 15:40] #247 closed

[2017-02-10 15:40] #183 closed

[2017-02-10 16:15] jeremiak opened #267 "Add a YAML linter to `npm run lint` command"
Having invalid YAML breaks the application, so we need to make sure that the app doesn't deploy with bad content. I think the best way to do this is to add a YAML linter to the lint command.

[2017-02-10 17:21] jeremiak opened #270 "Total shown in <TrendChartDetails /> is not accurate"
Instead of using data from the API, it looks like we're doing a little bit of math in [`TrendChartDetails.js`](https://github.com/18F/crime-data-explorer/blob/master/src/components/TrendChartDetails.js#L77) to multiply the rate by "98" to get the "total".

We should use the data from the API for this value.

Related to #308

[2017-02-10 17:52] jeremiak commented on #205
Ok, well we should open a new issue to reflect the work of adding NIBRS dimensions to the national view, since that's definitely outside of the state scope of this card.

I think this card is ready for your acceptance/review @LarryBafundo

[2017-02-10 17:52] nicoleslaw opened #272 "Markdownify our yml"
Yml under `About the data` currently shows Markdown instead of links.

[2017-02-10 17:57] LarryBafundo commented on #205
okay, i will add a new issue and include it in the backlog for sprint 6.

[2017-02-10 17:58] jeremiak opened #273 "Implement new loading state design"
Implementation card related to [crime-data-api#362](https://github.com/18F/crime-data-api/issues/362).

Design:
![design implementation for loading state](https://cloud.githubusercontent.com/assets/13576520/22770228/b1078840-ee43-11e6-88fe-f8c65db3a890.png)

[2017-02-10 17:59] LarryBafundo opened #274 "View national NIBRS details by crime type"
As a user I want to view national incident (NIBRS) details by crime type.  We will never show incident details for "all violent" and "all property" crime queries.

[2017-02-10 18:02] LarryBafundo commented on #207
@amberwreed can we implement your latest changes without making a decision on how we'll handle the logo? my recommendation is to ignore the logo for now.

[2017-02-10 18:12] jeremiak commented on #273
Potential spinner animated svg here: https://github.com/jxnblk/loading/blob/master/loading-spin.svg

[2017-02-10 18:23] harrisj commented on #125
I got a clarification about the discrepancy and will do a PR to fix the issue in https://github.com/18F/crime-data-api/issues/368

[2017-02-10 18:30] jeremiak commented on #135
No, we closed 154 because it wasn't in a functional state and was quickly falling behind in tracking `master`

[2017-02-10 20:03] brendansudol commented on #255
we already set a target number of gridlines to 4 -- not sure there is more we can do here (https://github.com/18F/crime-data-explorer/blob/master/src/components/YAxis.js#L4)

[2017-02-10 20:20] amberwreed commented on #207
Agreed.

On Fri, Feb 10, 2017 at 10:02 AM, Larry Bafundo <notifications@github.com>
wrote:

--
-------------------------
*Amber Reed*
Visual Design Supervisor
18F

[2017-02-10 21:32] nicoleslaw commented on #245
I would like to remove `/ Year` from the key and edit that text. Here are two options to choose from.
My issue with the second option is I find the language of `Rapes per 100,000 people` or `Arsons per 100,000` people to be awkward and more upsetting than using `rate` within the phrase.

Option 1:
![screen shot 2017-02-10 at 1 46 17 pm](https://cloud.githubusercontent.com/assets/94900/22844886/342

[2017-02-11 01:55] amberwreed opened #280 "Trend chart design for update"
As a user, I can see the different trend lines after the revision of the rape definition in 2013. The trend chart is formatting is consistent across all crimes.

@brendansudol @jeremiak Here's a link to the latest trend chart file.
https://drive.google.com/open?id=0B5cw7Ca2CjsyZEFGcUE0V1BBaWM
![trend chart](https://cloud.githubusercontent.com/assets/13576520/22850166/01fca09c-efba-11e6-8c72-ca5030

[2017-02-11 01:57] amberwreed opened #281 "Trend chart: Label trend chart lines with name"
Please add name of line to the beginning of line.
@brendansudol Let's discuss the feasibility of this.

![revised definition and no data](https://cloud.githubusercontent.com/assets/13576520/22850186/5f27832c-efba-11e6-9841-989e33fe247c.png)

[2017-02-11 02:11] LarryBafundo commented on #245
i think i prefer the second option for brevity and because its clear from the chart that we are working with rates.

[2017-02-11 02:12] LarryBafundo commented on #97
okay to close this issue? if we find one-off issues that need to be addressed we can file separate issues for them.

[2017-02-11 02:14] LarryBafundo commented on #251
@brendansudol okay to move this into "in progress"?

[2017-02-11 02:15] LarryBafundo commented on #235
@harrisj, going to close this as you seem to already have moved onto implementation

[2017-02-11 02:15] #235 closed

[2017-02-13 06:32] #267 closed

[2017-02-13 15:20] nicoleslaw commented on #245
After talking with Ryan more, I want to make it explicit that we're looking at rates here even though you can figure that out with the top-right info after a bit of thinking. I also want to err on the side of spelling things out per Jim, and being sensitive with the language. I do not ever want to equate instances of a crime as a victim as a pluralized noun, and it starts to read that way for me f

[2017-02-13 15:23] nicoleslaw commented on #97
Can we talk about the definition of done for this—for example, the state-level data (first sentence) isn't working right now. Ex: Texas has NIBRS data, but only says SRS.

I think it would be helpful to review larger implementation tasks before closing them out?

[2017-02-13 15:40] jeremiak commented on #97
I wouldn't close this until:
* 271 is merged
* Nicole's point is addressed by adding more of the participation data to this JSON blob: https://github.com/18F/crime-data-explorer/blob/master/data/ucr-program-participation.json

I think we can do both today

[2017-02-13 15:58] nicoleslaw commented on #274
When there is a weapon chart, Jim N. (FBI's statistician), recommended labeling it `Weapon Type` — I am not sure that is clearer than `Weapon` or `Weapons Involved` but wanted to log that here because it's possible there was more than one handgun, for example. The FBI does not count the individual weapons as much as the type of weapons involved in the crime.

[2017-02-13 16:24] nicoleslaw opened #283 "All violent/property crime label in Explore"
When we're showing the `All Violent Crime` data in Explore, the labels should say `Violent Crime` on the charts, and not include `all` in the text. Same goes for `All Property Crime`.

![screen shot 2017-02-13 at 11 23 45 am](https://cloud.githubusercontent.com/assets/94900/22891939/e68c4138-f1de-11e6-9385-92d1d8b898c6.png)

[2017-02-13 16:47] jeremiak opened #284 "Change the units in the NIBRS cards"
Right now, all of the NIBRS cards state that there were "X incidents", but we should use different nouns depending on what the card is showing. The reason for this is because all of the cards rely on different data and reporting 4 different total incident numbers is confusing ([see comment on #271](https://github.com/18F/crime-data-explorer/pull/271/#issuecomment-279012279)).

The nouns are:
* X v

[2017-02-13 16:48] LarryBafundo commented on #97
@nicoleslaw sorry, i was trying to catch up over the weekend and thought we were further along with this at first glance.

[2017-02-13 17:32] AvivaOskow opened #286 "Homepage: update data downloads boxes"
<img width="1048" alt="screen shot 2017-02-13 at 12 08 04 pm" src="https://cloud.githubusercontent.com/assets/21244661/22894751/1b4f6cac-f1e8-11e6-975a-8baae8a12871.png">

Make boxes all the same height, with buttons aligned (so if less text in one, just more space between text and button).

[2017-02-13 17:39] #242 closed

[2017-02-13 17:44] brendansudol commented on #224
https://github.com/18F/crime-data-explorer/pull/287

[2017-02-13 17:44] #224 closed

[2017-02-13 17:52] jeremiak commented on #252
This issue is _most_ programmatically done but the content/data sets can be adjusted by editing the [`/content/datasets.yml`](https://github.com/18F/crime-data-explorer/blob/master/content/datasets.yml)

[2017-02-13 17:52] AvivaOskow commented on #286
#221

[2017-02-13 17:53] brendansudol commented on #223
in light of recent convo with nicole, will leave sidebar titles sentence-cased

[2017-02-13 18:55] nicoleslaw opened #288 "Don't use decimals in small counts on NIBRS charts"
I understand why we'd use a decimal over 1.2k for example, but we shouldn't use decimals when the integer is less than 10 (or 1000), for example: https://crime-data-explorer.fr.cloud.gov/#/explorer/indiana/aggravated-assault

This is confusing and overly precise.

[2017-02-13 20:11] jeremiak opened #292 "Enable NIBRS tables with more than 12 items to be expanded (Explorer View)"
Now that the NIBRS table doesn't necessarily show all the data and limits the rows to 12, there should be a way for the user to expand the data (beyond just downloading it) and see all of the data.

The part of #256 that wasn't done by #279

[2017-02-13 20:13] jeremiak commented on #256
Most of this was done and is ready for testing tomorrow. The remaining work is captured in 292 to be prioritized and slated accordingly.

[2017-02-13 20:13] #256 closed

[2017-02-13 20:21] nicoleslaw opened #294 "Don't truncate race categories"
Heard some feedback that truncating the race categories is confusing and offensive.

After talking with Amber, it sounds like a design implementation issue — please see the annotated NIBRS files on Drive for reference.

[2017-02-13 22:00] jeremiak commented on #198
I think this should be closed in favor of #251

[2017-02-13 22:03] #245 closed

[2017-02-14 04:01] jeremiak commented on #249
Closed by 9f478868724b78fe0bed214d9340fe5e8718a04e

[2017-02-14 04:01] #249 closed

[2017-02-14 07:06] LarryBafundo opened #299 "National trends (summary) are not accessible from the homepage or the explorer"
A user should be able to view crime trends for a specific offense from the homepage or from the explorer view by selecting, "united states + offense."

[2017-02-14 07:07] LarryBafundo commented on #299
this issue refers to this story: https://github.com/18F/crime-data-explorer/issues/205

[2017-02-14 07:12] LarryBafundo commented on #138
@jeremiak, @harrisj reopening this issue because aside from all violent, all property, and the arson requests we're also having trouble with larceny and motor vehicle theft. one leads to a 404 and the other simply displays no data.

[2017-02-14 07:14] #198 closed

[2017-02-14 07:17] LarryBafundo commented on #252
@cacraig, last minute, but could you generate a hate crime data set (based on what is available currently via our API) and make it available on S3 prior to testing as well?

[2017-02-14 07:21] LarryBafundo commented on #251
@jeremiak in talking with amber earlier today, we were wondering if we could make the following enhancements to this story prior to testing tomorrow:

1) add state names to the drop-down, instead of just the initials for each state (so PA would read as Pennsylvania)
2) name the downloaded zip file "state + year NIBRS"

Let me know what you think and if these requests need to have separate issues.

[2017-02-14 15:37] harrisj commented on #138
@jeremiak Are you using the explorer offense for this yet? I am getting data back when I call

- https://crime-data-api.fr.cloud.gov/incidents/count/?explorer_offense=motor-vehicle-theft
- https://crime-data-api.fr.cloud.gov/incidents/count/?explorer_offense=larceny

[2017-02-14 16:08] nicoleslaw commented on #244
Questions that have come up in critique this week:

* What is considered Asian?
* How does the FBI count mixed or multi-racial people?

[2017-02-14 16:20] jeremiak commented on #251
@LarryBafundo 301 should fix the first point you raised, but the second one is going to have to be handled by @cacraig since the file is named and I just download it off of S3.

[2017-02-14 16:21] #254 closed

[2017-02-14 16:27] nicoleslaw opened #302 "Caveats for September 11"
Add a note under Homicide and Violent Crime for 9/11. Report link: https://ucr.fbi.gov/crime-in-the-u.s/2001/01sec5.pdf

LEOKA note: https://ucr.fbi.gov/leoka/2001/leoka01.pdf

Hate Crime: https://ucr.fbi.gov/hate-crime/2001/hatecrime01.pdf

[2017-02-14 16:47] #273 closed

[2017-02-14 16:49] LarryBafundo commented on #251
@cacraig could we rename the zip files that we download (the bulk NIBRS dataset) "state_year_NIBRS" instead of the state ID# that you're currently using?

[2017-02-14 17:13] jeremiak commented on #251
@LarryBafundo I think we can but given that it would likely require @cacraig to alter and re-run his scripts and it would take a code change in the Explorer application let's close this issue since it is done and open a discrete issue for renaming that file

[2017-02-14 17:13] #251 closed

[2017-02-14 17:13] #299 closed

[2017-02-14 17:16] jeremiak commented on #97
I think this is now ready for review @nicoleslaw and @LarryBafundo. From my perspective, it should be working.

[2017-02-14 17:17] jeremiak commented on #205
I believe this is done with 299 being merged

[2017-02-14 17:17] #205 closed

[2017-02-14 17:43] nicoleslaw opened #305 "Downloads overview text"
Also replace Amber's placeholder sentence about NIBRS with something in plain language. User suggested:

- See crimes broken out by different categories (e.g., offense, location, offender, victim)

[2017-02-14 18:02] nicoleslaw opened #306 "Caveat: crime is jurisdictional"
Updated to say: We need to make it clear that crime is reported on a jurisdictional level, and some offenses are reported by state police or a sheriff's office rather than local police, for example.

[2017-02-14 18:31] nicoleslaw opened #307 "UCR glossary term"
Say more about the program being voluntary and the FBI's role in collecting and publishing the data.

Data is only as good as the states provide.

[2017-02-14 18:46] nicoleslaw opened #308 "Make `how these crimes are counted` more uniform"
- [x] Review the NIBRS manual
- [x] Add more detail where appropriate

[2017-02-14 20:56] amberwreed commented on #205
Can you confirm that you can view national trends from the homepage?

On Tue, Feb 14, 2017 at 9:17 AM, Jeremia Kimelman <notifications@github.com>
wrote:

--
-------------------------
*Amber Reed*
Visual Design Supervisor
18F

[2017-02-14 21:45] LarryBafundo commented on #97
assigning this to you @nicoleslaw for review.

[2017-02-14 21:47] AvivaOskow opened #309 "Homepage: Add error message when clicking on disabled button"
From #221 list (breaking out for prioritization)

In annotated designs for homepage, second page "Interactions"
https://drive.google.com/open?id=0B9bDBpzeNNaXRjN6TDd6NjhsbGs

[2017-02-14 21:52] AvivaOskow opened #310 "Homepage: Add rollover state names for map"
From #221 list (breaking out for prioritization)

Designs in second page "interactions" of annotated homepage file:
https://drive.google.com/open?id=0B9bDBpzeNNaXRjN6TDd6NjhsbGs

[2017-02-14 21:54] AvivaOskow commented on #212
From #221 list (broken out for prioritization)

[2017-02-14 21:55] LarryBafundo commented on #251
okay will do.

[2017-02-14 22:11] AvivaOskow opened #311 "Homepage: red down arrow scroll page instead of jump"
From #221 list (breaking out for prioritization)

Feedback from sprint 5 testing that the arrow was confusing and slightly arbitrary...either we should remove or make page scroll instead of jumping down?

[2017-02-14 22:32] LarryBafundo commented on #252
going to close this out and create a new issue for the remaining tasks in support of this view.

[2017-02-14 22:32] #252 closed

[2017-02-14 22:34] LarryBafundo commented on #248
@jeremiak could we please have a status update on this (or close if resolved) tomorrow?

[2017-02-14 22:44] LarryBafundo commented on #212
@AvivaOskow,  i updated the to do list at the top of this card to show that you updated the annotated file.

[2017-02-14 22:45] LarryBafundo commented on #196
@RyanSibley i'm going to close out this issue as it pertains to the "foundational" work we did for sprint 5. let's create new issues for whatever we tackle in sprint 6.

[2017-02-14 22:45] #196 closed

[2017-02-14 22:47] LarryBafundo commented on #195
@RyanSibley can you please provide an update on this issue tomorrow?

[2017-02-14 22:47] #200 closed

[2017-02-14 23:08] LarryBafundo opened #312 "Add related links for state-based queries (Explorer View)"
As a user, I want to view related data for the state-based queries I've conducted. These links include:

- [X] <state name> UCR program info
- [x] population data
- [x] Agency participation info

The link for "UCR program info" is already in place and takes the user to that state's UCR program website. Now we need to include links for the state population data and agency participation. Both links

[2017-02-14 23:17] LarryBafundo commented on #138
Here's where stand as of 2/14:

from the homepage:

- [ ] national trends for any crime type are not available from the homepage
- [ ] requests to view all violent or all property crimes result in a 404 from the homepage (however; they work from the explorer view)

from the explorer view:

- [ ] arson results in a 404 or crashes the app (this is being addressed by a separate collection of tasks)
-

[2017-02-14 23:24] LarryBafundo commented on #212
Also relates to: https://github.com/18F/crime-data-explorer/issues/212

[2017-02-14 23:39] LarryBafundo commented on #211
@jeremiak, @brendansudol we've made a decision on design direction here, please refer to the annotated designs on drive. also, to clarify, we will label a year as "insufficient data" only when no data was received for that year.

[2017-02-14 23:46] LarryBafundo commented on #231
@amberwreed i have a new issue written for implementing the "related links"; should we close this issue for a new one that is only focused on the highest priority design refinements for sprint 6? we can keep track of lower priority items via the method we discussed earlier today.

[2017-02-15 00:03] LarryBafundo commented on #280
closed in favor of: https://github.com/18F/crime-data-explorer/issues/211

[2017-02-15 00:04] #280 closed

[2017-02-15 00:05] LarryBafundo commented on #283
relates to https://github.com/18F/crime-data-explorer/issues/138

[2017-02-15 00:13] #231 closed

[2017-02-15 00:22] LarryBafundo opened #313 "Implement the About Page"
As a user, I want to view background about the UCR program and the different data types involved, the goals and limitations of the CDE, and a static map of the national UCR participation by state.

@amberwreed can you please associate the latest designs for this page here.

[2017-02-15 00:26] LarryBafundo opened #314 "Prioritized API Documentation"
for the MVP, we need to include additional documentation that explains the basics of the API - such as high-level capabilities and types of data it provide access to. We can then test this description with users and refine as we go.

- [ ] Add basic overview of filters and grouping and how the API is organized (#350)
- [x] Open up API key registration in [api.data.gov](https://api.data.gov/) and g

[2017-02-15 00:37] amberwreed opened #315 "Remove hardcoded text referring to data availability (explorer view)"
Remove hard coded text under time period boxes.

[2017-02-15 00:40] LarryBafundo commented on #255
@brendansudol if we can't increase the vertical scale of the chart, can we move the trend lines down, so that they're below the highest horizontal bar?

[2017-02-15 00:48] LarryBafundo opened #316 "Single download & toggle for offender & victim incident details"
A couple of improvements to our current implementation for downloading IBR within the explorer view:

- [ ]  there should be a single download action for offender and victim demographics - that is, only one download link is needed to download data on age of offenders, race of offenders, and sex of offenders. The single download link should be under sex of offender data.
- [ ]  similar to above, we

[2017-02-15 00:49] amberwreed opened #317 "Default age of offender and age of victim to highest not oldest"
As a user, I should see the age of offender and victim with the most incidents as a default.

[2017-02-15 01:02] amberwreed commented on #207
@jeremiak see updated annotated files on drive.

[2017-02-15 01:15] LarryBafundo opened #318 "Provide overview for national perspectives"
As a user I want to read some introductory text about the national crime perspective that i am viewing - similar to what I can see at the state-level.

[2017-02-15 01:16] LarryBafundo commented on #318
this issue relates to https://github.com/18F/crime-data-explorer/issues/274

[2017-02-15 01:18] amberwreed opened #319 "Downloads and Documentation content"
- [ ] Add descriptions for crime data api and documentation
- [ ] Add a description for the download of incident based data

[2017-02-15 01:19] amberwreed opened #320 "About page NIBRS content"
Nibrs link should include the manual, definitions of group A and B offenses, and offense definitions

[2017-02-15 01:21] amberwreed opened #321 "UCR Program glossary definition"
UCR definition on the homepage… good place to discuss that this is a voluntary program and data is only as good as the states provide.

[2017-02-15 01:23] amberwreed commented on #239
Include NIBRS map (see issue #), common pitfalls when interpreting the data, and definitions.

[2017-02-15 01:27] amberwreed opened #322 "About: develop a section or visual about the data's chain of custody"
- [ ] As a user I should understand that the data in the CDE is not processed
- [ ] As a user I should know where the data has come from (chain of custody)
- [ ] As a user, I should understand that there will be variances between the CDE and the CIUS reports and why.
~~- [] As a user, I understand what crimes are included in the CDE and the difference between group A and B offenses.~~

[2017-02-15 01:29] amberwreed opened #323 "About page: Contact us"
As a user, I am able to contact individuals with questions about the data or api from the About page.

[2017-02-15 02:38] LarryBafundo commented on #211
is backend support needed to fulfill this story, or is the data we need readily available?

[2017-02-15 15:36] #288 closed

[2017-02-15 15:46] brendansudol commented on #311
where should it scroll to?

i would be in favor of simply removing it... what do u all think?

[2017-02-15 18:44] jeremiak commented on #226
The real bug here is that the time filter interaction is not usable and is confusing because of having to select year with a single year increment, along with the page reflowing with each change.

Perhaps let's use something like a select menu here for now instead of a `[type="number"]`

[2017-02-15 18:50] jeremiak opened #325 "NIBRS loading indicator can spin for forever and gives the user no feedback"
There is a clear usability bug with the NIBRS container, in that the loading indicator can spin indefinitely. If the request is actually taking a while, that is fine, but it doesn't appear that way in the interface because the trend data is displayed. If the API request has failed, then either the app should try to recover gracefully or should give the user some useful/actionable feedback.

[2017-02-15 18:53] jeremiak commented on #325
I want to note that I think this bug is illustrative of a larger problem, which is that we currently have no mechanism to handle failed API requests.

[2017-02-15 18:55] jeremiak opened #326 "The trend chart is broken on mobile"
Right now, the trend chart goes off the edge on a mobile device but it should allow the user to scroll horizontally to view all of the data at a decent font/number size

[2017-02-15 19:05] jeremiak opened #327 "Set up an application for user testing"
We want to be able to freeze application development in advance of user testing, so the best way to do that is to create another application/`manifest.yml` that we can use to deploy the application.

I suggest we use the url `crime-data-explorer-demo.fr.cloud.gov` for now

[2017-02-15 19:11] amberwreed opened #328 "Revisiting homepage without changing search breaks app"
As a user, if I visit the homepage after visiting the explorer view and don't make any changes to my search, the view results button doesn't take me back to the explorer view.

@jeremiak

[2017-02-15 19:44] amberwreed commented on #313
@AvivaOskow Please add a link when you have a draft.

[2017-02-15 19:44] #272 closed

[2017-02-15 19:55] RyanSibley commented on #322
Recurring thought: Do users really need to understand offenses as either group A or group B? My feeling is that is a bit too inside baseball for most folks. I wonder if understanding this is key to downloading data or running analysis, or any of the other objectives for the tool

[2017-02-15 20:04] amberwreed commented on #322
We are serving a wide range of users. The average person doesn't need to
understand. We want to also support more savvy users that might need to
understand. It may not need to be included in the text for the About page
but will need to be explained in the glossary or linked to.

On Wed, Feb 15, 2017 at 11:55 AM, Ryan Sibley <notifications@github.com>
wrote:

--
-------------------------
*Amber Ree

[2017-02-15 20:30] jeremiak opened #329 "Break current crime-data.fbi.gov URL"
At the request of the FBI we should break the `crime-data.fbi.gov` URL in favor of our current `crime-data-explorer.fr.cloud.gov`.

Another option is to do something like #324, which adds a `beta/` prefix to all URLs, which I don't like because it will break any URLs we give out in user testing

[2017-02-15 20:32] jeremiak commented on #329
@cacraig I'm not sure how to do this. From looking at cloud.gov documentation it seems like the thing that is mapping the `crime-data.fbi.gov` to our application is the cdn-route service. In our organization on cloud.gov, it seems like we only have one cdn route service, named `fbi-cdn-official` but it isn't currently bound to any applications.

What is currently mapping that URL?

[2017-02-15 20:36] cacraig commented on #329
fbi-cdn-official is the correct CDN service. It's not supposed to be bound to anything. It just proxies requests to our internal domain crime-data-explorer.fr.cloud.gov.

cf service fbi-cdn-official

Service instance: fbi-cdn-official
Service: cdn-route
Bound apps:
Tags:
Plan: cdn-route
Description: Custom domains, CDN caching, and TLS certificates
Documentation url: https://cloud.gov/docs/service

[2017-02-15 21:19] amberwreed opened #330 "Rename bulk downloads as state name_NIBRS_YYYY"
As a user, I see the state name_NIBRS_YYYY as the name of the zip folder.

[2017-02-15 21:23] amberwreed opened #331 "Limit bulk downloads to what we have available (downloads & documentation)"
As a user, I can only choose from years and states with available NIBRS downloads. For example, if I select a year, only show me the list of state in the dropdown that have downloads available. Note, we may have to switch the dropdown order so that year is first and state is second.

[2017-02-15 22:15] jeremiak commented on #329
Got it @cacraig - So I can update that service to just not map any URLs? Or should I just delete the service entirely?

[2017-02-15 22:18] LarryBafundo commented on #329
hey, sorry for not responding sooner, but we are going to break the production URL for now go with crime-data-explorer.fr.cloud.gov. Nothing else is needed. Hope this simplifies things.

[2017-02-15 22:21] jeremiak commented on #329
Awesome, thanks for the guidance @LarryBafundo - I think I'm just going to delete that cdn service in that case

[2017-02-15 22:22] LarryBafundo commented on #329
@jeremiak let me know when I should tell them it's down then. thanks.

[2017-02-15 22:23] LarryBafundo commented on #331
@cacraig what's the "easiest" way to handle this technically?

[2017-02-15 22:25] LarryBafundo commented on #237
@cacraig i will work with you on defining the parameters for these reports by the end of this week.

[2017-02-15 22:43] jeremiak commented on #226
This is closed by PR 332. We decided to use a select instead of allowing the user to type in their year because we wanted to be clear about what the range was and because it is a simpler implementation.

If we had gone with the typing route, we'd have to decide at what point we make the API request (for example, after the field looses focus or after X number of seconds of no more typing, or after

[2017-02-15 22:43] #226 closed

[2017-02-15 22:56] LarryBafundo commented on #314
@harrisj can we use this issue to document the highest priority API documentation tasks for this sprint? let's list them out here as a checklist.

[2017-02-15 23:30] LarryBafundo commented on #237
Relates to https://github.com/18F/crime-data-explorer/issues/195

[2017-02-16 00:18] nicoleslaw commented on #319
Closing in favor of #305

[2017-02-16 00:18] #319 closed

[2017-02-16 00:19] nicoleslaw commented on #302
After discussing with the FBI, I am closing this in favor of #306

[2017-02-16 00:19] #302 closed

[2017-02-16 00:20] nicoleslaw commented on #306
Per FBI, outliers are often flagged to be removed from the trend data:

[2017-02-16 00:21] nicoleslaw commented on #321
Closing in favor of #307

[2017-02-16 00:21] #321 closed

[2017-02-16 00:26] nicoleslaw commented on #322
I think we should punt on Group A v B offenses and revisit in phase 2 as we're not visualizing any Group B offenses (we can't) and they're only present in the Arrest data. It won't mean anything to users outside of the Arrests CSV, and I think we can avoid using the term there in favor of calling out misdemeanors or the individual offenses on the downloads page.

[2017-02-16 00:51] nicoleslaw opened #334 "Repeat state/location in NIBRS overview"
In the NIBRS chart overview, we need to repeat the state/location in the first sentence for clarity.

It currently says, for example: `There were 74,610 individual robbery incidents reported to the FBI between 2004 and 2014.`

Option 1: `Arizona reported 74,610 individual robbery incidents to the FBI between 2004 and 2014.`

Option 2: `There were 74,610 individual robbery incidents reported to the

[2017-02-16 00:53] nicoleslaw opened #335 "Histogram text for offenders chart"
The NIBRS offender chart sentence says `victims` — I think this is because we're reusing the same histogram code/text for both charts.

[2017-02-16 00:55] nicoleslaw opened #336 "White space around glossary terms in Explore"
It looks like there is extra white space between a couple of the words and glossary terms (overview second paragraph and trend chart text)—I don't see that everywhere. Minor detail, but it makes it harder to read.

[2017-02-16 00:55] nicoleslaw commented on #97
Working for me! Thank you so much, @jeremiak. I have a few small changes from testing, I will file separate issues for those and reference here:

#334; #335; #336

[2017-02-16 00:55] #97 closed

[2017-02-16 00:59] LarryBafundo commented on #322
Agree @nicoleslaw

[2017-02-16 01:02] harrisj commented on #314
Edited!

[2017-02-16 01:13] nicoleslaw commented on #307
Reference material from CIUS:

[2017-02-16 01:33] jeremiak commented on #329
Done. https://crime-data.fbi.gov does not work anymore, but https://crime-data-explorer.fr.cloud.gov remains

[2017-02-16 01:33] #329 closed

[2017-02-16 02:00] jeremiak opened #338 "Trend line should be derived from yearly population counts"
Currently, the trend line/yearly rates are calculated using a [single population value (from 2014)](https://github.com/18F/crime-data-explorer/blob/master/src/util/data.js#L3-L55) for each state. We need to get a population count for each year in the specified time period so that each yearly rate is accurate.

@harrisj Is this something I can use the `GET /geo/states/{id}` endpoint for? If so, how

[2017-02-16 02:08] jeremiak opened #339 "Mobile design improvements"
From [crime-data-api#325](https://github.com/18F/crime-data-api/issues/325)

 - [x] Double check that the margin on the homepage and the explorer page match. I prefer the explorer page.
 - [x] From the homepage, the view results should be disabled until a location and crime are selected. Error msgs should display if a user hits the button without selecting.
 - [x] Button text for large and small b

[2017-02-16 02:16] jeremiak commented on #328
Notes from reproducing the bug:

If the application state has a place and crime set (from visiting a page within the explorer view, for example), then returning to the homepage will use that application state and set the two select menus on the homepage. As a result of both being set, the homepage "View results" button is enabled. Clicking on it, does not work.

In the console, it appears that the

[2017-02-16 02:18] jeremiak commented on #325
One of the reasons that this can break (as it just did for me) is that the `<Histogram />` component throws an error and prevents the subsequent render from happening successfully. Further explanation in [this comment](https://github.com/18F/crime-data-explorer/issues/328#issuecomment-280209222)

[2017-02-16 02:25] nicoleslaw commented on #318
@harrisj Are there any national-level data issues I should be aware of? I guess what I mean is, does the data behave the same way at the national level for participation rates, population totals, and SRS trends?

@LarryBafundo Are we planning to show NIBRS data at a national aggregate level?

[2017-02-16 02:33] nicoleslaw commented on #305
Reference copy from past sprints:

### Crime data API
Use our application programming interface (API) to search and export Uniform Crime Reporting (UCR) data.

### Uniform Crime Reporting Documentation
Download the latest user manuals, data declarations, and technical specifications for the Summary Reporting System (SRS) and National Incident-Based Reporting System (NIBRS).

### Datasets
Explore c

[2017-02-16 02:34] nicoleslaw commented on #307
Note to self to look back at the NICAR guide to UCR data.

[2017-02-16 02:35] nicoleslaw commented on #322
@RyanSibley Let's sync up about the best way to communicate these things. I think it's going to come down to some of this being in About and some of it being throughout Explore, but we can figure it out together.

[2017-02-16 04:16] harrisj commented on #338
You can actually use `/geo/states/{state_id|state_postal}/participation` to get population stats as well as participation

[2017-02-16 04:17] jeremiak commented on #138
@LarryBafundo Both of the homepage issues should be addressed in 138

[2017-02-16 04:21] harrisj commented on #138
I hope to get a PR deployed tomorrow for 18F/crime-data-api#364 tomorrow

[2017-02-16 04:22] amberwreed commented on #322
I'm unclear if the bulk incident data has Group B crimes. I'm fine with
punting but I think a list of offenses included in the data is important.

On Wed, Feb 15, 2017 at 4:26 PM, Nicole Fenton <notifications@github.com>
wrote:

--
-------------------------
*Amber Reed*
Visual Design Supervisor
18F

[2017-02-16 04:29] jeremiak commented on #338
Awesome, that's exactly what I needed. Thanks @harrisj

[2017-02-16 05:00] cacraig commented on #331
The easiest way would probably be to just put a data availability chart on the page showing the 38 states, and which years they have data available for.

[2017-02-16 15:12] nicoleslaw opened #343 "Include percentage of agencies in Explore Overview"
This was a good suggestion from a user for clarification. Please add the percentage of agencies to the last sentence of the overview.

Making up a sample with the edited text:

cc @harrisj In case there he has any API concerns, but I think this is a simple calculation (reporting agencies divided by total agencies).

[2017-02-16 15:23] nicoleslaw opened #344 "About the data for downloadable CSVs"
Relates to #237

[2017-02-16 15:37] nicoleslaw commented on #322
@amberwreed This is from the NIBRS manual:

I think we can safely exclude calling out the groups for now. I understand wanting the call out the offenses in the NIBRS section and planning to do that via #305

[2017-02-16 15:38] #328 closed

[2017-02-16 15:38] #317 closed

[2017-02-16 15:52] brendansudol opened #345 "nibrs grid line-up problem"
<img width="716" alt="screen shot 2017-02-16 at 10 51 09 am" src="https://cloud.githubusercontent.com/assets/1060893/23028645/f23f63b2-f435-11e6-8de5-88727348d18b.png">

[2017-02-16 16:31] nicoleslaw opened #346 "Clarify what kind of data Hate Crime is"
When testing the About page, a user suggested making it clear that Hate Crime is a subset of NIBRS data (if that is what we're sharing). We could also clarify this in the `About the data` section of the Downloads flow and in the Glossary.

cc @harrisj as he can confirm what kind of data we're making available for download.

[2017-02-16 16:49] harrisj commented on #346
I was wrong when I stated where i though the hate crime data was coming from. I just looked at the SQL for generating the `hc_counts` table (which we use for the hate crime statistics):

[code]

It is clearly pulling from the `hc_incident` table which seems like the correct choice. One vexing thing about hate crime data is there doesn't seem to be a clear means to map a `hc_incident` to a `nibrs_i

[2017-02-16 16:54] amberwreed commented on #331
@cacraig What the next easiest thing? It'd be great to not make people look in 2 different places. How much of lift is it to limit the list of states to those that provide NIBRS and limit the years in the dropdown to the years that the program was started?

[2017-02-16 17:03] harrisj commented on #125
Do you need anything on the backend for this?

[2017-02-16 17:04] harrisj commented on #248
Is there anything you need on the backend for this?

[2017-02-16 17:11] jeremiak commented on #248
@harrisj I think the only issue we have that isn't fixed by #269 is the `location_name` endpoint, which returns a 500 if we try and supply an offense type. Is there an issue for that already or would you like me to open one?

[2017-02-16 17:22] harrisj commented on #248
Can you give me the details on what the call to the location_name endpoint looks like?

[2017-02-16 17:43] LarryBafundo commented on #318
@nicoleslaw i responded to you last night on slack, but noting here for record keeping:

we are showing national nibrs data, but never for "all violent" or "all property" crime.

[2017-02-16 17:50] LarryBafundo commented on #346
@nicoleslaw, @harrisj i'm not sure if its accurate to say that hate crime is a subset of NIBRS data. or at least thats now how the FBI/CJIS looks at it because thats one reason why they were surprised we were including it in the MVP. they thought we were just focused on SRS, NIBRS, LEOKA.

@harrisj would help us gain more clarity here? should i schedule a call with Jason/Justin in the near future?

[2017-02-16 17:53] LarryBafundo commented on #331
agree with @amberwreed. i don't think we want to have users reference a table before interacting with the UI. from my perspective, the solution we may want to aim for this sprint is to rearrange the UI so that the user selects year first and then based on year, the state drop-down populates with the data available. or keep the UI the same, but still have the system only show applicable selections

[2017-02-16 17:55] LarryBafundo commented on #125
@jeremiak when you have a chance, can you please respond to @harrisj and let him know if you need anything else? the actual implementation of this data is captured in a separate story (currently in the backlog) at: https://github.com/18F/crime-data-explorer/issues/312

[2017-02-16 17:56] jeremiak commented on #283
I think this is closed by 341 above

[2017-02-16 17:56] #283 closed

[2017-02-16 18:01] harrisj commented on #346
Yes, it seems to be a different reporting mechanism. I understand it is out of scope for the immediate work, but it is something of profound interest to users, so I am glad we are trying to include it.

[2017-02-16 18:30] nicoleslaw opened #347 "About the data for additional datasets"
Write/edit download descriptions for the other datasets:

Hate crime
Human trafficking
Cargo theft
Police employee data
Arrest data
LEOKA
UCR participation

Relates to #237 and #346

[2017-02-16 18:34] jeremiak commented on #325
I think this is fixed by #269

[2017-02-16 18:34] #325 closed

[2017-02-16 18:35] nicoleslaw commented on #346
I may also be confused because we had talked about showing hate crime totals in a chart and NIBRS-y dimensions in Explore (and the NIBRS manual talks about hate crime as data element 8A), but that will happen in phase 2... Would it be possible to send me a sample of the hate crime data we're planning to ship for the MVP so I know how to describe it in #237?

[2017-02-16 18:37] jeremiak commented on #274
@harrisj How might I request the NIBRS dimension endpoints for an offense for the nation?

For a state, I make a request like:
[code]

I use a state code/abbreviation (we haven't caught up to you yet on that), but what should I supply for data at the national level?

[2017-02-16 18:49] harrisj commented on #274
We have similar endpoints for national level like so

[code]

I have been trying to keep the Swagger up to date so those should be in there, but I think the top-level organization is really annoying and making it hard to use. So sorry for that. I will see if we have better options

[2017-02-16 19:01] nicoleslaw commented on #318
Chatting with Jacob in Slack, but for visibility, I am wondering if we can do regional totals like CIUS:

https://ucr.fbi.gov/crime-in-the-u.s/2015/crime-in-the-u.s.-2015/tables/table-4 has the state listings for reference.

[2017-02-16 19:03] amberwreed commented on #322
Sounds good! Thanks.

On Thu, Feb 16, 2017 at 7:37 AM, Nicole Fenton <notifications@github.com>
wrote:

--
-------------------------
*Amber Reed*
Visual Design Supervisor
18F

[2017-02-16 19:03] LarryBafundo commented on #334
@nicoleslaw i like #2 because the emphasis here is on incidents, rather than the top of the page, which is about trends.

[2017-02-16 19:11] nicoleslaw commented on #318
Here's a first draft pending discussion with y'all about the technical implications.

---

### Overview - relates to #343

In {year}, {X} law enforcement agencies participated in the Uniform Crime Reporting Program, out of a total of {X} agencies. For that year, these statistics cover {X}% of the nation’s agencies and {X}% of its total population, or about {X} people.

### Trend chart

There were

[2017-02-16 19:11] jeremiak commented on #125
@harrisj What is the difference between endpoints like `/geo/states/CO` and `/geo/states/CO/participation`? I understand that the latter will return an array with all known years but can we combine the functionality of this endpoint? That is to say that we get an array of data for each year that is close to the current response for  `/geo/states/CO`?

I think this would have two benefits:
1. It wo

[2017-02-16 19:15] jeremiak commented on #331
I'll say that from the front end perspective, all we know is very broad strokes about who submits what data ([/data/ucr-program-participation.json](https://github.com/18F/crime-data-explorer/blob/master/data/ucr-program-participation.json)). Also, if you have enough information for me to construct the table, then I can figure out how to make the UI responsive.

Are there any states that once they

[2017-02-16 19:24] harrisj commented on #125
Apologies. This is a case of me designing an API in reaction to things rather than as a top-down design. You are right there is some redundant information in both because I built the generic states response a few weeks before we decided to add the `/participation` stuff. We could try to merge them now, but that might mean breaking a few things in the process. Is this a good time?

[2017-02-16 19:41] LarryBafundo commented on #331
I don't think we know that level of detail @jeremiak, but it seems...unlikely? what's more likely is that you have a state that submits a mix, but after a certain year converts over to NIBRS, or starts reporting in the first place.

But will let @cacraig weigh in.

[2017-02-16 19:43] jeremiak commented on #125
@harrisj Let me check in on #342 because that is currently using the `/geo` endpoints and is under active development. If possible, I'd prefer to order it like this:

1. We get 342 merged in short order
2. API work to try and combine the endpoints
3. We implement it according to this card

The reason I would prefer that is so that the front end app doesn't have code that will be removed when the e

[2017-02-16 19:46] LarryBafundo commented on #195
we talked about this during a hangout earlier, but for documentation purposes:

for sprint 6, let's move forward with the assumption that the "other data sets" we will make available for download are the following:

Hate crime
Human trafficking
Cargo theft
Police employee data
Arrest data
LEOKA
UCR participation

We will need a short description for each to include in the list view. In future iter

[2017-02-16 19:51] amberwreed commented on #334
@nicoleslaw I like #2 also but should it be by Arizona instead of in Arizona? Dunno.

[2017-02-16 19:53] amberwreed commented on #331
If the bulk files are already created, I'm happy to create a list of what's
available from looking at the directory of files.

On Thu, Feb 16, 2017 at 11:41 AM, Larry Bafundo <notifications@github.com>
wrote:

--
-------------------------
*Amber Reed*
Visual Design Supervisor
18F

[2017-02-16 19:53] nicoleslaw commented on #195
I am tracking the short-term need in #237 — this is the longer-term in-depth content task.

[2017-02-16 19:59] nicoleslaw commented on #334
Thanks, Amber! Because this is going to scale to national and county levels, I am going to stick with `in` for now and see how it goes.

[2017-02-16 20:02] LarryBafundo commented on #330
@amberwreed do we need a similar naming convention for the other data sets?

[2017-02-16 20:03] harrisj commented on #125
Let me see how easy it is. It might mean regenerating a backend table, but that was relatively performant in the past. One thing the `/geo/states` endpoint would potentially include (which is why it was different) was a list of all counties in the states and their participation rates (this was looking at an earlier prototype). I would only want to do that for a recent year...

[2017-02-16 20:04] amberwreed commented on #334
Sounds good.

On Thu, Feb 16, 2017 at 11:59 AM, Nicole Fenton <notifications@github.com>
wrote:

--
-------------------------
*Amber Reed*
Visual Design Supervisor
18F

[2017-02-16 20:06] amberwreed commented on #330
@LarryBafundo That would be ideal but a lower priority than the zip files.

[2017-02-16 20:08] harrisj commented on #318
I think this is interesting, but it would probably mean a few pieces of work on our end:

For the regional comparisons:
1. We need to declare the mappings of individual states -> regions (I assume the FBI has a list somewhere, but it's not explicitly defined in the database). This doesn't necessarily need to be defined within the database, but we might as well do it.
2. Once we have that mapping,

[2017-02-16 21:23] harrisj commented on #125
So just to be clear, you're going to implement for the two separate endpoints for now and then we will refactor down the road?

[2017-02-16 21:32] #270 closed

[2017-02-16 21:33] #338 closed

[2017-02-16 21:35] harrisj opened #350 "Good introductory text into how the API is structured and options supported"
Part of #314

The Swagger documentation gives a very specific view of what arguments can be provided to the API, but it does not provide some higher-level philosophy of how the API is structured. In addition, some endpoints allow users to specify filters and grouping parameters that are not included in Swagger at all. The idea here is to assemble some sort of coherent preamble explaining what the

[2017-02-16 21:37] LarryBafundo commented on #237
quick update on how we'll approach this.

@cacraig will start generating the 'other datasets' listed above, starting with hate crime and human trafficking. @nicoleslaw we can try iterating on the composition of these datasets, but for an MVP, colin and I suggested the following. A quick note on what we've proposed, there's potentially more data to include with each of these reports, but representi

[2017-02-16 21:40] LarryBafundo commented on #331
okay, here's what colin and i discussed:

1) the state drop-down menu will only include the 38 states that report NIBRS data as of 2014 (either exclusively, or as a hybrid state)
2) depending on the state selected, the year drop-down will populate depending on when that state started reporting NIBRS.

This way, a user will never select a state or a year where no data exists.

@jeremiak, Colin said

[2017-02-16 21:40] nicoleslaw commented on #318
For historical reference, the states are mapped here: https://ucr.fbi.gov/crime-in-the-u.s/2015/crime-in-the-u.s.-2015/tables/table-4 and here: https://ucr.fbi.gov/crime-in-the-u.s/2012/crime-in-the-u.s.-2012/resource-pages/area-definitions/region-map/12regionsmap.gif

[2017-02-16 21:47] jeremiak commented on #315
Ideally, this text and the select options should be dynamic and reflect the years of data available for a given place. Until we can do that, we should just remove this.

[2017-02-16 21:47] harrisj opened #351 "Open up user registration for the api in api.data.gov"
Part of #314

Currently, there is an entry for api.data.gov, but I have limited sign-ups for the API to users who are in a specific user group. The idea is that API users would register for keys in api.data.gov and make all of their requests through that.

The api.data.gov functions as a proxy against our API. It has a record of the key to use when calling the API directly, and it translates reque

[2017-02-16 21:54] jeremiak opened #352 "Need term definitions for "violent crime" and "property crime""
Right now we don't define "violent crime" or "property crime" in our terms so the glossary cannot show it.

cc @nicoleslaw @RyanSibley

[2017-02-16 21:56] LarryBafundo commented on #138
hey @jeremiak, @harrisj should we reopen this, or at least keep in review?

the homepage issues seem fixed, but arson is still not available and larcenry returns a 404. finally, motor vehicle theft always returns no data.

[2017-02-16 22:14] harrisj commented on #274
1. I assume in general that we want to use the `hc_incident` table as the source for data on hate crimes. I know that it uses some NIBRS offense types or such, but is there any way to directly map an hc_incident to a corresponding nibrs_incident, or is this something that makes no sense since these involve two different reporting mechanisms? **In the new system, the there is a NIBRS_INCIDENT_ID co

[2017-02-16 22:19] harrisj commented on #138
I am waiting on a PR to be merged and a deploy, then I can revisit this issue. Sorry for the delay. Are you going to use the `explorer_offense` for these, @jeremiak?

[2017-02-16 23:35] LarryBafundo opened #353 "Wrong trend line is accented in the Explorer"
We are highlighting the wrong trend line. The trend for the state being queried should have the accent color (orange), not the trend for the nation.

<img width="773" alt="screen shot 2017-02-16 at 3 25 27 pm" src="https://cloud.githubusercontent.com/assets/15899668/23046281/8aa67aba-f45d-11e6-9e19-aade6163ef5b.png">

[2017-02-17 15:37] #327 closed

[2017-02-17 21:38] nicoleslaw opened #355 "Funky homicide SRS data"
Some of these say zero for example, but should probably say no data cc @amberwreed @harrisj @LarryBafundo

![screen shot 2017-02-17 at 4 27 02 pm](https://cloud.githubusercontent.com/assets/94900/23084250/6e932846-f52f-11e6-829f-21d2a685f477.png)

![screen shot 2017-02-17 at 4 27 37 pm](https://cloud.githubusercontent.com/assets/94900/23084251/6e9f030a-f52f-11e6-9b5f-e24c630279d6.png)

![screen sh

[2017-02-17 21:43] LarryBafundo commented on #355
thanks for noting these. we have a "no data" state that we need to implement, but haven't yet.

[2017-02-21 14:50] harrisj commented on #355
Thanks for flagging these. Of course, if the issue is in the underlying data provided to us, then these are not bugs, but it's good to be sure.

[2017-02-21 14:53] harrisj commented on #314
Given the fact that the API is unlikely to change as radically in the future, I am half-inclined to just remove `apispec` and `flask-apispec` and hand-edit the swagger.json they have generated. This would mean we would have to edit the swagger file to check it matches the API responses, but it would also mean a few less layers of complexity to worry about.

[2017-02-21 15:05] nicoleslaw commented on #237
@LarryBafundo Can you clarify in your note above if all of these are SRS or if some include NIBRS (ex: human trafficking)?

[2017-02-21 15:17] nicoleslaw commented on #237
@cacraig Can you tell me the year span for the last two: police employee data and participation data?

[2017-02-21 15:22] #352 closed

[2017-02-21 15:27] nicoleslaw commented on #344
@LarryBafundo Here's a first draft pending questions in #237

----

#### Hate Crime
See totals by state, year, and bias motivation for hate crimes across the country since 1991.

#### Law Enforcement Officers Killed and Assaulted (LEOKA)
See totals for officers who were killed or assaulted in the line of duty since 1974.

#### Police Employee Data
See how many full-time sworn and civilian law enfo

[2017-02-21 15:37] nicoleslaw commented on #318
@LarryBafundo Can you review the above and let me know if I should hold on the regional statement for now? I can easily add that to the backlog if it's not in scope.

[2017-02-21 15:46] cacraig commented on #318
The NIBRS views that were generated already have the ability to give National level data. It should be available via the API. - I think we can add the region data to that table pretty seemlessly - It's only about 1 M rows. I don't see why we would need to regenerate that table. Seems to me like we would just add the region info + then aggregate by region. Am I missing something @harrisj  ?

[2017-02-21 16:02] harrisj commented on #318
No, but I think what they are looking for is something to compare the top-level trend lines against. This would mean computing those regional counts from the `reta_month_offense_subcat_summary` tables if I understand it correctly. We could either do a `GROUP BY/SUM` with the current table or add a new column `region` and rebuild as part of that.

[2017-02-21 16:08] AvivaOskow commented on #313
Annotated file up here:
https://drive.google.com/open?id=0B9bDBpzeNNaXOWx2RHBxbEFQb0k

FYI: I just got new content from @RyanSibley this morning, so @jeremiak @brendansudol please go ahead and start with this file, but know I am adjusting some things with the new content.

Thanks!

[2017-02-21 16:15] cacraig commented on #237
We have 1960 to 2014 @nicoleslaw  - I'm not sure about participation. Since it's NIBRS I'd assume that would be the same as the NIBRS data set which is 1991-2014. Is that right @harrisj  ?

[2017-02-21 16:43] nicoleslaw commented on #347
Closing as duplicate of #344

[2017-02-21 16:43] #347 closed

[2017-02-21 16:51] LarryBafundo commented on #237
@nicoleslaw these should all be summary-like reports. meaning, even if it's based off of incident-data, we are going to provide historical counts by state and year, rather than details for each incident.

cc: @cacraig

[2017-02-21 17:17] #305 closed

[2017-02-21 17:20] jeremiak commented on #286
@brendansudol made all the boxes the same height, but getting the buttons to line up is a bit harder given that the amount of text is variable. We can play with that going forward, time permitting
<img width="1018" alt="screen shot 2017-02-21 at 10 24 09 am" src="https://cloud.githubusercontent.com/assets/780941/23176200/19dc92a2-f830-11e6-8041-a92be37c11d2.png">

[2017-02-21 17:20] #286 closed

[2017-02-21 17:20] #310 closed

[2017-02-21 17:22] jeremiak commented on #248
I think it would look like this:

`/victims/count/states/53/location_name/offenses?per_page=50&aggregate_many=true&explorer_offense=robbery`

That URL is returning a 500 error for me

[2017-02-21 17:46] jeremiak commented on #274
@harrisj I wanted to spot check that API endpoint. I made the following request `https://crime-data-explorer.fr.cloud.gov/api/victims/count/national/offender_relationship` but it showed that there was a single incident in 2014 where "Victim Was Boyfriend/Girlfriend". Is that correct? It seems pretty low for the national count.

That being said, if the endpoint should just be changed from `.../stat

[2017-02-21 18:10] nicoleslaw opened #364 "JSON break is breaking the JSON"
The `uniform crime reporting (ucr)` entry from terms.json appears blank because of the `\n` I am assuming, or I did it wrong maybe.

[2017-02-21 18:16] harrisj commented on #125
Okay, how about I add participation to the `/geo/states` API endpoint under a `participation` key?

[2017-02-21 18:17] jeremiak commented on #125
@harrisj I think that would work for us!

[2017-02-21 18:20] jeremiak commented on #125
Will the API response be for a single year or for all years of the DB? For the front end application, it is better for us to get a single HTTP response that contains all the data versus having to making a few different API calls.

[2017-02-21 18:20] harrisj commented on #125
It'll be all years in descending chronological order

[2017-02-21 18:21] jeremiak commented on #125
Awesome! That is exactly what we need (and are currently using) so we can totally grab the `participation` key out of the data.

[2017-02-21 19:05] jeremiak opened #366 "Do not show NIBRS for "All violent crime" and "All property crime""
Sourced from [#274](https://github.com/18F/crime-data-explorer/issues/274#issue-206864564)

[2017-02-21 19:05] jeremiak commented on #274
Looks like this was done on the frontend by a14d3145f3a586b8a3bc887d7473cbd7264b8be8.

The data seems suspect from the API ^^, so I think we should close this in favor of [crime-data-api#389](https://github.com/18F/crime-data-api/issues/389).

Also opened #366 to represent the remaining part of this ticket, which is to not show NIBRS details for all violent or all property crime

[2017-02-21 19:05] #274 closed

[2017-02-21 20:14] #315 closed

[2017-02-21 22:32] LarryBafundo commented on #318
hey let's hold off on including region-specific data in the national overview until after sprint 6.

[2017-02-21 22:33] LarryBafundo commented on #344
looks good to me @nicoleslaw!

[2017-02-22 00:23] nicoleslaw commented on #318
@jeremiak I think we're okay to implement this for the U.S. view of a crime without the last sentence in the trend chart. For clarity, I am repasting and editing the content below:

---

### Overview - relates to #343

In {year}, {X} law enforcement agencies participated in the Uniform Crime Reporting Program, out of a total of {X} agencies. For that year, these statistics cover {X}% of the nation

[2017-02-22 00:28] nicoleslaw commented on #334
I just noticed that this is displaying the raw code inline.

@jeremiak When you have a minute, can you take a look? Sorry I busted this one.

[2017-02-22 00:52] #334 closed

[2017-02-22 01:21] LarryBafundo commented on #138
@jeremiak, @harrisj: still getting a 404 for arson and larceny theft.

[2017-02-22 01:22] LarryBafundo commented on #237
@cacraig can you please provide an update on this tomorrow?

[2017-02-22 01:23] nicoleslaw commented on #306
This could potentially work well with a note advising the reader against ranking, for example:

Link: https://ucr.fbi.gov/ucr-statistics-their-proper-use

[2017-02-22 01:28] LarryBafundo opened #372 "summary chart downloads returns an empty dataset"
issue: when trying to download a trend chart that has already been drawn, the resulting file appears to be empty. i am not sure if this is also an issue when trying to download NIBRS data that is presented in the explorer view, since those charts aren't available at the moment.

i've attached a screen shot to illustrate the problem.

![Uploading Screen Shot 2017-02-21 at 4.29.31 PM.png…]()

and he

[2017-02-22 01:42] jeremiak commented on #138
@LarryBafundo sorry about that, I think I fixed it in #373

[2017-02-22 01:46] nicoleslaw commented on #322
@RyanSibley Let's sync up on this on Thursday in our coworking time—will send you an invite.

[2017-02-22 01:50] nicoleslaw opened #374 "Download page: hierarchy is unclear"
Make it clearer that the first two sections are documentation, and the other sections are data downloads.

- [ ] Play with headings
- [ ] Try `raw data` and `aggregate data`, maybe not useful
- [ ] Could potentially put documentation below, but it feels buried there. Or swap the page name around.

May need some frontend help here, but I will try fixing it with content for now. cc @brendansudol

[2017-02-22 01:59] nicoleslaw commented on #178
@harrisj Before I add this to the app, can you confirm that this `NIBRS converted to SRS` scenario for rape data is pretty common? Based on the map, it seems like it could be relevant for 35+ states, but I am not sure if that is accurate from the data. Also, the definition changed in 2013 so I wonder if it's worth going into this before we have 2015 data, but again, I am not sure.

If this is rare

[2017-02-22 02:05] nicoleslaw opened #375 "Nav order"
I would like to change the order of the main nav. It looks like we're adding a link to home in #212, and we're about to have an (ahem) About page. Proposed order:

Home
About
Explorer
Downloads & Documentation

Thoughts @LarryBafundo @jeremiak?

[2017-02-22 03:11] #243 closed

[2017-02-22 03:17] #344 closed

[2017-02-22 18:18] jeremiak commented on #138
@LarryBafundo Can you verify this is done and close if so?

[2017-02-22 18:35] jeremiak opened #377 "Some states aren't showing NIBRS data when they should"
Right now we use [`/data/ucr-program-participation.json`](https://github.com/18F/crime-data-explorer/blob/master/data/ucr-program-participation.json) to determine if a state should have NIBRS charts or not. This data model is based on a spreadsheet, but it is still proving to be confusing.

Proposal: Let's change the data model so that there is only a `nibrs` key within each state, which would be

[2017-02-22 18:39] jeremiak commented on #377
On second thought, we'll want to use this data for generating the program participation map on the About page, so maintaining the SRS key will be valuable/important.

However, perhaps we can just make "hybrid" implicit, if both "srs" and "nibrs" are set to true?

[2017-02-22 18:42] jeremiak commented on #377
@LarryBafundo Do we have an authoritative document about which states submit which sort of data?

[2017-02-22 20:38] harrisj commented on #248
I will look into this now

[2017-02-22 21:35] cacraig commented on #248
@jeremiak  - I just want to make 100% - Are we looking for offenses involving victims broken down by location_name? Or are we looking for offenses broken down by location_name?

[2017-02-22 22:55] LarryBafundo commented on #125
hey @harrisj can you please note when the new endpoints are ready so I know when we're ready to move forward with this issue? we can then transfer ownership from you to Jeremia to finish it off. thanks.

[2017-02-22 23:02] LarryBafundo commented on #377
@jeremiak yes, we have two sources of record for this:

1) a map of NIBRS participation as of March, 2015 (see attached)
[NIBRS participations 2015.pdf](https://github.com/18F/crime-data-explorer/files/795065/NIBRS.participations.2015.pdf)

2) and a resulting spreadsheet that identifies SRS & NIBRS-only states. The rest are hybrids, meaning they report a mixture of both. Only the states marked as

[2017-02-22 23:14] LarryBafundo commented on #375
that makes sense to me @nicoleslaw

[2017-02-23 01:04] LarryBafundo opened #379 "Make chart sources dynamic based on what data type is submitted"
Currently we list the source for our trend charts as "SRS" - however, in cases where a state submits both types of data, or exclusively NIBRS data, we use "summarized NIBRS." This is misleading and may be confusing to users, especially those that have knowledge of the UCR program.

We should make the trend chart source tag dynamic, based on what data type that state reports. Below are the scenario

[2017-02-23 01:06] LarryBafundo commented on #379
@nicoleslaw here's the latest state-based mapping.

https://docs.google.com/a/gsa.gov/spreadsheets/d/1APcLiophXeeDrkhjMCULq1NJR1rbhrdkRPUyzV2OT_0/edit?usp=drive_web

i had Colin confirm each state and we found a bit more nuance than what is provided here:

[NIBRS participations 2015.pdf](https://github.com/18F/crime-data-explorer/files/795278/NIBRS.participations.2015.pdf)

[2017-02-23 01:13] LarryBafundo commented on #237
@jeremiak, @brendansudol: once Colin makes these datasets available, should i create a separate issue for implementing the download functionality of these files? or does this issue suffice?

[2017-02-23 02:49] harrisj commented on #125
Oh, it was merged when #388 was merged. You should see them in requests like `https://crime-data-api.fr.cloud.gov/geo/states/CO` or such now

[2017-02-23 13:32] nicoleslaw commented on #379
Posting what I said in Slack for discussion:

I think we need to add something like "and aggregate incidents" dynamically when the year span includes that, but all states reported SRS at some point right? NIBRS is still pretty new in terms of adoption (according to the FBI misconception doc less than 5% of states report 100% NIBRS)

The national line is SRS so we should be careful here.

[2017-02-23 13:59] RyanSibley opened #380 "Write copy that explains NIBRS participation rate as it relates to our visualizations"
When NIBRS data is available we visualize what we have. The issue is that NIBRS data often times only covers a small percentage of the population. We want clarifying copy so users understand that they aren't looking at visualizations representing all instances of crime or certain crimes.

More context:

the SRS data counts instances of a crime that were reported in NIBRS data, but NIBRS data does

[2017-02-23 14:12] RyanSibley commented on #379
I saw something like this yesterday and was confused by it as well. I think there might be a few things happening at once contributing to the confusion:

- The FBI counts incidents that are reported through NIBRS and adds those counts to SRS data (right @harrisj ?)
- There might be a state reporting mechanism that only reports SRS data even though police agencies in the state might report NIBRS da

[2017-02-23 15:00] harrisj commented on #379
I think you are correct on both of those situations:

1. The FBI does indeed backconvert NIBRS reports into SRS data when an agency reports only NIBRS. If an agency reports both, they apparently will use the SRS report
2. It is indeed possible that some states might collect NIBRS reports internally and only report SRS to the FBI (would be good to clarify which states do this).
3. In addition, I re

[2017-02-23 15:08] nicoleslaw commented on #192
It looks like we still have some issues here. I don't see the changes for the [victim relationship chart](https://github.com/18F/crime-data-explorer/issues/192#issuecomment-277715848) and there are some funky entries like `N`, `R`, and `U`. Including a screenshot for reference.

The location chart has `Other (33)`, in addition to `Unknown`. Per the NIBRS manual, these are the same bucket. Maybe we

[2017-02-23 15:21] AvivaOskow commented on #207
@brendansudol @jeremiak  This was in Review/QA, but I don't think it has actually been completed, so I'm putting it back in To-Do.

Amber updated a new footer file the week before last I think. Here is the link again:
https://drive.google.com/open?id=0B5cw7Ca2CjsyaEtGWWxLTFl3bFU

And a screenshot for reference:

<img width="785" alt="screen shot 2017-02-23 at 10 14 57 am" src="https://cloud.github

[2017-02-23 15:26] harrisj commented on #125
Are we good to close this today?

[2017-02-23 15:31] harrisj commented on #125
Can you tell me which state that was for?

[2017-02-23 15:58] nicoleslaw commented on #125
Sure, that is for Michigan, but it doesn't seem to make a difference when I change the state.

[2017-02-23 16:06] harrisj commented on #125
I see data in https://crime-data-api.fr.cloud.gov/geo/states/MI so I think
this might be an integration issue?

On Thu, Feb 23, 2017 at 10:58 AM, Nicole Fenton <notifications@github.com>
wrote:

[2017-02-23 16:44] jeremiak commented on #248
Given an offense and a place, we want to show a breakdown of the location names associated with all of those offenses in that state. So is that "broken down by location_name"?

[2017-02-23 16:49] nicoleslaw commented on #375
@jeremiak @brendansudol Do you mind if I go ahead and change the order, or should I wait, as this relates to #207?

[2017-02-23 16:51] nicoleslaw commented on #239
Re: data dictionary, good examples here https://openjustice.doj.ca.gov/data

[2017-02-23 16:52] nicoleslaw commented on #125
Just a note to say this relates to #343

[2017-02-23 16:54] jeremiak commented on #375
@nicoleslaw Feel free to take a stab at it!

[2017-02-23 16:54] jeremiak commented on #377
Thanks @LarryBafundo, that's pretty clear. I'll go ahead and get this changed.

[2017-02-23 18:09] jeremiak commented on #125
@harrisj @nicoleslaw The endpoint looks great, it does look like its a front end implementation issue. I'm going to assign myself and remove the assignment for Jacob

[2017-02-23 18:26] cacraig commented on #237
@LarryBafundo  - If we want, we can do this in parrallel, following the same link structure for the other S3 hosted files  (Like arrests).

So {S3_BASE_URL}/{REPORT}.csv

The front end can do this in parallel, just pointing the links to non-existant files (until they are uploaded). Any input @jeremiak or @brendansudol  ?

[2017-02-23 18:39] nicoleslaw opened #383 "Aggregate regional trend data for national views"
This relates to the thread here: https://github.com/18F/crime-data-explorer/issues/318#issuecomment-280428282

We'd like to show regional totals in the national trend chart:

[2017-02-23 18:42] nicoleslaw opened #384 "Cut View details links until we have the pages"
On the homepage, the data downloads have links to `View details` but we haven't coded out these more in-depth data detail pages yet.

Proposal:

- [x] Cut the buttons
- [ ] Link the names of the datasets to anchor links within the downloads page
- [x] Add one button to `See all downloads`

[2017-02-23 18:48] jeremiak commented on #237
@cacraig having an S3 link (or many) is awesome for us and super easy to implement. Is the S3 base URL going to be the same from

@LarryBafundo This issue suffices for tracking the front end work I think

[2017-02-23 18:49] cacraig commented on #237
Yep @jeremiak  - I will upload them to the same base bucket that the arrests.csv report lives. So the base url should be the same.

[2017-02-23 20:26] harrisj commented on #351
I think we should do this, but set up a specific vanity URL for the API. See https://github.com/18F/api.data.gov/wiki/User-Manual:-Agencies#using-your-own-domain-name for details. Is there already a hostname we could use for the API?

[2017-02-23 20:40] cacraig commented on #331
start_year  | state_postal_abbr
------+-------------------
 1991 | AL
 1999 | AR
 2004 | AZ
 1992 | CO
 1998 | CT
 2000 | DC
 2001 | DE
 1991 | IA
 1992 | ID
 1993 | IL
 2013 | IN
 2000 | KS
 1998 | KY
 2003 | LA
 1994 | MA
 2003 | ME
 1995 | MI
 2006 | MO
 2009 | MS
 2005 | MT
 1991 | ND
 1998 | NE
 2002 | NH
 1998 | OH
 2008 | OK
 2003 | OR
 2012 | PA
 2004 | RI
 1991 | SC
 2000 | SD
 1997 | TN

[2017-02-23 20:49] harrisj commented on #314
To clarify the comment above, this would mean removing the `apispec` and `flask-apispec` libraries (and their associated annotations as well as the `Result` Marshmallow schemas and such). The Swagger.json file would essentially be a contract of what the API should return and functional tests must check that the responses match what the Swagger says they should be like. This would mean that to add

[2017-02-23 22:03] jeremiak commented on #343
How should we calculate the covered percentage of the population? For example, here is the data for Washington for 2014:

[code]

We can use `reporting_rate` for the percentage of agencies, but how should I calculate the percentage of the population that is covered by this? In this particular case, I can't use `covered_population` and `total_population` because I would get a covered population of

[2017-02-23 22:05] harrisj commented on #343
Well, the `covered_population` is supposed to be less than or equal to the `total_population.` This seems to be a data quality issue, so we need to figure out if we try to correct for this case that shouldn't happen or if we should show it?

[2017-02-23 22:08] jeremiak commented on #343
For now, I went with the following (30d9b2c684fc1ec4f7f85512bc37737345f4f8c9):

Let's keep discussing what this should be in this thread and I can use #389 to close out #125

[2017-02-23 22:12] jeremiak commented on #237
Cool, give me a ping when they're uploaded and I'll add these URLs to the application

[2017-02-23 22:31] LarryBafundo commented on #380
@RyanSibley another way of approaching this is to emphasize that the NIBRS charts shows the "distribution" of reported incidents, in terms of offender/victim demographics, location, etc., whereas the summary-based data paints a picture of "volume" over time.

[2017-02-23 22:32] jeremiak opened #392 "API calls are still made for NIBRS dimensions even if the data will not be shown"
The `<Explorer />` component will trigger the API actions to fetch NIBRS data in all cases, which wastes requests and creates errors. We should not fetch NIBRS data if it isn't going to be displayed in the UI.

We should not request NIBRS data when:
* The crime is "all property crime" or "all violent crime" #366
* When the state does not submit NIBRS data #377
* When the place selected is the nati

[2017-02-23 23:58] LarryBafundo commented on #379
just adding that there are indeed cases where agencies report NIBRS directly to the FBI, rather than through their state program.

[2017-02-24 00:02] LarryBafundo commented on #384
@nicoleslaw, my expectation as a user would be the 2nd option.

[2017-02-24 00:19] brendansudol commented on #375
any thoughts on somehow slimming down the "Downloads & Documentation" text -- it feels really big / long for a nav link

[2017-02-24 00:39] LarryBafundo commented on #335
<img width="397" alt="screen shot 2017-02-23 at 4 39 40 pm" src="https://cloud.githubusercontent.com/assets/15899668/23285538/b0ee5574-f9e6-11e6-8d11-e63151ca91c7.png">

[2017-02-24 00:49] LarryBafundo commented on #142
@jeremiak is this still something we need to do?

[2017-02-24 00:52] LarryBafundo commented on #343
@harrisj okay to move this into in progress?

[2017-02-24 01:19] nicoleslaw opened #394 "Breadcrumb 404"
When you click on items in the breadcrumb, the explore view 404s.

My assumption is clicking a crime from a state-level view would take you to the national level; and clicking a state would take you to a state-level all crime view (I think we designed this in sprint 3).

<img width="876" alt="screen shot 2017-02-26 at 1 21 06 pm" src="https://cloud.githubusercontent.com/assets/15899668/23344347/a2

[2017-02-24 01:22] nicoleslaw commented on #384
Sorry, I didn't mean those as options but as one proposal.

[2017-02-24 01:26] nicoleslaw commented on #375
Based on our usability sessions, I would recommend we keep it unless Documentation becomes its own section. But it seems okay on mobile right now... Is it just bugging you?

[2017-02-24 01:55] nicoleslaw commented on #306
@RyanSibley For future reference, I am only adding this caveat to the About the data section for Homicide and Hate Crime right now because people ask about it for mass shootings and similar attacks on crowds of people.

[2017-02-24 03:10] harrisj commented on #343
I mean, the endpoint is already there, so yes, it's in progress

[2017-02-24 04:01] #308 closed

[2017-02-24 04:02] #353 closed

[2017-02-24 04:05] #125 closed

[2017-02-24 04:05] #366 closed

[2017-02-24 05:07] #306 closed

[2017-02-24 05:16] #207 closed

[2017-02-24 05:17] jeremiak commented on #326
Closed by #378

[2017-02-24 05:17] #326 closed

[2017-02-24 05:17] #213 closed

[2017-02-24 05:19] #212 closed

[2017-02-24 05:53] jeremiak commented on #312
@LarryBafundo What should these CSVs look like? Are they pre-built and put on S3? And what data do we use for agency participation?

[2017-02-24 14:48] nicoleslaw opened #400 "Correct NIBRS labels"
People have asked about the `Total Incidents` label on the NIBRS charts. I want to confirm we're showing the right information about the data.

Should it say, for example, `Total Victims` or are we counting the `Incidents involving at least one victim`? This is especially confusing for weapons as I am not sure if we're counting `incidents with at least one weapon` or `reported weapons` or `found w

[2017-02-24 16:05] harrisj commented on #248
It sounds like we want to use something like `https://crime-data-api.fr.cloud.gov/offenses/count/national/location_name?explorer_offense=rape&year=2013` to get the breakdown of locations for a given offense?

[2017-02-24 16:05] #331 closed

[2017-02-24 16:14] harrisj opened #401 "Switch the explorer to call crime-data-api.cloud.gov"
We are going to proxy the crime data API through api.data.gov. This will allow users to sign up for API keys and let us establish rate limits for the API. One additional advantage of using api.data.gov is that it includes an internal cache that would help us better handle surges in use since all API requests would quickly be cached.

This would involve the following steps:
- [ ] Create an API key

[2017-02-24 16:55] LarryBafundo commented on #401
@harrisj do we want to get someone outside of the project to weigh in on the value of this direction?

also, just noting here that the person we are waiting to hear back on this is Russel Kerns at CJIS. Jacob already emailed him.

[2017-02-24 17:04] harrisj commented on #401
We could indeed get some input from the FEC team for instance. I will note that we are going to setup the `api.data.gov` proxy for developers that wish to use the CDE API directly. The question here is whether we want to the CDE to use it. I think we would want to consider some sort of caching layer even if we decided against using the one in api.data.gov, since that would reduce overall strain on

[2017-02-24 17:11] harrisj commented on #394
I don't know why this was assigned to me (this seems to be more of a navigation issue), but it seems like we don't have state views working without specific crimes?

[2017-02-24 17:13] LarryBafundo commented on #312
@jeremiak these are CSVs that would be generated on the fly based on the parameters of the user's query. in other words, it would only show data for the years within the selected timeframe. you can find details on each of the reports here:

population data: https://github.com/18F/crime-data-explorer/issues/125

UCR participation: https://github.com/18F/crime-data-api/issues/363

looping in @harris

[2017-02-24 17:19] LarryBafundo commented on #394
sorry @harrisj didn't mean to do that.

[2017-02-24 17:52] cacraig commented on #400
This is correct @nicoleslaw  - These are incidents involving atleast one victim. Or A Victim-Incident.

If an offender assaults 6 victims, it creates:
6 Victim Incidents
1 Offender Incident
1 Offense Incident

If 2 offenders attack 1 victim (I think - It's):
2 Offender Incidents
1 Victim Incident
1 Offense Incident

[2017-02-24 18:06] harrisj commented on #312
Okay, it looks like I need to do things:

1. Fix the `/geo/states/<state_id>/participation` endpoint to also output CSV
2. Modify the `/agencies/participation` endpoint to take a starting year/ending year arguments (note that it could get quite large.)

I will work on this now

[2017-02-24 18:11] LarryBafundo commented on #312
@harrisj thanks, just let @jeremiak know when it's ready. and please, if either of you have questions about what we're trying to do with this one, please let me know.

[2017-02-24 18:20] jeremiak commented on #401
I'm 👍 on this, since we should be using api.data.gov for the API anyway and we'll get a lot of benefits for little cost by switching the explorer over too.

If the only thing we have to change is the value of the API key and the [API host](https://github.com/18F/crime-data-explorer/blob/master/server.js#L15), then should be really quick.

Plus, it is going to be important to use analytics from api

[2017-02-24 18:29] nicoleslaw commented on #400
@jeremiak Can you clarify all of the NIBRS charts we're getting into the MVP so I can write these labels for you?

[2017-02-24 18:36] brendansudol commented on #375
gotcha, no biggie, yeah it just stand out a bit too much for me given that's over 2x the length of the others, but that's probably just me

[2017-02-24 19:07] brendansudol commented on #311
i removed for now

[2017-02-24 19:07] #311 closed

[2017-02-24 19:22] cacraig commented on #237
Everything except for Human trafficking is now on S3, @jeremiak . There appears to be some issues with HT. Trying to sort this out. @LarryBafundo

[2017-02-24 20:24] #375 closed

[2017-02-24 20:25] #345 closed

[2017-02-24 20:25] #364 closed

[2017-02-24 20:26] jeremiak commented on #204
Closed by #402

[2017-02-24 20:27] #294 closed

[2017-02-24 20:31] #336 closed

[2017-02-24 21:30] harrisj commented on #312
@jeremiak: how do you feel about passing in an argument like `data_year=2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014` (okay that's a bit ugly, but it works currently)

[2017-02-24 21:43] jeremiak commented on #312
@harrisj Totally willing to do that for now.

How do I get a CSV from an endpoint? Do I add `.csv` to the end or something like `format=csv`?

[2017-02-24 21:58] harrisj commented on #312
You add `output=csv`, but I need to get a PR ready for this

On Fri, Feb 24, 2017 at 4:43 PM, Jeremia Kimelman <notifications@github.com>
wrote:

[2017-02-24 23:02] jeremiak commented on #248
Yup, I think that is what we want @harrisj. Thanks, that's enough to get me moving on this last issue

[2017-02-24 23:57] harrisj commented on #248
Glad I could help. As always, let me know if there is anything you need

[2017-02-25 00:08] harrisj commented on #312
Okay, I fixed it so you can just pass a range instead of each year. See the linked PR above for details

[2017-02-26 20:33] LarryBafundo commented on #237
here's an update on the latest status of this issue:

1) @cacraig is still working on making the human trafficking report available. colin, can you please provide an update on this by Monday morning?

2) while colin is generating the remaining files and posting them on S3, he already provided @jeremiak with the URLs for download. jeremia, we still need to implement the download functionality using

[2017-02-26 20:34] LarryBafundo commented on #372
@jeremiak, please let me know when this is ready to review and assign to me.

[2017-02-26 20:47] LarryBafundo commented on #138
this looks great, finally closing!

[2017-02-26 20:47] #138 closed

[2017-02-26 21:11] LarryBafundo commented on #377
@jeremiak: i spot-checked this against https://docs.google.com/spreadsheets/d/1APcLiophXeeDrkhjMCULq1NJR1rbhrdkRPUyzV2OT_0/edit#gid=0 and it looks good. closing.

[2017-02-26 21:11] #377 closed

[2017-02-26 21:16] LarryBafundo commented on #203
this issue is in regards to designing an asset that helps people understand how NIBRS data is structured is something we'll eventually include in our "data download package." It's not referring to the "NIBRS participation map" on the About page.

Moving back to in progress.

[2017-02-26 21:22] LarryBafundo commented on #343
@jeremiak, @nicoleslaw can you two sync up on how we want to handle this on Monday morning?

[2017-02-26 21:32] #204 closed

[2017-02-26 21:49] LarryBafundo commented on #192
Agree @nicoleslaw with combining other & unknown, especially if that's how the manual treats them. is that a change we can make on the front-end?

I also did some checking over the weekend and out of the various NIBRS charts, the "victim/relationship to offender" one appears to be the most problematic. @harrisj, @cacraig do we know why have data categorized as "R", "N", and "U"?  I'm assuming this

[2017-02-26 21:58] LarryBafundo opened #410 "Downloading bulk NIBRS data returns data for the wrong state"
Selecting a state and year returns data for the wrong state. For example, selecting Colorado generates a zip of files pertaining to Delaware. This issue appears to be a widespread problem, rather than just an issue with a handful of states.

[2017-02-26 22:00] LarryBafundo opened #411 "Bulk incident data isn't available for some states"
Users should be able to download bulk incident data by year for a state that submits NIBRS data. For some states (see list below), selecting the state and a year returns the following error (this one was for DC):

<img width="1062" alt="screen shot 2017-02-26 at 1 58 27 pm" src="https://cloud.githubusercontent.com/assets/15899668/23344141/ed51b078-fc2b-11e6-9b2e-051a5c4ceb87.png">

I noticed that

[2017-02-26 22:07] LarryBafundo opened #412 "NIBRS dimensions are not showing at the national level"
The user should be able to view NIBRS details at the national level for any query other than "all violent" and "all property crime."

For example, selecting "United states" and "rape" should return the national trend for rape, as well a national representation of the NIBRS dimensions associated with rape. This requires an aggregation of the offense data reported by states that participate in the N

[2017-02-26 22:23] LarryBafundo commented on #192
Also noticed similar issues with race (see below):

<img width="870" alt="screen shot 2017-02-26 at 12 57 21 pm" src="https://cloud.githubusercontent.com/assets/15899668/23344313/1a0c3f0e-fc2f-11e6-908e-cef7537583b9.png">

Again, the issue for me is whether or not we can reclassify these descriptions to something more meaningful (unlikely) and if not, do we lump in with "unknown" or leave as is fo

[2017-02-26 22:25] LarryBafundo opened #413 "Spacing issues with opening description for states that report both SRS & NIBRS"
For states that report both SRS & NIBRS we have a few spacing issues in the opening description

<img width="851" alt="screen shot 2017-02-26 at 1 01 19 pm" src="https://cloud.githubusercontent.com/assets/15899668/23344335/62fdb9e0-fc2f-11e6-8d4a-eb93ef6746c5.png">

Here's a list of the "hybrid" states:

https://docs.google.com/spreadsheets/d/1APcLiophXeeDrkhjMCULq1NJR1rbhrdkRPUyzV2OT_0/edit

[2017-02-26 22:28] LarryBafundo commented on #394
@amberwreed can you please specify the interaction for the breadcrumb here?

[2017-02-26 22:37] LarryBafundo commented on #255
@brendansudol this is lower priority for now, but can we talk about how we can better handle this?

[2017-02-26 22:42] LarryBafundo commented on #384
agree with you've outlined @nicoleslaw. let's do as you described, but let's also drop hate crime from the homepage since we may not include it in the short-term, considering the lack of data available.

the 3 boxes shown on the homepage would therefore be: 1) LEOKA, 2) police data, 3) see all downloads.

[2017-02-26 22:43] LarryBafundo commented on #193
@jeremiak we talked about running some tests prior to asking Nick to take a look. We should aim to do this prior to the start of the next sprint, or at least early on.

[2017-02-26 22:44] #230 closed

[2017-02-26 22:47] LarryBafundo opened #414 "Add "NIBRS data diagram" to download package"
relates to implementing the design work happening here: https://github.com/18F/crime-data-explorer/issues/203 and including this asset with the data download package

[2017-02-26 22:51] LarryBafundo commented on #202
@amberwreed can i close this?

[2017-02-26 23:19] jeremiak commented on #400
Relationship of victim to offender
Location name

Age of offender
Race of offender
Sex of offender

Age of victim
Race of victim
Sex of victim

[2017-02-26 23:24] jeremiak commented on #411
Georgia behavior is because we don't currently have an initial year for NIBRS in Georgia (/data/ucr-program-participation.json)[https://github.com/18F/crime-data-explorer/blob/master/data/ucr-program-participation.json#L62] and there isn't one in our [reference comment on #331](https://github.com/18F/crime-data-explorer/issues/331#issuecomment-282114209).

@cacraig Can you let me know the first ye

[2017-02-26 23:41] jeremiak commented on #410
This data is stored in [/data/ucr-state-codes.json](https://github.com/18F/crime-data-explorer/blob/master/data/ucr-state-codes.json)

[2017-02-27 13:50] jeremiak commented on #237
@LarryBafundo once #418 is merged, I think this is done from the front end perspective

[2017-02-27 14:53] nicoleslaw commented on #343
@LarryBafundo I'm not sure what you mean, but in terms of the copy, it's in the main issue description:

[2017-02-27 15:54] nicoleslaw commented on #400
Example using /tennessee/robbery

* We can say "reported" or "known" here. Even though "known" is shorter, I think "reported" is clearer because the FBI receives this data from law enforcement agencies, and it's closer to spoken language for this kind of topic.

Other issues:

* Victim should be on left, with relationship under it on desktop and mobile.
* Offender age histogram still says victims

[2017-02-27 16:32] #335 closed

[2017-02-27 16:49] #372 closed

[2017-02-27 17:05] AvivaOskow opened #420 "Trend chart visual refinement: Rate/total numbers incorrect type size"
Currently at 18, should be 14/21 (see annotated trend chart for reference if you need):

**Current:**
<img width="802" alt="screen shot 2017-02-27 at 11 12 11 am" src="https://cloud.githubusercontent.com/assets/21244661/23371006/96db8b6a-fce4-11e6-89c5-d8b06952610a.png">

**Annotated:**
<img width="778" alt="screen shot 2017-02-27 at 12 02 43 pm" src="https://cloud.githubusercontent.com/assets/212

[2017-02-27 17:11] #248 closed

[2017-02-27 17:11] #412 closed

[2017-02-27 17:13] jeremiak commented on #313
Closing this since the broad strokes are done, will open more discrete issues for further work.

[2017-02-27 17:13] #313 closed

[2017-02-27 17:21] jeremiak commented on #384
This is mostly done, but as of right now we don't have the ability to use anchors in the URL because we are using hash based routing and don't have any scroll utilities

[2017-02-27 17:26] jeremiak commented on #410
@cacraig Would you be able to confirm that [the state mapping I currently use](https://github.com/18F/crime-data-explorer/blob/master/data/ucr-state-codes.json) is correct?

[2017-02-27 17:29] jeremiak commented on #343
Right now I have the following:

I am not able to calculate the percentage of the total population covered because there is a [data quality issue](https://github.com/18F/crime-data-explorer/issues/343#issuecomment-282136482). There are two fields, `covered_population` and `total_population` but sometimes `covered_population` can be greater than `total_population` which would result in a percentage

[2017-02-27 17:33] #413 closed

[2017-02-27 17:33] #400 closed

[2017-02-27 17:44] nicoleslaw commented on #343
Can you say how often the data issue comes up? Maybe we can exclude the total population calculation in those cases—otherwise, we're not really helping people understand the data coverage by population.

[2017-02-27 17:55] harrisj commented on #343
I can try to get an answer on that for you later today. I don't think it is too common, and I'm inclined to present the data, but I realize it does look like our bug when we do

[2017-02-27 17:57] cacraig commented on #410
It appears like that mapping is using something else (my apologies if I gave you the wrong thing!) - Here is the correct mapping:

 state_postal_abbr | state_code
-------------------+------------
 AL                | 01
 AR                | 03
 AZ                | 02
 CO                | 05
 CT                | 06
 DC                | 08
 DE                | 07
 IA                | 14
 ID

[2017-02-27 18:07] jeremiak commented on #410
@cacraig To confirm, these IDs can also be used with the API, correct?

[2017-02-27 18:10] nicoleslaw opened #423 "The description for national reporting type is misleading"
@LarryBafundo commented on [Sun Feb 26 2017](https://github.com/18F/crime-data-style/issues/3)

When a user queries data at the national level we currently say "the US reports summary data..."

We should probably say that it reports both SRS & NIBRS.

---

@jeremiak commented on [Mon Feb 27 2017](https://github.com/18F/crime-data-style/issues/3#issuecomment-282727204)

I find that language to be a

[2017-02-27 18:19] cacraig commented on #410
I would recommend using the State Postal Abbreviations in the API. Unfortunately, they are different. These use the state_code parameter, rather than the state_id. (there are a mind boggling number of state identifiers in our state table. )

[2017-02-27 20:10] jeremiak commented on #410
Agreed on the tech debt. I think I have to keep using the numerical IDs for now because:
1. `/offenders/count/states/19/race_code/offenses?per_page=50&aggregate_many=false&explorer_offense=rape` works
2. /offenders/count/states/in/race_code/offenses?per_page=50&aggregate_many=false&explorer_offense=rape` doesn't work (returns a `500`)
3. /offenders/count/states/IN/race_code/offenses?per_page=50&ag

[2017-02-27 20:11] harrisj commented on #410
Let me look into this. There is some technical debt here to be dealt with in the post-MVP world

[2017-02-27 20:15] cacraig commented on #410
@harrisj  @jeremiak  - Just to clarify - The nibrs count api's use our internal state_id by default, and the bulk downloads (from S3) use the state_code field. I know it's confusing. Perhaps we can switch the API over to using the state_code instead -  so it matches the bulk download?

[2017-02-27 20:23] jeremiak commented on #410
If I had my druthers, I'd vote for standardizing on the postal abbreviation

[2017-02-27 20:38] harrisj commented on #410
I would also like to standardize on state postal abbr if druthers are taken into consideration. To clarify, there are 4 different ways to identify states in the FBI database:

1. state_id - the internal ID for the row number of the state in the ref_state table, used when joining against other stables
2. state_code - a 2-digit number for the state I guess used by the FBI reporting process
3. state_

[2017-02-27 20:40] #411 closed

[2017-02-27 22:23] nicoleslaw commented on #423
It looks like we haven't implemented my original suggestion from https://github.com/18F/crime-data-explorer/issues/318#issuecomment-281527140 yet—does that work for you for now, @LarryBafundo, or do you want us to say more about the data sources here?

[2017-02-27 22:31] LarryBafundo commented on #423
@nicoleslaw i think that works great!

[2017-02-28 01:38] LarryBafundo commented on #410
sounds like there's some potential refactoring to do here in later sprints, but as far as satisfying the original issue, this looks good to go. @jeremiak okay to close?

[2017-02-28 01:40] LarryBafundo commented on #237
@jeremiak, @cacraig keeping this open for now, as not able to download LEOKA and human trafficking at the moment.

[2017-02-28 01:41] LarryBafundo commented on #392
@jeremiak, when you have a chance, can you please update the status of this one? i'm not able to verify it on my own.

[2017-02-28 01:46] jeremiak commented on #392
Lots of the initial work to do this was done in #432, which @brendansudol and I will be pairing on tomorrow and probably closing out then.

[2017-02-28 01:47] jeremiak commented on #410
Good to close!

[2017-02-28 01:47] #410 closed

[2017-02-28 01:48] LarryBafundo commented on #255
@amberwreed let's sync on this when we have a chance and talk about what our options may be. my understanding from the technical team is that this may not be a cheap fix.

[2017-02-28 01:55] LarryBafundo opened #433 ""united states" should not be selectable in the bulk incident data drop-down menu"
Currently "united states" is selectable from the bulk incident data drop-down menu. Since the goal of this view is to provide data by state and year, the US should not be a selectable option, as the report would be too large to produce in a single CSV.

<img width="1017" alt="screen shot 2017-02-27 at 5 19 08 pm" src="https://cloud.githubusercontent.com/assets/15899668/23388255/f9afb65e-fd15-11e6-

[2017-02-28 02:03] LarryBafundo opened #434 "NIBRS charts: Clean up incident detail charts that have no data"
In some cases with low amounts of data we show dimensions inconsistently. In the case of DC and arson (2004-2014) we show victim demographics as such:

<img width="397" alt="screen shot 2017-02-27 at 5 15 45 pm" src="https://cloud.githubusercontent.com/assets/15899668/23388388/c227e304-fd16-11e6-9326-e09c7ff8b9b6.png">

and reported relationship as:

<img width="346" alt="screen shot 2017-02-27 at

[2017-02-28 02:05] LarryBafundo commented on #330
@cacraig please let me know if you need clarification on this

[2017-02-28 15:01] nicoleslaw commented on #423
@LarryBafundo Should I close this out or leave it in the backlog for future iterations?

[2017-02-28 17:03] LarryBafundo commented on #420
@AvivaOskow good to close out?

[2017-02-28 17:06] LarryBafundo commented on #343
@nicoleslaw i spent some time with the app on sunday and didn't notice it. not saying it doesn't occur, just saying it didn't notice it.

[2017-02-28 17:07] LarryBafundo commented on #423
Let's close it out

[2017-02-28 17:10] RyanSibley commented on #320
Inserted link to all NIBRS information.

[2017-02-28 17:18] amberwreed commented on #394
@LarryBafundo @nicoleslaw

The bread crumb was put into the design when we were going to have crime pages and state pages.

A couple of ideas for solutions:
1. Remove it.
2. Make it not clickable.
3. Only make words that we have pages for linkable. For example, linking to explorer would take you to the home page or the default page for the explorer view. Clicking on the state wouldn't be an option

[2017-02-28 17:22] amberwreed commented on #255
@brendansudol @jeremiak Would it be possible to hard code a line above the trend chart? The difficulty may be that we'd need to have an even spacing from the top line in the chart to the hard coded line. May be easier to discuss.

[2017-02-28 17:23] AvivaOskow commented on #420
@LarryBafundo on the demo version yes, but I'm not seeing that change in the regular app (but maybe I'm just confused about the difference between the two)

[2017-02-28 17:35] #320 closed

[2017-02-28 17:36] RyanSibley commented on #323
Have copy -- will be implemented after the HTML is fixed.

[2017-02-28 17:37] #423 closed

[2017-02-28 19:02] harrisj commented on #351
We are waiting on the FBI to point crime-data-api.fbi.gov to the appropriate api.data.gov CNAME

[2017-02-28 19:13] nicoleslaw opened #436 "Dynamic source text for trend chart"
We should make it clear when we're using converted/aggregate NIBRS data for the trend chart (dynamically based on the location). I'll write some copy variations here.

[2017-02-28 19:33] nicoleslaw commented on #436
Let's try this. It removes "Reported" for conciseness, but I've emphasize that elsewhere now.

---

#### SRS only

Source: Summary (SRS) data from {location}, YYYY–XXXX.

#### SRS and NIBRS

Source: Summary (SRS) and summarized incident (NIBRS) data from {location}, YYYY–XXXX.

#### NIBRS only

Source: Summarized incident (NIBRS) data from {location}, YYYY–XXXX.

[2017-02-28 20:17] nicoleslaw commented on #192
Can we ask the FBI about this one before making a decision?

[2017-02-28 20:18] #307 closed

[2017-02-28 20:21] nicoleslaw commented on #322
@RyanSibley We may be able to address some common user questions with a section/timeline/ graphic about data custody. Ex:

* What is the FBI's role in the process of collecting and publishing the data? (Data is only as good as the states provide.)
* Who touches the data before it becomes available for download here?
* Is the data processed before it shows up here?
* Is the data processed by the CD

[2017-02-28 20:22] nicoleslaw commented on #374
@amberwreed I am curious what you think of my notes above. Maybe a non-issue now that we've improved the content, but would you mind taking a look at the site?

[2017-02-28 21:32] nicoleslaw commented on #318
@jeremiak Do you have everything you need from me for this?

[2017-02-28 22:17] amberwreed commented on #374
@nicoleslaw I agree we can improve this page. I noticed in testing today that people had problems finding documentation.

[2017-03-01 00:48] LarryBafundo commented on #343
I'm going to propose that we leave this as is currently implemented and move on. does anyone feel strongly otherwise?

[2017-03-01 00:50] LarryBafundo commented on #192
@nicoleslaw sure, but can we propose something first? or are you saying that we should ask if we can determine the meaning of these rogue classifications first?

[2017-03-01 00:52] LarryBafundo commented on #394
@amberwreed do you think this will be useful if we add county and city perspectives? Otherwise, as it currently stands, my inclination is to just remove it. what do you think?

[2017-03-01 00:53] LarryBafundo commented on #434
@amberwreed are you on board with what i said here? basically, all blank incident detail cards should be displayed as shown in the "victim's relationship to offender" card.

[2017-03-01 00:58] LarryBafundo commented on #312
hey sorry if this was confusing, but this issue refers to both the back-end and front-end tasks necessary for adding the related links for state based queries. specifically, it should allow the user to download reports for population data and agency participation within that locale. i'm not seeing these on the latest build.

[2017-03-01 01:11] LarryBafundo commented on #379
@nicoleslaw, @amberwreed  please see how i updated this issue to reflect what we heard during user testing today.

@harrisj, I understand that we use different data to generate the trend depending on what data that state reports. However, if a state reports both SRS & NIBRS, do we always use the "summarized NIBRS" format to generate the trend? If so, how do we handle situations where a state offic

[2017-03-01 01:19] LarryBafundo commented on #436
@harrisj, I understand that we use different data to generate the trend depending on what data that state reports. However, if a state reports both SRS & NIBRS, do we always use the "summarized NIBRS" format to generate the trend? If so, how do we handle situations where a state officially reports both, but most of the data is SRS. Do we still use the summarized NIBRS in that case? And if so, does

[2017-03-01 01:19] LarryBafundo commented on #379
closed due to redundancy

[2017-03-01 01:19] #379 closed

[2017-03-01 01:20] LarryBafundo commented on #436
@jeremiak this is in progress it sounds like?

[2017-03-01 01:21] LarryBafundo commented on #355
closing because we will have a task for adding the "no data" state

[2017-03-01 01:21] #355 closed

[2017-03-01 01:23] #309 closed

[2017-03-01 01:24] LarryBafundo commented on #239
closed due to redundancy

[2017-03-01 01:24] #239 closed

[2017-03-01 01:27] LarryBafundo commented on #414
closing in favor of linking to the NIBRS manual.

[2017-03-01 01:27] #414 closed

[2017-03-01 01:32] LarryBafundo opened #437 "Outline potential design approaches for counties/cities to discuss with the FBI"
I revised this task to focus on outlining potential approaches and key considerations to socialize with our partners.

[2017-03-01 01:33] LarryBafundo opened #438 "***Sprint 8 Divider***"

[2017-03-01 01:35] LarryBafundo commented on #284
this looks to be already implemented

[2017-03-01 01:35] #284 closed

[2017-03-01 01:41] LarryBafundo commented on #316
@amberwreed can you please confirm how this should look re: design?

[2017-03-01 01:47] LarryBafundo opened #439 "Assess value/feasibility of city perspectives"
This issue covers the following tasks:

- [ ] explore technical feasibility/apparent user value for city perspectives
- [ ] outline potential approach, key questions/considerations for the FBI team

[2017-03-01 01:50] LarryBafundo opened #440 "Plan for March workshop"
- [x] Have preliminary call with Amy and team to decide on approach moving forward
- [x] Confirm dates and participants for workshop
- [x] Develop executive briefing, including preparing for a demo of the CDE
- [x] Develop assets for the workshop (TBD)
- [x] Finalize & socialize agenda