[2017-03-01 14:47] #420 closed

[2017-03-01 14:49] brendansudol commented on #394
i like number 2 -- making it not clickable

[2017-03-01 14:50] brendansudol commented on #394
though i'm also happy to just remove

[2017-03-01 14:51] brendansudol commented on #255
i'm going to iterate on this today -- let's sync up after i dig in a bit more -- i think i can improve it a good bit

[2017-03-01 15:04] nicoleslaw commented on #192
Yes, sorry for being vague. I think we should ask them about the "R", "N", and "U" entries.

[2017-03-01 15:07] nicoleslaw commented on #343
I do, because it's misleading and several users (data and law enforcement) have suggested adding the percentage of agencies in addition to the percentage of the population.

[2017-03-01 15:09] RyanSibley commented on #380
closing this for now because it looks like there are other ways of solving the immediate problem.

[2017-03-01 15:09] #380 closed

[2017-03-01 15:42] LarryBafundo commented on #394
honest question: what's the value of making it not clickable vs. just removing? are we saying that the breadcrumbs will be more useful when we add the county and city perspectives, but aren't necessary now?

[2017-03-01 15:43] LarryBafundo commented on #255
sounds good. @brendansudol, can we sync up on this after the retro (but before planning)? just ping @amberwreed and or me.

[2017-03-01 15:47] RyanSibley commented on #350
I looked at the document @harrisj linked and I agree it would be a good start. Can someone on the tech team (maybe you Jacob) make sure the document indeed does explain how the API is supported and describe the options supported, then I can go in and edit for clarity, etc.?

[2017-03-01 15:58] RyanSibley commented on #346
@harrisj Did we determine what kind of data hate crime data is?

[2017-03-01 16:00] harrisj commented on #346
See https://github.com/18F/crime-data-api/issues/265 for more details on the data source

[2017-03-01 16:04] RyanSibley commented on #322
Ah, a graphic is a good idea. I"ll also write up some sentences answering those questions.

[2017-03-01 16:10] LarryBafundo commented on #192
okay will do.

[2017-03-01 16:13] LarryBafundo commented on #343
but @nicoleslaw we can't be confident in the accuracy of the percentage of population value; at least that's my understanding @harrisj, @jeremiak?

[2017-03-01 17:15] #433 closed

[2017-03-01 17:18] brendansudol commented on #394
i don't know -- to me, it just adds a nice, albeit slightly redundant, cue as to the filters you selected and the content below; that said, i actually think removing for now makes sense

[2017-03-01 17:34] RyanSibley commented on #195
@LarryBafundo can we move this to the backlog or the equivalent? We have what we need for launch but we could potentially add more info later. There was also some confusion at the FBI that slowed down us getting any copy for this task from them.

[2017-03-01 17:37] LarryBafundo commented on #195
@ryan sure thing.

[2017-03-01 17:43] #394 closed

[2017-03-01 17:46] #384 closed

[2017-03-01 17:59] amberwreed commented on #322
I love the idea of a graphic. Let's chat about it.

On Wed, Mar 1, 2017 at 8:04 AM, Ryan Sibley <notifications@github.com>
wrote:

--
-------------------------
*Amber Reed*
Visual Design Supervisor
18F

[2017-03-01 19:24] amberwreed opened #445 "Trend chart: Number in dynamic legend"
Numbers are the wrong size. See latest annotated sketch file.

[2017-03-01 19:28] amberwreed opened #446 "When URL changes, automatically scroll to the top of the page."
As a user, when going between pages of the app, I should be brought to the top of the page. Currently, I am placed at the same position as my current view.

[2017-03-01 19:29] amberwreed opened #447 "About page: text styling"
Font sizes in the second paragraph is too large.

[2017-03-01 19:47] AvivaOskow opened #448 "NIBRS Charts: Donut chart interactions"
**Designers:** need to choose colors for selected and unselected state that work, will get those to dev when ready (designs from original spec didn't work in live interactions)

**Dev** Implement colors and make sections of donut selectable from both the chart and the legend (right now only through the chart)

[2017-03-01 19:51] AvivaOskow opened #449 "NIBRS Charts: Create minimum height for cards and flow pinterest-style"
to create even spacing between cards (should be 20 px between horizontally and vertically)

<img width="938" alt="screen shot 2017-02-27 at 12 42 37 pm" src="https://cloud.githubusercontent.com/assets/21244661/23478199/8c1a2d16-fe8e-11e6-8f9d-3340d276466c.png">

[2017-03-01 19:55] AvivaOskow opened #450 "NIBRS charts: singular vs plural grammar"
In dynamic sentence below histogram, when there is only one incident, it still reads, “There **were** 1 incident**s** involving...” can we change this for when it’s 1 to be “was, incident”?

This should become grammatically correct.

[2017-03-01 19:58] AvivaOskow opened #451 "Mobile: Explorer filter menu navigation interactions and design not to spec"
@brendansudol and I worked through a solution that should be implemented:

Move red filter nav icon button to left corner under blue header. When scrolling, once that button hits the top, it should stay in the top right corner on screen, so when opened and closes, the filter looks to be coming out of that same spot. Don't repeat the icon, just have an X or close button on the right of the filter w

[2017-03-01 20:03] LarryBafundo opened #452 "Change UCR participation data shape to respect new endpoint"
This issue pertains to the front-end work necessary for getting the production app working using the new API endpoint.

[2017-03-01 20:07] AvivaOskow opened #453 "Mobile: Explorer View trend chart interaction does not seem to be working"
Unclear if this is due to the app breaking yesterday or if it's something else we need to explore (not working currently to be able to check).

(Also for future, we should consider table view for mobile underneath, or as an alternative to the chart.)

[2017-03-01 20:09] AvivaOskow opened #454 "Downloads & Doc: Future Enhancement - add pop-up window before direct download of data, telling user what they are downloading and confirm download"

[2017-03-01 20:10] amberwreed opened #455 "Link to state UCR program next to overview"
As a user, I am able to find a link to the state UCR program next to the overview.

[2017-03-01 20:12] amberwreed opened #456 "Link to state participation or data downloads from overview"
As a user, I can download state participation, or easily be directed to the bulk downloads of state participation from the overview section.

[2017-03-01 20:12] AvivaOskow opened #457 "About page: paragraph lengths are inconsistent"
Either oversight in design or dev is not to spec (need to investigate this one).

<img width="988" alt="screen shot 2017-03-01 at 3 10 08 pm" src="https://cloud.githubusercontent.com/assets/21244661/23479123/6a5a75d4-fe91-11e6-9728-b8a5f4e8ebfb.png">

Also related to #447 , need to reduce type size

[2017-03-01 20:14] AvivaOskow opened #458 "About page: don't show the pink color on rollover, but leave state name"
Right now the rollover state in the light red (same interaction as the Homepage). I think this defeats the purpose of the color legend, so we should rethink this interaction, perhaps only have a tooltip with the state name, or the state gets slightly lighter or darker—we can discuss.

[2017-03-01 20:15] amberwreed opened #459 "NIBRS charts: Dynamic sentence for NIBRS years"
As a user, if I am looking at a time period before NIBRS data is selected, the year range in the incident detail should only reflect the time period data was collected.

[2017-03-01 20:18] amberwreed opened #460 "Source content dynamic"
As a user, I understand the source of the chart data and the time range. For example, if summary trends are an aggregate of NIBRS data, I am told that.

[2017-03-01 20:19] jeremiak commented on #452
With [crime-data-api#9ca5172b31e8833a62487782c231842bd20b617d](https://github.com/18f/crime-data-api/commit/9ca5172b31e8833a62487782c231842bd20b617d), the API response for `/geo/states/:state/participation`changed from an array to an object with the following structure:

[code]

The array assigned to `results` is the same as the array returned before the API changed.

[2017-03-01 20:21] nicoleslaw commented on #374
I think some of the issue we're running into is we don't have the dataset detail pages where additional documentation/links will appear like the Explore view.

[2017-03-01 20:22] nicoleslaw commented on #455
This is already implemented. Is there a start where it's not working?

[2017-03-01 20:22] jeremiak opened #461 "Refactor content from About page component to use regular pattern"
We have a [fair bit of hardcoded content in the <About /> page component](https://github.com/18F/crime-data-explorer/blob/master/src/components/About.js#L145-L203) that we should refactor to be stored as `.yml` files in `/content`.

[2017-03-01 20:23] harrisj commented on #452
I apologize. I tried cleaning up some code to make things more consistent and I introduced this bug

[2017-03-01 20:23] amberwreed opened #462 "About: Explain that the CDE makes data available between 1960-2014"
As a user, I understand that the data included in the CDE is from 1960 until 2014 (or the latest available.)

[2017-03-01 20:24] jeremiak commented on #452
No worries, its a pretty small fix on the front end side and having a consistent API is 💯

[2017-03-01 20:25] nicoleslaw commented on #460
Duplicate of #436

[2017-03-01 20:25] #460 closed

[2017-03-01 20:25] amberwreed opened #464 "Navigation: United states coloring in explorer view"
As a user, when I select United States, I am able to see that it is selected, the same as I can view the state.
![screen shot 2017-03-01 at 12 24 20 pm](https://cloud.githubusercontent.com/assets/13576520/23479692/266f207a-fe7a-11e6-9810-390d5d094dd9.png)
![screen shot 2017-03-01 at 12 24 11 pm](https://cloud.githubusercontent.com/assets/13576520/23479696/285a9842-fe7a-11e6-8613-c94672d9feda.png)

[2017-03-01 20:30] #456 closed

[2017-03-01 20:31] jeremiak opened #465 "Get to 100% test coverage of behavior of utility functions"
Still to need to research: what sort of coverage do we have now for things in `/src/util`

[2017-03-01 20:31] jeremiak opened #466 "Get to 100% test coverage for reducer logic"
Still to need to research: what sort of coverage do we have now for things in `/src/reducer`

[2017-03-01 20:32] #455 closed

[2017-03-01 20:32] nicoleslaw opened #467 "Enable glossary links under About the data"
Example here: https://github.com/18F/crime-data-explorer/pull/431#issue-210623302

It would be helpful to link to `hierarchy rule` in the glossary instead of linking to UCR documentation.

[2017-03-01 21:16] #392 closed

[2017-03-01 21:28] nicoleslaw commented on #462
@LarryBafundo @jeremiak Can we default to the full time range? We've had several users ask for that.

[2017-03-01 21:56] nicoleslaw commented on #374
@LarryBafundo @brendansudol @jeremiak After chatting with Amber, we want to propose shuffling around the sections on this page. It would take a combination of front end and content help. Not urgent, but here's the idea...

---

# Downloads and Documentation

[NIBRS section] -- remove h2, Nicole with fuss with copy

[Bulk downloads section] -- keep h2

## Documentation

[API module] [Data documenta

[2017-03-01 22:23] LarryBafundo commented on #164
Where do we store the responses and how do we access them?

[2017-03-01 22:25] nicoleslaw commented on #164
Can you talk about why we need the form over a particular email address? (Not as a challenge, but this will help us write the content around who/when to contact v give feedback.)

[2017-03-01 22:31] LarryBafundo commented on #164
its a good question. my first reaction is that we want two channels for feedback - one for comments/questions about the product (what works, what doesn't, suggestions) and another for questions about the data and the UCR program in general. the latter should go directly to CJIS. but in cases where people want to provide feedback about the product, i was thinking that should go to us (we could then

[2017-03-01 22:34] AvivaOskow opened #470 "Home Page Refinements: Add error state if location or crime type is not selected when user clicks "View Results""
See annotated Homepage file for correct interactions (second page). Should highlight box in red and add text alert underneath

[2017-03-01 22:38] AvivaOskow opened #471 "Home Page Refinements: Vertically center intro paragraph in light blue box"
Right now there is more space below than above.

[2017-03-01 22:51] AvivaOskow opened #472 "Home Page Refinements: Update disabled button colors"
Change background of disabled button: CBD0D4
Text: 697A85

[2017-03-01 23:04] AvivaOskow opened #473 "About Page Refinements: Add list of available data sets to top right of page"
<img width="765" alt="screen shot 2017-03-01 at 6 02 15 pm" src="https://cloud.githubusercontent.com/assets/21244661/23485402/413f963a-fea9-11e6-9c9a-89f0056321eb.png">

(Annotated file coming shortly)

[2017-03-01 23:09] amberwreed opened #474 "Edits to "crime data" paragraph on the about page"
Ryan,
Not trying to overstep my role but Aviva and I were thinking of ways to decrease the amount of text on the about page and were playing with this. I'm including it incase it is helpful.

Request: Please decrease the amount of text in this paragraph.

The data available here is from the FBI’s Uniform Crime Reporting program (UCR), which is made up of reports from law enforcement agencies acros

[2017-03-01 23:18] amberwreed opened #476 "About page: add link to download participation csv"
As a user, I am directed to a csv of participation in the downloads section.

Option:
Remove second sentence under map and in place add: Download Uniform Crime Reporting participation data between 1960–2014.

@RyanSibley Is this ok?

[2017-03-01 23:21] amberwreed opened #477 "About page: Content sections under map"
Fix content and design. Please see annotated file in drive. @RyanSibley Is content complete?

[2017-03-02 00:00] #223 closed

[2017-03-02 00:01] #221 closed

[2017-03-02 00:09] AvivaOskow opened #478 "Explorer Page Refinements: Replace link styles on top right (UCR, census) to match Further Reading style in About the Data"
Change from red arrows to red lines like these:

<img width="303" alt="screen shot 2017-03-01 at 7 07 07 pm" src="https://cloud.githubusercontent.com/assets/21244661/23487187/62ac0eda-feb2-11e6-9c0d-df3696515fb6.png">

[2017-03-02 01:08] amberwreed opened #481 "NIBRS Chart: Age demographics"
As a user, charts are defaulted to the category with the highest value not the first age range available.

[2017-03-02 01:11] amberwreed opened #482 "Trend chart: download button"
As a user, I see the download button for the trend chart below the chart – Should match the NIBRS charts download button placement.

[2017-03-02 01:12] amberwreed opened #483 "NIBRS charts: Divider line color"
As a user, the divider line in the NIBRS charts appears as #95AABC.

[2017-03-02 01:14] amberwreed opened #484 "Trend chart: Dashed line color"
As a user, I see the dashed line that let's me know where I am, as #95AABC, not black.

[2017-03-02 01:16] amberwreed opened #485 "NIBRS charts: Order by value, not alphabet"
As a user, the order of the NIBRS attributes in charts is determined by the value and should be from high to low, not alphabetically.

[2017-03-02 01:18] amberwreed opened #486 "Navigation: Dynamic text for data available"
As a user, I am aware of the data type and time period available when I am selecting a time period to view.

[2017-03-02 01:27] amberwreed commented on #439
@LarryBafundo I question if this should be a priority. From what I understand we may have technical limitations that would make a good case for not focusing on cities.

[2017-03-02 01:29] amberwreed opened #487 "Sprint 6 research recap / status report"
As a client partner, I understand what was delivered in the sprint and how users responded to the design. I understand what is coming next.

[2017-03-02 01:31] amberwreed commented on #203
Let's keep this open until we determine that the map is duplicative to the data dictionary. Even if we don't redesign it, we should consider linking to it as it helps give an overview of what attributes are collected with NIBRS and how the files can be linked together.

[2017-03-02 02:03] RyanSibley commented on #164
I think providing a mechanism for feedback is a good idea. Before we get too far along, we have to make sure we don't violate PRA, which forms can do. The FEC folks don't have to worry about PRA for some quirky reason. If we use a form I believe free text fields are our friend.

[2017-03-02 14:40] RyanSibley commented on #474
Feedback is very much appreciated! So thank you. I'm always happy to cut. The first versions usually come out too wordy, I know. Text also only gets better with editors/editing.

Here's a slightly edited version of your suggestion:

**The data available from the FBI’s Uniform Crime Reporting program (UCR) is made up of reports from police agencies across the country. Police agencies submit reports

[2017-03-02 15:15] jeremiak commented on #466
We actually already have 100% test coverage for `/src/reducers` according to `npm run coverage`

[2017-03-02 15:15] #466 closed

[2017-03-02 15:18] jeremiak commented on #193
Sounds good. We should use a tool like [HTML_CodeSniffer](https://squizlabs.github.io/HTML_CodeSniffer/) and address all the errors and as many warnings as possible before we ask for a review. Use the WCAG2AA standard for running the test

[2017-03-02 15:40] RyanSibley commented on #462
Aside from adjusting the default display, do we only need a sentence explaining the range the data is available for. A few other questions I have are:

- Does this become part of boiler plate language that we add to the "About the data" texts that appears at the bottom of page and describes constants that a user should know/might find useful?

- Do we also tell people about the range in the box wh

[2017-03-02 16:54] amberwreed commented on #434
@LarryBafundo I agree. Seems important to fix this.

[2017-03-02 18:05] brendansudol commented on #482
is there a sketch file for this? i can't seem to find it (and i'm unsure where it goes in relation to that (centered) chart text below the chart

[2017-03-02 18:10] brendansudol commented on #483
i don't see this color in our style guide -- is it new?

[2017-03-02 18:16] brendansudol commented on #483
that is quite close to the "blue-light" we have (#95aabc) -- should we go with that or add a new color to guide and application?

[2017-03-02 18:16] brendansudol commented on #483
cc: @amberwreed @AvivaOskow

[2017-03-02 18:25] AvivaOskow commented on #483
@brendansudol sorry, you are right, it should be 95AABC. I updated the story. Thanks!

[2017-03-02 18:36] nicoleslaw opened #493 "Finalize contact info under About"
The About page currently has an array instead of three placeholder sections under the `Contact us` heading. We need to have three separate sections in the HTML so @RyanSibley can update the copy.

As an alternate idea, @RyanSibley could paste the copy here for reference with the About design file.

[2017-03-02 18:46] nicoleslaw commented on #474
Minor thing for consideration: I've been thinking about SRS and NIBRS as [data collections](https://ucr.fbi.gov/ucr-program-data-collections) or reporting systems (to match the FBI's wording). `Formats` is nice! I was using `datasets` to refer to specific things you can download from the CDE. This gets a little blurry with the MVP because we're letting people download bulk NIBRS data (rather than

[2017-03-02 19:13] nicoleslaw commented on #178
Assigning to you @RyanSibley, but I consider this low-pri.

For context, we're going to add a legend and special treatment to the trend chart for rape offenses (it will have three lines for recent data because of the change in definition: national SRS aka legacy, state legacy, and state revised).

We already have information about the definition change under [About the data](https://github.com/18F

[2017-03-02 19:17] nicoleslaw commented on #210
I am going to un-assign myself from this, but I am still on the thread as a participant and happy to help wordsmith with y'all in the future.

[2017-03-02 19:26] nicoleslaw commented on #244
Assigning this to you @RyanSibley. I would say low or mid-pri.

The general idea is to be honest that the FBI doesn't collect data about non-binary genders, for example, and the race data is historically problematic. (I think we talked about this on a call once, and I am betting you'd do a better job describing the issues with reporting than I can.) It might be helpful historical guidance for the

[2017-03-02 19:35] nicoleslaw commented on #322
For reference, I am trying to solve some for these UCR issues in the README as a parallel task. Feel free to crib from the wording there later if it's useful: https://github.com/18F/crime-data-api/issues/394#issuecomment-283683880

[2017-03-02 19:38] nicoleslaw commented on #462
@amberwreed Do you have a task for the available years microcopy? Or did you decide to cut that?

[2017-03-02 19:44] nicoleslaw commented on #23
cc @RyanSibley for reference — just an idea in the backlog, but I think it would be a nice refinement to our glossary. In the meantime, I tried to make the connections between homicide offenses clearer in the terms themselves.

[2017-03-02 19:57] nicoleslaw commented on #462
So, hmm. Are we trying to solve for the question of what is in the CDE, what does the FBI collect, or what is available for a particular state via the `Time period` menu? I'm not sure if we should equate those things.

If the larger question is what data does the CDE have—not at a state level—that is easy to answer under About and the readme, etc. But if we're trying to answer it at a state or loc

[2017-03-02 20:13] brendansudol commented on #483
👍

[2017-03-02 20:44] nicoleslaw commented on #459
Okay, I'll need your help on this one @jeremiak, but I think I have a solution when the query spans beyond the available NIBRS span. Let me know what you think @amberwreed @LarryBafundo @RyanSibley.

Using Tennessee > Homicide > 1970-2014 as an example, I want to change the NIBRS chart heading and add a sentence to the beginning of the overview. For reference, it looks like 1997 is our first year

[2017-03-02 20:54] nicoleslaw commented on #462
Talking to @harrisj, he said he could see an argument for not restricting the years in the dropdown for a particular state's data so people can use similar charts. I agree as long as we have the "no data" treatment for the early years in that scenario.

[2017-03-02 21:02] RyanSibley commented on #493
##Contact us

**Data questions**
Please direct questions about the data to:
Criminal Justice Information Services (CJIS) Division
cjis_comm@leo.gov
(304) 625-4995
Federal Bureau of Investigation
Uniform Crime Reporting Program
1000 Custer Hollow Road
Clarksburg, WV 26306

**Technical and API issues**
Please submit technical questions about the application and the API via [GitHub](https://github.co

[2017-03-02 21:27] nicoleslaw commented on #493
@LarryBafundo Next time you send along some questions, would you mind confirming with the FBI if they plan to use the [CJIS twitter account](https://twitter.com/fbicjis)? I am not sure if it is spam or real at this point, but it might be useful for promoting the CDE if they do own it.

[2017-03-02 22:09] RyanSibley commented on #493
Thanks for the reminder @nicoleslaw. Leaving the CJIS twitter handle out.

[2017-03-02 22:19] LarryBafundo commented on #459
@nicoleslaw i think this looks good.

as a side note: i think the issue of participation, or what agencies and cities are behind the numbers we present, is less important for the NIBRS dimensions because we're showing how data is distributed. But to Dr. Snyder's point this morning, we probably need to think more about who is behind the trends that we show and who is missing (especially cities/larg

[2017-03-02 22:28] LarryBafundo commented on #462
hey @nicoleslaw i think we should only be concerned with explaining what data the CDE provides, because there is no formal connection between the CDE and new UCR and I imagine scenarios where we may not be completely in sync. This certainly isn't the case today even.

That being said - I think we can talk about what data the CDE provides access to in broad strokes in the About Page, but are then l

[2017-03-02 22:32] amberwreed commented on #462
I agree with @LarryBafundo. There are two stories here.

1. Add a sentence to the about page (cc @RyanSibley)
2. Add dynamic sentence below the time period picker that says when data is available from a specific state. I'll confirm this is an issue already. ( @jeremiak)

[2017-03-02 22:35] amberwreed commented on #459
@LarryBafundo I think @nicoleslaw 's edits help the viewer to understand the at the summary trend and NIBRS data is often different data sources.

[2017-03-02 22:37] amberwreed commented on #374
Sounds good! Let me know if you would like a new annotated sketch file. @brendansudol

[2017-03-02 22:38] LarryBafundo commented on #459
Yep. just saying that we probably can do more to explain how agency participation affects the trends - particularly if cities/urban areas are missing from those counts, or suddenly appear at a particular year.

We have an issue for this idea, but it needs to be rounded out.

[2017-03-02 23:43] amberwreed opened #495 "Navigation: Dynamic data available sentence"
As a user, I understand what data is available for a specific state when I am searching for a time period.

[2017-03-02 23:46] amberwreed commented on #495
<img width="233" alt="screen shot 2017-03-02 at 3 45 51 pm" src="https://cloud.githubusercontent.com/assets/13576520/23532236/5c8ee1a0-ff5f-11e6-8e32-7f8857ac7e29.png">

[2017-03-02 23:53] LarryBafundo commented on #436
@jeremiak please let me know when this is ready to review.

[2017-03-03 00:58] #237 closed

[2017-03-03 01:01] #484 closed

[2017-03-03 01:35] #483 closed

[2017-03-03 01:48] LarryBafundo commented on #164
@RyanSibley how do we ensure we stay within PRA compliance? what do we need to define in order to figure that out?

[2017-03-03 01:53] jeremiak commented on #471
Currently deployed to https://crime-data-explorer.fr.cloud.gov/#/ so please review and close if appropriate, @AvivaOskow

[2017-03-03 01:55] LarryBafundo commented on #192
hey, we have a separate issue for tracking down why some attributes are coming out as "R", "U" and so on. so let's focus this issue on Nicole's original ask, which was around cleaning up the descriptions that do exist. looking through the thread, we need updates on the following:

- [ ] make specified changes to the victim relationship chart (https://github.com/18F/crime-data-explorer/issues/192#i

[2017-03-03 01:56] LarryBafundo commented on #462
I've asked CJIS why we only have data that goes back to 1960 and why we only have NIBRS data that goes back to 1991, when that program started in 1989.

[2017-03-03 01:59] LarryBafundo commented on #281
@brendansudol would this affect our current spacing/dimensions of the trend charts?

[2017-03-03 02:00] LarryBafundo commented on #322
It seems like the remaining issues are being addressed either through the README or ongoing work with the About page. Do we still need this issue?

[2017-03-03 03:34] amberwreed commented on #164
We've thought through this in the research channel. Basically we don't want
to collect PII and we want to ask for open ended feedback, not specific
questions that could be perceived as a survey. Next steps are to agree on a
form and get approval from Noah and the FBI.

On Thu, Mar 2, 2017 at 5:48 PM, Larry Bafundo <notifications@github.com>
wrote:

--
-------------------------
*Amber Reed*
Visual

[2017-03-03 15:08] RyanSibley commented on #323
I think there are multiple issues relating to this so I'm going to close this one.

[2017-03-03 15:08] #323 closed

[2017-03-03 15:11] RyanSibley commented on #476
What information is in the download? Is it agency-level participation data?

[2017-03-03 16:46] #471 closed

[2017-03-03 17:14] #473 closed

[2017-03-03 17:14] AvivaOskow opened #496 "About Page: Implement content redesign"
(This encompasses the changes for #447 #457 and #476 )

Annotated file coming by end of day Friday, 3/3, here is a jpg for reference:

![about-3 6 17](https://cloud.githubusercontent.com/assets/21244661/23618258/ceae489c-025d-11e7-9abf-895aea69d158.jpg)

[2017-03-03 17:41] LarryBafundo commented on #476
Hey @RyanSibley right now this is a bit in flux, but I will do my best to clarify:

Right now you can see what we intend to show for national participation on the downloads and documentation view. This is basically state totals by year and reporting type.

You can also see the current implementation of state-based participation on the demo-site: https://crime-data-explorer-demo.fr.cloud.gov/#/expl

[2017-03-03 17:46] brendansudol commented on #453
can u check again @AvivaOskow? should be working

[2017-03-03 17:50] brendansudol commented on #449
we may have to punt on this if that's possible (the jagged, pinterest-like grid) -- looked into it and it would be pretty tricky to implement properly -- is this a dealbreaker for you all?

cc: @AvivaOskow @amberwreed

[2017-03-03 18:11] amberwreed commented on #449
No. Can we set a minimum height for cards so they change less if a dynamic
sentence moves from 1 line to 2?

On Fri, Mar 3, 2017 at 9:50 AM, Brendan Sudol <notifications@github.com>
wrote:

--
-------------------------
*Amber Reed*
Visual Design Supervisor
18F

[2017-03-03 18:21] nicoleslaw opened #499 "Explore: apostrophe showing as a prime"
Super minor: Under https://github.com/18F/crime-data-explorer/blob/master/src/components/UcrParticipationInformation.js, this string is showing a [prime instead of an apostrophe](http://smartquotesforsmartpeople.com/):

[2017-03-03 18:24] brendansudol commented on #449
yes, absolutely -- great idea

[2017-03-03 18:29] amberwreed opened #501 "NIBRS charts: Downloads for Relationship to Victim and Location Type named "undefined.csv""
As a user, when I download a the Relationship to Victim chart or the Location Type, the csv file is named to correspond with the chart.

[2017-03-03 18:43] #486 closed

[2017-03-03 18:58] harrisj commented on #501
I can add a quick fix for this. Assigning it to me

[2017-03-03 19:01] LarryBafundo commented on #457
@RyanSibley just clarifying that this is a content issue, not dev?

[2017-03-03 19:06] amberwreed commented on #461
@AvivaOskow please add link to the updated annotated sketch file for the About page.
![about copy 15](https://cloud.githubusercontent.com/assets/13576520/23565204/6d390998-0001-11e7-81c3-6e78b6adef9d.jpg)

[2017-03-03 19:13] AvivaOskow commented on #461
I have that to do in #496

[2017-03-03 19:14] LarryBafundo commented on #211
@cacraig, @harrisj does the API currently support this?

[2017-03-03 19:24] RyanSibley commented on #457
I think it's moot at this point because Aviva redesigned the page.

[2017-03-03 19:25] RyanSibley commented on #457
See: https://github.com/18F/crime-data-explorer/issues/496

[2017-03-03 19:28] #445 closed

[2017-03-03 19:35] nicoleslaw commented on #322
Let's rename this to be about the visual for about. I will do that.

[2017-03-03 20:04] RyanSibley commented on #462
This PDF says data was first collected in 1991:

https://www.bjs.gov/content/pub/pdf/unibrsdavc.pdf

[2017-03-03 20:32] nicoleslaw commented on #462
So interesting. From the [NIBRS manual](https://ucr.fbi.gov/nibrs/nibrs-user-manual) intro:

incident, the FBI UCR Program began using the NIBRS in 1989 to capture up to ten crime
occurrences within an incident.

[2017-03-03 21:52] nicoleslaw commented on #192
We should also remove the numbers from things like `Other (33)` and `Other (14)` — I believe those are the entry numbers.

[2017-03-03 22:13] RyanSibley commented on #496
New features text:

**Future versions will include more granular perspectives of the data and more customizable data features. You can also check back for new features and updates to the data.**

Download sentence:

**Download agency participation data to see agencies that submit NIBRS data to the FBI**

Replace: We’d love to hear what you think about the Crime Data Explorer. Help us improve the q

[2017-03-03 22:16] harrisj commented on #476
To clarify the two different types of participation data I have collected:

1. I have one table that takes the monthly data about agency participation in NIBRS and SRS and rolls it up into an annual view for each agency. This is what Larry has excerpted above. You can also filter it by any of the columns, so we could select only agencies in a given state (what is currently used), population group

[2017-03-03 22:42] #472 closed

[2017-03-03 22:42] #481 closed

[2017-03-03 23:29] #482 closed

[2017-03-03 23:42] amberwreed opened #506 "Explain mapping of NIBRS to SRS crime type in explorer view"
As a user, I understand what NIBRS attributes are aggregated and displayed for each of the major summary offense in the explorer view.

[2017-03-06 02:48] LarryBafundo commented on #476
Thanks @harrisj; but just adding a reminder here that we don't have the appropriate participation report implemented in the explorer view just yet.

[2017-03-06 15:25] nicoleslaw opened #508 "Explore: show how many years of data is available for the location under Time Period"
@amberwreed Can you post a screenshot of the latest design style for this for my reference? I can write up the string based on other recent changes we've made.

[2017-03-06 15:25] nicoleslaw commented on #462
I could not find the issue relating to the years available text under the `Time period` menu, so I created #508

[2017-03-06 15:57] LarryBafundo commented on #508
can we keep this is in the backlog for now? we need to understand the implications on performance before we prioritize it.

[2017-03-06 16:13] AvivaOskow commented on #496
@jeremiak @brendansudol Updated annotated file here:

https://drive.google.com/open?id=0B9bDBpzeNNaXYU1oZktnYU9tZ3c

[2017-03-06 16:23] RyanSibley commented on #496
@jeremiak @brendansudol can the social icons be implemented by the devs in the third "Contact us" box? I'm referring to the twitter and GitHub icons.

[2017-03-06 16:24] nicoleslaw commented on #508
That's fine with me, I just wanted to log it as I couldn't find it.

[2017-03-06 16:25] #485 closed

[2017-03-06 16:25] #464 closed

[2017-03-06 16:31] brendansudol commented on #255
finally fixed w/ https://github.com/18F/crime-data-explorer/pull/494 :)

[2017-03-06 16:31] #255 closed

[2017-03-06 16:32] #453 closed

[2017-03-06 17:19] RyanSibley commented on #462
**Data is available in the CDE from 1960 to 2014**

I'll add this sentence or a tweaked version  after the new design is implemented.

[2017-03-06 17:25] brendansudol commented on #470
proposed way to do this (in a bit simpler way, implementation-wise) -- https://github.com/18F/crime-data-explorer/pull/510

[2017-03-06 17:33] jeremiak commented on #193
I'm moving this back to the to-do column because it requires a bit of research to figure out a few things for making our React app accessible, such as how to make all the hash based links accessible, which I'll do a bit of and then pull this back into "In Progress"

[2017-03-06 17:52] #474 closed

[2017-03-06 21:02] jeremiak opened #512 "Ensure that timeTo and timeFrom filters are always reduced as integers"
We expect the timeTo and timeFrom values to be integers, and this should be ensured at the reducer/action level.

[2017-03-06 21:15] #493 closed

[2017-03-06 21:16] RyanSibley commented on #476
Added language. It's brief and doesn't begin to go into the wealth of info provided. We can talk about expanding or adding more info if we need to.

[2017-03-06 21:16] #476 closed

[2017-03-06 21:17] RyanSibley commented on #462
Submitting a pull request after all.

[2017-03-06 21:19] #462 closed

[2017-03-07 00:41] nicoleslaw opened #516 "External footer links 404"
Feedback and License links have the site url in front of them (but not in the html).

[2017-03-07 01:11] amberwreed opened #517 "NIBRS chart: Age of offender and victim default"
As a user, when I view the age of offender and victim and nothing is selected I see a sentence that explains the totals of the chart. Here's a screen shot of what it is currently and what it should be.
<img width="410" alt="screen shot 2017-03-06 at 5 10 50 pm" src="https://cloud.githubusercontent.com/assets/13576520/23637330/e4d4ca56-028f-11e7-9940-0d2d3a4913eb.png">
![screen shot 2017-03-06 at 5

[2017-03-07 01:15] amberwreed opened #518 "NIBRS chart: Race of offender title"
As a user, I understand that the Reported Race chart, is based on a total of reported offenders. The totals are at the bottom of the chart. Here are screenshots of current and ideal.
<img width="409" alt="screen shot 2017-03-06 at 5 13 54 pm" src="https://cloud.githubusercontent.com/assets/13576520/23637422/70b9d05c-0290-11e7-889e-c873c6d2f73c.png">
![screen shot 2017-03-06 at 5 06 32 pm](https://

[2017-03-07 02:01] #487 closed

[2017-03-07 02:01] #465 closed

[2017-03-07 02:02] #452 closed

[2017-03-07 02:03] LarryBafundo commented on #436
verified on master, looks good. closing

[2017-03-07 02:03] #436 closed

[2017-03-07 02:13] LarryBafundo commented on #312
hey @harrisj, @jeremiak: i'm going to reopen this issue because the state_participation download should use the following format:

![screen shot 2017-03-01 at 2 15 18 pm](https://cloud.githubusercontent.com/assets/15899668/23638681/f30310d0-0297-11e7-8239-d31677bb771e.png)

basically, what we want to do at the state and (eventually) at the county-levels is to break down participation by agency. @h

[2017-03-07 02:25] #343 closed

[2017-03-07 02:25] LarryBafundo commented on #499
verified on master, closing

[2017-03-07 02:25] #499 closed

[2017-03-07 02:27] harrisj commented on #312
Okay, will work on this tomorrow

[2017-03-07 02:27] LarryBafundo commented on #437
@amberwreed, @AvivaOskow do you think we could present our proposed approach for counties during this Thursday's core team call? Let me know if you want to schedule some time to review to discuss potential directions.

[2017-03-07 02:38] LarryBafundo commented on #312
The other issue is that the national level perspective doesn't quite work yet. Trying to click on the same link results in this error:

![screen shot 2017-03-01 at 2 15 18 pm](https://cloud.githubusercontent.com/assets/15899668/23639362/14f3ad4a-029c-11e7-8ea8-1a455db6e0cb.png)

[2017-03-07 02:45] LarryBafundo opened #519 "Trend chart: 4-digit labels on the vertical axis are not showing properly"
On the trend chart it looks like the 4th digit on labels in the vertical axis are getting cut off.

See examples below:

<img width="700" alt="screen shot 2017-03-06 at 6 47 36 pm" src="https://cloud.githubusercontent.com/assets/15899668/23639512/138468cc-029d-11e7-992a-e9c0503b8c3b.png">
<img width="703" alt="screen shot 2017-03-06 at 6 47 31 pm" src="https://cloud.githubusercontent.com/assets/15

[2017-03-07 02:53] LarryBafundo commented on #470
@brendansudol okay to move into in progress?

[2017-03-07 02:56] LarryBafundo commented on #281
@amberwreed agree this is important, but is there a case to be made to moving this to the backlog and revisiting it when we implement the county perspective? it seems most valuable when we show more than 2 trend lines, but that isn't the case right now.

[2017-03-07 08:54] wslack commented on #516
In addition the [twitter](https://github.com/18F/crime-data-explorer/blob/master/src/components/Footer.js#L95) & [GitHub](https://github.com/18F/crime-data-explorer/blob/master/src/components/Footer.js#L104) links don't work.

[2017-03-07 16:07] cacraig commented on #211
The data is there @LarryBafundo , and as it currently stands we can access the data broken down by the definitions by using the API. However, we can probably improve the endpoint to make this easier to get.

[2017-03-07 16:18] harrisj commented on #211
I think we will have to do some work to support this. Currently, the trend line chart uses the `reta_month_offense_subcat_summary` table which is basically a collection of monthly, state, year etc. counts of the `reta_month_offense_subcat` table. Here are the offense subcats that apply to rape that are in the table:

|Offense Subcat|Subcat Code|Offense|Offense Code|
|-|-|-|-|
|Rape - Not Specified

[2017-03-07 16:22] harrisj commented on #211
One bonus observation: you might notice that the combined total of the two ways of counting rapes has indeed gone up substantially.

|year|count|
|2013|67667|
|2014|77553|

This makes sense given that the new definition counts some crimes that were not counted before.

[2017-03-07 16:38] nicoleslaw commented on #211
We can spot check against CIUS data, for example: https://ucr.fbi.gov/crime-in-the-u.s/2014/crime-in-the-u.s.-2014/tables/table-4

U.S.:

<img width="242" alt="screen shot 2017-03-07 at 11 37 02 am" src="https://cloud.githubusercontent.com/assets/94900/23666984/7e40e18a-032a-11e7-983b-50baef0d5e84.png">

Tennessee:

<img width="239" alt="screen shot 2017-03-07 at 11 38 11 am" src="https://cloud.gi

[2017-03-07 16:43] harrisj commented on #211
So, I was digging through the schema and I found this comment for the `actual_status` column in the `reta_month_offense_subcat` table we aggregate to make the trend views from:

I think we will have to look and see how widespread these variants are used. We might need to rebuild the trend tables potentially.

[2017-03-07 16:59] harrisj commented on #211
Incidentally, there is a table called `ref_agency_data_content` that seems to tell me for a given year if an agency:

* has used the legacy or new rape definition
* reported with SRS or NIBRS
* reported cargo thefts in NIBRS
* reported hate crimes in NIBRS
* reported LEOKA in NIBRS
* reported Arson in NIBRS
* reported Human Trafficking in NIBRS

I don't know if I should try to incorporate this inf

[2017-03-07 17:11] harrisj commented on #211
So, I was curious about the `actual_status` column so I looked at the number of records in 2014 and what happened next surprised me

| actual_status |  count  |   sum|
|---------------|---------|----------|
|             0 | 4,471,493 | 11,777,980|
|             3 | 2,228,107 |        0|

What this means is that ~ 1/3 of the counts in there had an actual_status of `3` which means they should not b

[2017-03-07 17:21] jeremiak commented on #193
With #521 being a lighter lift than expected, I think we should wait till it is done and merged before we start on this. That PR changes the way we do routing, removing the `#` from all the URLs which will have an impact on the results from the a11y checks.

[2017-03-07 17:23] jeremiak commented on #142
I think so! I made a list of reasons why this is a good idea in the associated PR (521).

This is deployed to our "staging" environment right now, so you can see it in action here: https://crime-data-explorer-staging.fr.cloud.gov/

Things to note:
* How much faster the page load experience is!

Things still to do (not before this issue is closed though, just further improvements):
* Fetch data ser

[2017-03-07 18:58] nicoleslaw opened #524 "P2 - NIBRS charts: tap targets are too small on mobile"
It's almost impossible to click the lower-total sections on age histograms.

[2017-03-07 18:59] nicoleslaw opened #525 "Mobile: can't close glossary on iOS"

[2017-03-07 19:00] nicoleslaw commented on #451
There is definitely a bug on mobile where the filter menu covers the main `Menu` and `Feedback` links—perhaps the Filter menu could stick to the bottom of the header when you're at the top of the page.

[2017-03-07 19:04] nicoleslaw commented on #525
Hmm nevermind, on refresh it seems okay. I think it's more of an iOS zooming issue.

[2017-03-07 19:04] #525 closed

[2017-03-07 19:54] amberwreed opened #528 "Downloads"
As a user I can find a link to the data dictionary, readme, and change log from the downloads page.

[2017-03-07 19:54] #457 closed

[2017-03-07 20:05] amberwreed commented on #211
Here's is the design for the definition change indicator. See the [latest annotated sketch files](https://drive.google.com/open?id=0B5cw7Ca2CjsyZEFGcUE0V1BBaWM) on drive.
<img width="174" alt="screen shot 2017-03-07 at 12 03 10 pm" src="https://cloud.githubusercontent.com/assets/13576520/23675426/28fc1a9c-032e-11e7-8b4a-fc100b494f13.png">

[2017-03-07 20:06] nicoleslaw opened #529 "Explore: participation data doesn't look like a download"
Here's an example from Ohio:

<img width="242" alt="screen shot 2017-03-07 at 2 59 42 pm" src="https://cloud.githubusercontent.com/assets/94900/23675360/1e6e26c4-0347-11e7-9482-5f26d0ac70a4.png">

@amberwreed and I talked about styling this more like a download in the future, but for now, I might suggest a cheap text fix to make these links clear. Such as:

`Download Ohio Participation data`

Or:

[2017-03-07 20:09] amberwreed commented on #529
@nicoleslaw I'd prefer not to go back to "Ohio participation data (CSV)". We had that previously and it didn't look good or wrap well.

[2017-03-07 20:41] LarryBafundo commented on #529
wouldn't swapping out the current icon with a download icon be cheaper than messing with text/wrapping?

[2017-03-07 20:51] nicoleslaw commented on #529
@LarryBafundo Amber and I chatted on Slack. I went ahead and put in a text revision. This section needs more design and FE work in general, but it's pretty low-pri.

[2017-03-07 21:47] RyanSibley commented on #346
To summarize: Hate crimes data collected may come from NIBRS data or separately from other reporting means. All hate crime incidents are rolled up and counted by the NIBRS database. This is why not all hate crimes counted by NIBRS can be linked to an incident captured by NIBRS.

[2017-03-07 22:18] #516 closed

[2017-03-07 22:26] #529 closed

[2017-03-07 22:27] #459 closed

[2017-03-08 02:29] nicoleslaw opened #534 "Explore: National view is lacking a UCR link"
This is super minor, but maybe we should link directly to the [UCR Program](https://ucr.fbi.gov/) site at the national level where we normally say `Ohio UCR Program` for example.

I can add this to the content file but it is currently called `states.yml` so we may want to change it to `locations.yml` or implement this some other way for national views.

[2017-03-08 02:49] harrisj commented on #346
I assume by `NIBRS database` you mean the CDE database? But yes, only hate crimes submitted via NIBRS reporting could be linked to NIBRS incidents

[2017-03-08 15:22] RyanSibley commented on #346
@harrisj Well, I'm not sure I do mean the CDE database. I was summarizing what I thought were the origins of hate crime data, which we then display. Thinking about it, maybe I'm misusing the term database there and should say `dataset` instead?

[2017-03-08 16:12] jeremiak commented on #448
Using this card to reflect the dev work, which is done in #535. Once we have new colors we can open a new ticket for implementing those changes.

[2017-03-08 16:14] jeremiak commented on #470
We completed a first iteration in #510 but are totally open to any changes you want to make, either to make other alerts look like the hint or to alter that behavior to be more like the other sort of subtle errors with red text.

[2017-03-08 17:23] brendansudol commented on #512
fixed

[2017-03-08 17:23] #512 closed

[2017-03-08 17:23] #470 closed

[2017-03-08 17:28] brendansudol commented on #447
rolling this into https://github.com/18F/crime-data-explorer/issues/496

[2017-03-08 17:28] #447 closed

[2017-03-08 17:36] harrisj commented on #346
Hmm, I apologize for making things more confusing. But this is a confusing process if I understand correctly (I might not). Basically, as far as I know agencies can submit hate crimes to the FBI via either or both processes:

1. Direct hate crime reports
2. Flagging specific NIBRS incidents as hate crimes

I think both are rolled into the `hc_incident` table, but only the ones that are derived fro

[2017-03-08 17:47] jeremiak opened #538 "NIBRS demographic data downloads should be three CSVs"
There are three different data sets we use for building the demographic NIBRS cards and the data download button should therefore trigger three CSV downloads. Right now, only one of the three files is downloaded.

[2017-03-08 18:24] jeremiak commented on #318
I believe so, thanks @nicoleslaw.

Per a convo with @LarryBafundo yesterday, it sounds like the API is going to handle the mess of calculating the data and give it to the front end. I moved this card back to "To do" to represent the fact that we're blocked by the API work

[2017-03-08 19:18] nicoleslaw commented on #318
One minor thing I noticed (I think it relates to this task, but let me know if you want a separate task): the U.S. trend chart is missing `the` in the string. Ex:

Current: Homicide rate in United States, 2004–2014
Proposted: Homicide rate in the United States, 2004–2014

[2017-03-08 19:51] RyanSibley commented on #346
Thank you. You're not making it more confusing than it is. I think I get it now.

[2017-03-08 20:17] LarryBafundo commented on #434
@AvivaOskow, @amberwreed this is ready to verify on master:

https://crime-data-explorer.fr.cloud.gov/#/explorer/district-of-columbia/arson

[2017-03-08 20:21] LarryBafundo opened #540 "No trend data for motor vehicle theft in DC"
When viewing motor vehicle theft for DC, I saw this no data error for the trend chart:

https://crime-data-explorer.fr.cloud.gov/#/explorer/district-of-columbia/motor-vehicle-theft

<img width="1014" alt="screen shot 2017-03-08 at 12 25 27 pm" src="https://cloud.githubusercontent.com/assets/15899668/23722339/cd467d10-03f9-11e7-8bf4-7a6d42630e7e.png">

[2017-03-08 20:36] #518 closed

[2017-03-08 20:37] LarryBafundo commented on #446
@AvivaOskow ready for your review on master.

[2017-03-08 20:49] LarryBafundo commented on #448
moving this back into in progress since the colors haven't been provided yet to finish it off

[2017-03-08 20:50] LarryBafundo commented on #211
@amberwreed this is ready for your review on master:

https://crime-data-explorer.fr.cloud.gov/#/explorer/district-of-columbia/rape?since=1986&until=2014

[2017-03-08 20:54] harrisj commented on #318
Can you clarify for me what the API work blocking this issue is?

[2017-03-08 20:58] harrisj commented on #540
I'm seeing data when I call https://crime-data-api.fr.cloud.gov/incidents/count/?state=DC&explorer_offense=motor-vehicle-theft&year%3E=2004

[2017-03-08 21:06] harrisj commented on #501
Was this fixed by #537?

[2017-03-08 21:22] jeremiak commented on #501
I think so, since there are two mechanisms for naming CSVs. I think 409 fixed it from the API side, but for these "Nibrs cards" we just build a CSV right there in the browser since we already have the data.

[2017-03-08 21:35] harrisj commented on #501
Okay, got it. I apologize for assigning it to me since I clearly had no role to play in it

[2017-03-08 22:17] #449 closed

[2017-03-08 22:21] LarryBafundo commented on #318
@harrisj this is about being bale to calculate the % of population covered so that we can display results as follows:

In {year}, {X} law enforcement agencies participated in the Uniform Crime Reporting Program, out of a total of {X} agencies. For that year, these statistics cover {X}% of the nation’s agencies and {X}% of its total population, or about {X} people.

[2017-03-08 22:22] LarryBafundo commented on #540
going to close this as i haven't been able to reproduce it - but we should be on the lookout for similar issues.

[2017-03-08 22:22] #540 closed

[2017-03-08 22:23] LarryBafundo commented on #439
closing this in favor of the revised county/city issue that's already in progress.

[2017-03-08 22:23] #439 closed

[2017-03-08 22:27] LarryBafundo commented on #528
@amberwreed confused about the "duplicate" label. should we delete this?

[2017-03-08 22:29] LarryBafundo commented on #195
hey @RyanSibley if we have what we need for now and its been reviewed by the FBI, let's close this and create a new issue for specific changes that we need to make in the future. thoughts?

[2017-03-08 22:32] #316 closed

[2017-03-08 22:33] LarryBafundo commented on #508
closing in favor of #495

[2017-03-08 22:33] #508 closed

[2017-03-08 22:34] LarryBafundo commented on #339
@AvivaOskow is this issue still relevant?

[2017-03-08 22:38] jeremiak commented on #501
Haha, I apologize for not catching it sooner and you having to do work! I'm going to un-assign us and assign Larry per the review process

[2017-03-08 22:44] LarryBafundo commented on #501
looks good, verified on master. closing.

[2017-03-08 22:44] #501 closed

[2017-03-08 23:21] jeremiak commented on #142
🎉

[2017-03-08 23:21] #142 closed

[2017-03-08 23:46] jeremiak commented on #192
I think that the numbers in the parenthesis are the number of other categories that were rolled up to comprise "Other". Should we still remove them?

[2017-03-08 23:52] LarryBafundo commented on #192
yes, since we don't provide a breakdown of those other categories, it doesn't seem useful

[2017-03-09 00:02] jeremiak commented on #192
I removed the numbers within the parens but isn't it valuable to have a distinction between "Unknown" and "Other" in these charts? Which is to say, why are we combining them?

[2017-03-09 00:48] LarryBafundo commented on #192
@jeremiak:

"The location chart has Other (33), in addition to Unknown. Per the NIBRS manual, these are the same bucket."

[2017-03-09 01:02] LarryBafundo commented on #312
@harrisj looks like you added the state-based participation functionality, so this issue is good to go except that for the national perspective, the same link (for national participation) is broken. for that, we can direct users to the same report that we use in the downloads and documentation view:

<img width="922" alt="screen shot 2017-03-08 at 5 04 41 pm" src="https://cloud.githubusercontent.c

[2017-03-09 02:30] harrisj commented on #312
So wait, this is a CSV of ALL agency participation across the country for the selected date range? I fear that file might get pretty large. Did you want it to be scoped to a particular year (like the most recent one?)

[2017-03-09 02:38] LarryBafundo commented on #312
yes, but a different (broader) format. it's the same report we're already linking to form downloads and documentation. see the UCR participation report.

[2017-03-09 02:48] harrisj commented on #312
Got it. So we need an API endpoint to return the state participation rate data all smooshed together by year. Let me get on that. Shouldn't be too hard.

[2017-03-09 05:22] amberwreed opened #548 "Trend chart refinements"
Match trend chart to design specs.
![screen shot 2017-03-08 at 2 50 11 pm](https://cloud.githubusercontent.com/assets/13576520/23737017/fdee0366-0444-11e7-80d2-10113d335b43.png)

See updated sketch file: https://drive.google.com/open?id=0B5cw7Ca2CjsyS1VaN2tYNWFqSVE

[2017-03-09 19:41] LarryBafundo commented on #312
hey @harrisj moving this back to in progress until we finish off the national participation endpoint. that's all that is needed to closing out this story. thanks

[2017-03-09 20:05] LarryBafundo commented on #164
Just a note that I submitted a request to create a google group so that we can collect feedback. here's the email address i created: FBI_CDE_feedback@gmail.com.

[2017-03-09 20:09] LarryBafundo commented on #318
I think this relates to https://github.com/18F/crime-data-api/issues/412

[2017-03-09 21:34] RyanSibley commented on #164
Proposed feedback form questions:

- What do you think of this site?

- What do you think of the site’s data offerings?

- How could this site be improved?

Those questions are derived from more specific types of information I thought we'd might like to ask if we could:
Were you able to access data that interested you?
Is it easy to find what you're looking for?
Did you download data?
Did you have

[2017-03-09 22:05] #519 closed

[2017-03-10 02:09] amberwreed commented on #164
Here are open ended questions stolen from FEC.

What brought you to the site and how can we improve it?
General feedback about the site?
Tell us about your self (I am a ____ interested in_____.)

On Thu, Mar 9, 2017 at 1:34 PM, Ryan Sibley <notifications@github.com>
wrote:

--
-------------------------
*Amber Reed*
Visual Design Supervisor
18F

[2017-03-10 02:31] harrisj commented on #506
Here is what I have from the code:

|page|NIBRS offense|
|-|-|
|aggravated-assault|Aggravated Assault|
|burglary|Burglary/Breaking & Entering|
|larceny|All 9 specific NIBRS offenses within the `Larceny & Theft` category|
|motor-vehicle-theft|Motor Vehicle Theft|
|homicide|Murder and Nonnegligent Manslaughter|
|rape|Rape|
|robbery|Robbery|
|arson|Arson|

[2017-03-10 03:13] RyanSibley commented on #164
I did see those and we could lift them -- that would probably be fine. But I tried to tailor our Qs a bit more to our site.

[2017-03-10 03:53] amberwreed commented on #506
Thanks!
@harrisj Do you think we should list out the 9 specific NIBRS offenses or do you think this is enough information? How / where would you want to find this information? cc/ @RyanSibley

[2017-03-10 14:21] harrisj commented on #506
I pulled it from the code. I don't think it's necessary to list the specific offenses. I'm just noting that NIBRS turned Larceny/Theft into distinct offenses, but most people don't really care

[2017-03-10 15:51] #458 closed

[2017-03-10 16:00] amberwreed commented on #164
Cool. I'm curious about who visits the site, what they are trying to do,
and if they have for feedback on how the experience can be improved.
However we get to that is fine.

On Thu, Mar 9, 2017 at 7:13 PM, Ryan Sibley <notifications@github.com>
wrote:

--
-------------------------
*Amber Reed*
Visual Design Supervisor
18F

[2017-03-10 16:32] AvivaOskow commented on #434
Sorry I'm hopping into this conversation late, but I'm not sure I agree with keeping the Vicitm card if there is no victim, but saying "0", I think it's more confusing than just not having the card. It makes more sense to me to not show an element that doesn't apply to the crime, otherwise it looks like a mistake.

Also a couple other visual things:

**1.** @brendansudol we had discussed back in #

[2017-03-10 16:39] #446 closed

[2017-03-10 17:40] LarryBafundo commented on #506
@amberwreed on reading this i don't think we need to go out of way to explain the mapping, as its fairly straight forward except for larceny and homicide (making the distinction between murder and non negligent man slaughter).

@RyanSibley lets sync up on how we can adjust the robo text for NIBRS data with this information.

[2017-03-10 17:53] LarryBafundo commented on #506
@RyanSibley for example, instead of saying this:

<img width="638" alt="screen shot 2017-03-10 at 9 55 06 am" src="https://cloud.githubusercontent.com/assets/15899668/23806602/260fb0d2-0577-11e7-911d-e66a3123e6c1.png">

We could say this:

"There was 1 incident related to Murder and Nonnegligent Manslaughter reported to the FBI in the District of Columbia between..."

Thoughts?

[2017-03-10 17:54] AvivaOskow commented on #203
Design for review here:

![nibrs map-01](https://cloud.githubusercontent.com/assets/21244661/23806710/b9a51d00-0590-11e7-8f63-8c4cf9572627.jpg)

[2017-03-10 17:55] #211 closed

[2017-03-10 17:55] RyanSibley commented on #164
How about these:

What brought you to the site and how can we improve it?
General feedback about the site?
How do you plan to use the information you found here? (This is in place of the question asking who people are, but I think we'll be able to derive that info from this and other constructive info based on this question.)

[2017-03-10 18:34] harrisj commented on #312
So, once the PR above is merged, you will need to add a call to `/participation/national?per_page=10000&output=csv` or such to get the national CSV for all states

[2017-03-10 18:39] #192 closed

[2017-03-10 18:53] #440 closed

[2017-03-10 18:55] LarryBafundo commented on #203
@AvivaOskow this looks good to me. are you planning to make any other changes?

[2017-03-10 19:13] jeremiak commented on #203
Where should this go in the data and downloads view?

[2017-03-10 21:53] AvivaOskow commented on #478
Use the same design style as side links for About, except type sizes need to be smaller to fit in the space for Explorer:

**How it should look (ignore that this is County View)**
<img width="630" alt="screen shot 2017-03-10 at 4 51 39 pm" src="https://cloud.githubusercontent.com/assets/21244661/23814563/fc0e724c-05b1-11e7-8c98-7bc3072d1593.png">

**Annotation**
<img width="667" alt="screen shot 2

[2017-03-10 22:02] amberwreed commented on #164
👍

On Fri, Mar 10, 2017 at 9:56 AM, Ryan Sibley <notifications@github.com>
wrote:

--
-------------------------
*Amber Reed*
Visual Design Supervisor
18F

[2017-03-10 22:04] amberwreed commented on #506
How do we handle cases like this?

larceny All 9 specific NIBRS offenses within the Larceny & Theft category

On Fri, Mar 10, 2017 at 9:53 AM, Larry Bafundo <notifications@github.com>
wrote:

--
-------------------------
*Amber Reed*
Visual Design Supervisor
18F

[2017-03-10 22:10] harrisj commented on #506
In the code, I literally map to all 9 types that NIBRS uses to represnt Larceny

[code]

[2017-03-13 04:09] jeremiak opened #562 "Design favicon"
The CDE currently does not have a favicon for browser to display, but we should since browsers will make that request anyway.

Here is the [favicon from fbi.gov](https://www.fbi.gov/site-icon.png?scale=16): ![](https://www.fbi.gov/site-icon.png?scale=16)

[2017-03-13 16:41] #517 closed

[2017-03-13 16:42] LarryBafundo commented on #450
@AvivaOskow can you give me an example where this is just one incident reported? wanted to verify that this can be closed.

[2017-03-13 16:45] LarryBafundo commented on #312
@harrisj okay to assign this to the front end team now?

[2017-03-13 16:49] #203 closed

[2017-03-13 16:54] harrisj commented on #312
Yes, please do

[2017-03-13 17:06] LarryBafundo commented on #312
ready for @jeremiak, @brendansudol

[2017-03-13 17:35] jeremiak commented on #312
I actually think this is already done, @LarryBafundo. Can you verify on `master`?

[2017-03-13 17:42] LarryBafundo commented on #312
cool thanks, looks good.

[2017-03-13 17:42] #312 closed

[2017-03-13 17:58] #528 closed

[2017-03-13 18:23] LarryBafundo opened #563 "Show all donut chart categories in legend"
Based on the conversations in #434, we want to show all categories for the donut charts in the legend, even if they have no data associated with them.

So this means that if there were only male offenders associated with a result, we would still show the other genders in the legend with a count of 0.

The goal is to avoid situations where the chart looks like this, because it may appear to be brok

[2017-03-13 18:25] LarryBafundo opened #564 "Keep width of histogram chart fixed to avoid "stretching" bins"
This enhancement is based on the conversations associated with #434:

Currently, when there is a limited of number of incidents associated with a search, we stretch the bins as follows:

<img width="397" alt="screen shot 2017-03-13 at 11 24 01 am" src="https://cloud.githubusercontent.com/assets/15899668/23869311/b9256c8a-07df-11e7-91aa-680498ecea83.png">

Let's the keep the width of the histogram

[2017-03-13 18:27] LarryBafundo opened #565 "Don't show a card if there's no data to display"
Based on #434 we decided to not show an incident detail card if there is no data to display.

[2017-03-13 18:28] LarryBafundo commented on #434
FYI - closing this as we now have separate issues to track the individual tasks.

[2017-03-13 18:28] #434 closed

[2017-03-13 20:15] jeremiak commented on #318
I think the national endpoint is there for us to work with, so we can begin to implement this in the front end application, but I think there is a data quality bug as the endpoint is returning data for Alabama [crime-data-api#420](https://github.com/18F/crime-data-api/issues/420)

[2017-03-13 20:16] AvivaOskow commented on #374
Connected to https://github.com/18F/crime-data-api/issues/353

[2017-03-13 20:24] AvivaOskow commented on #506
@RyanSibley Any thoughts on how to proceed?

[2017-03-13 20:28] AvivaOskow commented on #246
@amberwreed and I are actually ok with the white space here and don't really see it as something that needs to be fixed.

[2017-03-13 21:13] amberwreed opened #569 "NIBRS charts: Remove grey bar"
As a user, I do not see the grey bar in the background of the NIBRS line chart. See annotated sketch files.

[2017-03-13 21:15] amberwreed opened #570 "Downloads page: Update design"
Refine design of downloads page to make readme, data dictionary, and NIBRS map more accessible.

[2017-03-13 21:16] amberwreed opened #571 "Trend chart: No data state"
As a user, I can easily determine the years that no data is available by looking next to the "insufficient data" legend.

[2017-03-13 21:18] amberwreed opened #572 "Trend chart: Adjust margins"
Improve readability of trend chat by increasing the margins on the right and left of the years displayed. See annotated sketch file.

[2017-03-13 21:19] amberwreed opened #573 "NIBRS chart: Text Color"
Change robo text sentence and charts to have black text, not blue. @AvivaOskow please add screen shot.

[2017-03-13 21:20] amberwreed opened #574 "Trend chart: right align legend and chart"
As a user, the lines in the legend do not go beyond the right side of the trend chart below.

[2017-03-13 21:27] LarryBafundo commented on #318
hi folks, looks like i messed up here and we need to make some changes:

the purpose of this feature is to provide users with a national perspective of UCR participation from the explorer view - in terms of reporting %, population covered, and reporting type by year. since this is a national perspective, we should provide a rollup of the data, not a state-level breakdown of the data and we definit

[2017-03-13 21:43] AvivaOskow commented on #573
**Headlines** are: **284152**
Text for **charts and robo sentence** are: **black**
**Divider and chart lines** (except for selected state for gender donut chart, which should be black also): **A4B3C1**

<img width="262" alt="screen shot 2017-03-13 at 5 41 04 pm" src="https://cloud.githubusercontent.com/assets/21244661/23876539/54c3e5e8-0814-11e7-92f1-6afb8883e3df.png">

[2017-03-13 21:53] LarryBafundo commented on #318
@harrisj let me know if these changes can be made via a relatively quick fix, otherwise i'll create a new issue to track the change. thanks.

[2017-03-13 21:57] LarryBafundo commented on #448
@AvivaOskow what's our plan for the new  state colors?

[2017-03-13 21:58] #571 closed

[2017-03-14 00:37] harrisj commented on #318
Create a new issue. But I was planning to do some participation work tonight so I will do it as part of that.

[2017-03-14 16:02] RyanSibley opened #575 "Changes/additions to the data dictionary"
[Data dictionary](https://docs.google.com/spreadsheets/d/19EFBe2bpv2RfJ4IuaDvtUbenN8yFnSyh7cXV-1IUces/edit#gid=0)

Add field for data type? (Character, string, number, etc.)

Remove ethnicity field?

Include values when relevant? For example, the `arrest_type_name`field has three potential values:  O    On View
S    Summoned / Cited
T    Taken INTO Custody

[2017-03-14 16:06] RyanSibley commented on #575
Replaced `incident_id` with `primary_key`

[2017-03-14 17:07] jeremiak opened #576 "Add <meta> tags for proper sharing behavior"
Currently, sharing pages from the Crime Data Explorer don't look that great but we can use `<meta>` tags to make that better. I used https://crime-data-explorer.fr.cloud.gov/explorer/united-states/homicide to generate both of the following previews.

Current link preview on Facebook:
<img width="734" alt="screen shot 2017-03-14 at 1 05 45 pm" src="https://cloud.githubusercontent.com/assets/780941/

[2017-03-14 19:16] amberwreed commented on #238
@RyanSibley https://drive.google.com/open?id=0B5cw7Ca2CjsyczlqQkR2eUxOWU0

[2017-03-14 19:24] brendansudol commented on #562
@amberwreed @AvivaOskow -- do you all want to make a favicon for the Explorer?

[2017-03-14 19:24] brendansudol commented on #538
ping on this, @LarryBafundo -- should be ready to close

[2017-03-14 19:38] jeremiak commented on #576
We should also take care when implementing this that the content can't be controlled by an end user through manipulating the URL params

[2017-03-14 19:41] jeremiak commented on #548
Remaining tweaks to make before this card is done:
- [ ] Make "Does not include estimates" italic
- [ ] Add years to insufficient data indicator

[2017-03-14 20:05] brendansudol commented on #478
i believe this is done now -- can you check and close if so @AvivaOskow?

[2017-03-14 20:15] #478 closed

[2017-03-15 14:11] RyanSibley commented on #575
Removing `(CDE database record ID)`

[2017-03-15 14:29] RyanSibley commented on #575
@harrisj can you fill these definitions in for the NIBRS UCR participation portion of the data dictionary:

data_year
state_postal
total_agencies
reporting_agencies
reporting_rate
NIBRS_reporting_agencies
NIBRS_reporting_rate
covered_population
total_population

[2017-03-15 14:56] #451 closed

[2017-03-15 14:59] jeremiak opened #585 ""Federal Bureau of Investigation" text in Header and Footer is not compliant"
Contrast between the header/footer background color and the grey text is not sufficient.

<img width="430" alt="screen shot 2017-03-15 at 1 50 39 am" src="https://cloud.githubusercontent.com/assets/780941/23954699/62acc53e-096e-11e7-904f-4d12cd50f2bf.png">
<img width="754" alt="screen shot 2017-03-15 at 1 51 02 am" src="https://cloud.githubusercontent.com/assets/780941/23954700/62ade87e-096e-11e7-

[2017-03-15 15:01] jeremiak opened #586 "Red header text in footer is not compliant"
<img width="620" alt="screen shot 2017-03-15 at 1 51 20 am" src="https://cloud.githubusercontent.com/assets/780941/23954815/a3ac5342-096e-11e7-8ad5-2d512bfc9e06.png">
<img width="567" alt="screen shot 2017-03-15 at 1 51 35 am" src="https://cloud.githubusercontent.com/assets/780941/23954814/a3a84108-096e-11e7-8fc6-4f385b3f8260.png">

[2017-03-15 15:02] jeremiak commented on #193
Many of the errors were fixed. Those that remain have been captured as #585 and #586

[2017-03-15 15:08] jeremiak opened #588 "Trend chart text can jump around when there are large increases in a rate"
Looking at `explorer/illinois/rape`, I see that the trend chart text jumps around a bit when there are large increases in the reported rate.

![trend-line-jumping](https://cloud.githubusercontent.com/assets/780941/23955194/9ab28d1e-096f-11e7-9e34-0e9413f07621.gif)

Also happens for:
* `explorer/delaware/rape?since=1993&until=2014`

[2017-03-15 15:47] AvivaOskow commented on #450
@LarryBafundo I had an example but its since been reloaded (and I can't remember what the exact query was), but it seems like it's been fixed.

[2017-03-15 16:00] #563 closed

[2017-03-15 16:09] #574 closed

[2017-03-15 16:24] RyanSibley commented on #575
Should we include the values for offense_code?

[2017-03-15 16:49] LarryBafundo commented on #538
hey @brendansudol: i'm not seeing this change on master. the "bulk demographic download" still just returns a single file, sex of offender, rather than sex/age/race.

[2017-03-15 16:50] #450 closed

[2017-03-15 16:52] jeremiak commented on #538
@LarryBafundo Make sure you allow the site to "Download multiple files", you should see an alert such as:
<img width="658" alt="screen shot 2017-03-15 at 12 51 05 pm" src="https://cloud.githubusercontent.com/assets/780941/23960353/27a21a88-097e-11e7-806c-b91dcaf8fa47.png">

Because we're doing this client side, the browser needs to get the users consent before triggering multiple downloads.

[2017-03-15 16:53] #572 closed

[2017-03-15 23:26] LarryBafundo commented on #193
@jeremiak is there a way to verify this, or should we just close it?

[2017-03-15 23:27] LarryBafundo commented on #538
yep, my fault. however, it took me a couple of times to figure out what was going on, so it may not be obvious to all users. something to think about as a future enhancement.

[2017-03-15 23:27] #538 closed

[2017-03-15 23:28] LarryBafundo commented on #437
@AvivaOskow, @amberwreed propose closing this task as we will have new issues to track against for the next sprint.

[2017-03-15 23:33] LarryBafundo commented on #318
just a reminder that we still have this issue with the participation & population robo text for the national overview text (see below):

<img width="643" alt="screen shot 2017-03-15 at 4 33 12 pm" src="https://cloud.githubusercontent.com/assets/15899668/23975273/ec1809cc-099c-11e7-80bf-3a62b123f239.png">

@harrisj is this issue also related to the backend work that is required to update the nation

[2017-03-15 23:34] LarryBafundo commented on #496
@jeremiak are there any questions/concerns regarding this issue ?

[2017-03-15 23:38] LarryBafundo commented on #448
@amberwreed, @brendansudol can we update this issue with the new plan for the donut chart? my understanding is that we're moving away from the donut model entirely?

[2017-03-15 23:39] LarryBafundo commented on #374
@brendansudol, can this be finished off quickly, or should we roll it into the next sprint along with the other changes we're making to the "download" experience?

[2017-03-15 23:40] #570 closed

[2017-03-15 23:45] #250 closed

[2017-03-16 00:06] LarryBafundo commented on #238
relates to #195

[2017-03-16 00:12] jeremiak opened #589 "Race of offender CSV is malformed"
The CSV downloaded for the race of offenders of homicide in Alabama looks like this:

key|count
---|---
20|7
30|7
40|2
50|2
60|1

The "key" column should be populated with the different categorical values for race in the UCR program.

[2017-03-16 00:14] LarryBafundo opened #590 "Develop research plan & schedule for exploring granularity/participation & API accessibility"
Identify key learning objectives for the sprint for the following areas:

- [ ] adding more granular perspectives to the CDE explorer experience
- [ ] highlighting participation data to provide additional context for the interpretation of results
- [ ] improving the accessibility of the API

and

- [ ] outline a testing schedule to facilitate workflow planning and the recruitment of participants.

[2017-03-16 00:14] jeremiak opened #591 "National participation text includes "NaN""
The text for the national participation view (in this case of violent crime) includes "NaN" and missing numbers. Now that the national participation endpoint is wrapped up, we should fix this on the front end.

<img width="892" alt="screen shot 2017-03-15 at 8 12 56 pm" src="https://cloud.githubusercontent.com/assets/780941/23976118/e06a0886-09bb-11e7-92fa-a6fabccf755c.png">

[2017-03-16 00:18] LarryBafundo commented on #339
hey @AvivaOskow when you have a chance can you please review  and update this issue as necessary?

[2017-03-16 00:29] LarryBafundo opened #592 "Assess what use cases the API can support today in terms of granularity & likely use cases"
As we explore potential approaches for improving the granularity of the CDE experience we need to which aspects are supported by the API today and which would need work and or additional definition in order to support.

[2017-03-16 00:32] LarryBafundo commented on #591
@jeremiak, I have this issue reflected in #318. We should either close that one out and stick with this bug, or close out the bug. Your call.

[2017-03-16 00:34] LarryBafundo opened #593 "Include the data dictionary and NIBRS data diagram with the bulk download files"
As a user, I want to be able to access supplementary resources, like a readme and the NIBRS diagram, when downloading a package of NIBRS data.

[2017-03-16 02:19] jeremiak commented on #318
Remaining bug work for this will be done in #591 since the bulk of the work, and all of the API work, is completed

[2017-03-16 02:19] #318 closed

[2017-03-16 02:24] jeremiak commented on #591
Part of fixing this will involve removing `/data/usa-population.json` and refactoring the app so that it uses the API endpoint `/participation/national` instead.

[2017-03-16 02:37] jeremiak opened #594 "Add changelog link to the interface"
Recommendation from @amberwreed to add a user facing link to the change log. We might also want to display the version number somewhere.

[2017-03-16 14:42] #246 closed

[2017-03-16 14:50] #202 closed

[2017-03-16 16:06] amberwreed opened #598 "Sprint 8 workshop prep"
SKETCHES TO FACILITATE IDEATION:
- [ ] Cities (only trend data, trend and nibrs)
- [ ] Counties (only trend data, trend and nibrs)
        - [ ] Pull 2 counties data to design with (only trend data, trend and nibrs)
- [ ] ORI (Agency level) (only trend data, trend and nibrs)

KEY CONSIDERATIONS DECK:

[2017-03-16 16:59] nicoleslaw opened #599 "NIBRS glossary term bug"
Something is a little buggy with the `{nibrs}` term on the Explore view. We have it in a few places, but the last two places do not bring up the glossary:

- NIBRS overview (no link)
- NIBRS chart source link (blank entry)

[2017-03-16 17:12] #564 closed

[2017-03-16 17:13] #565 closed

[2017-03-16 17:33] amberwreed opened #600 "Glossary: Add "participation""
As a user, I understand how participation can help me understand the data.

[2017-03-16 17:39] jeremiak commented on #461
@RyanSibley can currently edit this content with no problems so we're going to move this to the backlog until it becomes an issue

[2017-03-16 17:47] AvivaOskow opened #601 "Explorer: Increase minimum margin between charts and side nav on left/edge of browser on right"
Can we increase the minimum margin on either side of the components in the main content area
to 80 px? This will help the page have more breathing room on smaller screens.

**Current build:**
<img width="1262" alt="screen shot 2017-03-16 at 1 11 40 pm" src="https://cloud.githubusercontent.com/assets/21244661/24010466/595e57d2-0a4e-11e7-989b-17c8390978fb.png">

**Spec**

<img width="734" alt="scree

[2017-03-16 17:48] #437 closed

[2017-03-16 19:07] jeremiak commented on #193
I've verified, let's close it.

On Wed, Mar 15, 2017 at 7:26 PM, Larry Bafundo <notifications@github.com>
wrote:

[2017-03-16 20:07] amberwreed opened #603 "Research prototype: Location selection"
Develop an interactive prototype to test how users want to select a location (leveraging our current navigation system).

[2017-03-16 20:10] amberwreed opened #604 "Research prototyping: Trend chart with participation"
Develop a stand alone interactive prototype (leveraging real data) to explore how participation can be integrated into the trend chart.

[2017-03-16 20:11] LarryBafundo opened #605 "Explore and assess opportunities for improving the granularity of the CDE experience"

[2017-03-16 20:14] LarryBafundo opened #606 "Improve the accessibility of the API"

[2017-03-16 20:16] LarryBafundo opened #607 "Improve the downloads experience"

[2017-03-16 20:39] AvivaOskow opened #608 "Beta Banner: lost rounded corners"
**Beta banner somehow lost rounded corners**
(from https://crime-data-explorer.fr.cloud.gov/explorer/ohio/homicide )
![screen shot 2017-03-16 at 4 37 56 pm](https://cloud.githubusercontent.com/assets/21244661/24017581/fad03ce4-0a66-11e7-84e9-f456290c06a7.png)

**Should look like this**
https://crime-data-explorer-demo.fr.cloud.gov/explorer/ohio/homicide
![screen shot 2017-03-16 at 4 37 49 pm](http

[2017-03-16 20:42] AvivaOskow opened #609 "Mobile: Explorer filter menu nav button round corner"
Left bottom corner of the button should be rounded

![image](https://cloud.githubusercontent.com/assets/21244661/24017696/67886834-0a67-11e7-9a81-185964aa30d5.png)

**Current build**
https://crime-data-explorer.fr.cloud.gov/explorer/ohio/homicide

![screen shot 2017-03-16 at 4 42 06 pm](https://cloud.githubusercontent.com/assets/21244661/24017721/8411469c-0a67-11e7-972b-3087da98edde.png)

[2017-03-16 21:33] #591 closed

[2017-03-16 21:43] jeremiak commented on #609
@AvivaOskow This is ready for your review

[2017-03-16 21:50] jeremiak commented on #548
@amberwreed This is ready for your review

[2017-03-16 21:52] jeremiak commented on #588
Looks much better after 595:

![no-jumping](https://cloud.githubusercontent.com/assets/780941/24020132/4761769a-0a71-11e7-8595-3669b546ba6d.gif)

[2017-03-16 21:52] #588 closed

[2017-03-16 22:01] #193 closed

[2017-03-16 22:24] LarryBafundo commented on #496
@RyanSibley this is ready for your review. please close out if you're good with it, otherwise make a note here about requested changes.

[2017-03-17 03:28] amberwreed commented on #548
@jeremiak Unless I'm looking at the wrong version of the app (totally possible), the following items are still incomplete. I'm looking at Florida's complete trend line on the demo site. The non-demo site isn't loading for me.

Remaining tweaks to make before this card is done:
- [ ]  Make "Does not include estimates" italic
- [ ]  Add years to insufficient data indicator

[2017-03-17 14:56] jeremiak opened #612 "agency.csv from the bulk NIBRS download should be deduped"
Right now it looks like the `agency.csv` from the bulk NIBRS download contains a row for every incident, but we really only need one per ORI. De-duping this file will make it easier to work with

[2017-03-17 15:49] jeremiak commented on #548
Sorry about that @amberwreed, we accidentally left the `master` one in a bad state. It was fixed by #610 and you should be able to use the site now:
https://crime-data-explorer.fr.cloud.gov/explorer/illinois/rape

[2017-03-17 18:24] jeremiak commented on #599
Hey @nicoleslaw, would you mind checking crime-data-explorer.fr.cloud.gov to see if this issue is resolved? If so, please go ahead and close this issue :)

[2017-03-17 18:37] nicoleslaw commented on #599
@jeremiak Almost there! When you backdate the years and the NIBRS conditional sentence shows up, it should also include the term link. Sorry for not being super clear in the description. Here's an example, highlighting where the link should be:

---

## Homicide incident details in Tennessee, 1985–2014

Tennessee started reporting `incident-based (NIBRS)` data to the FBI in 1997.

[2017-03-17 20:13] RyanSibley commented on #496
@jeremiak the only thing missing is the social icons in the `follow us` box and then I think this can be closed. There'll be  few content tweaks later.

[2017-03-17 20:15] jeremiak commented on #608
@AvivaOskow This should be ready for your review on [crime-data-explorer.fr.cloud.gov](https://crime-data-explorer.fr.cloud.gov)

[2017-03-17 20:26] #608 closed

[2017-03-20 14:56] brendansudol commented on #586
@AvivaOskow -- just want to put this on your radar

[2017-03-20 14:56] brendansudol commented on #585
@AvivaOskow -- just want to put this on your radar

[2017-03-20 14:56] #569 closed

[2017-03-20 14:57] #573 closed

[2017-03-20 16:34] RyanSibley commented on #600
<img width="807" alt="screen shot 2017-03-20 at 12 31 42 pm" src="https://cloud.githubusercontent.com/assets/1151139/24110304/7dacd44c-0d69-11e7-82d4-a927e252fd61.png">

@amberwreed @harrisj @AvivaOskow

[2017-03-20 16:42] harrisj commented on #600
If you can find a similar chart for 2014, I can check the numbers I have derived against it for these groups.

[2017-03-20 16:45] RyanSibley commented on #600
et voila @harrisj

<img width="762" alt="screen shot 2017-03-20 at 12 44 54 pm" src="https://cloud.githubusercontent.com/assets/1151139/24110909/1d1f8a64-0d6b-11e7-919b-52a8d177ad15.png">

[2017-03-20 16:46] harrisj commented on #600
Thanks! I'll try to compute my own to see if it matches

[2017-03-20 20:14] RyanSibley commented on #164
This language is used by the FBI:

https://ucr.fbi.gov/hate-crime/2015/home/resource-pages/abouthatecrime_final

[2017-03-20 20:35] RyanSibley commented on #195
https://docs.google.com/document/d/1aM0bfSQjukh7npeUnh6AKB7grYQEwkYG4oqZggk9vRk/edit

[2017-03-21 01:48] harrisj commented on #600
Here is what I have in the DB

| parent_pop_group_desc                                                          |   count | pop      |  nibrs_count | nibrs_pop |
|--------------------------------------------------------------------------------|----------|----------|-|-|
| All cities 250,000 or over                                                     |       81 | 59,814,646 |18| 9,608,775|
| Cities

[2017-03-21 21:46] #609 closed

[2017-03-21 21:51] AvivaOskow commented on #448
@LarryBafundo I'm going to close this and open a new one for @amberwreed to upload her new designs into

[2017-03-21 21:51] #448 closed

[2017-03-21 21:58] AvivaOskow opened #616 "Update NIBRS demographic chart to reflect new designs"
Annotated file from @amberwreed to come, here is a close screenshot for now

<img width="686" alt="screen shot 2017-03-21 at 2 56 41 pm" src="https://cloud.githubusercontent.com/assets/21244661/24172770/b424a95e-0e46-11e7-9068-642a0d82f776.png">

[2017-03-21 21:59] AvivaOskow commented on #616
@amberwreed can you upload the annotated file when it's ready?

[2017-03-21 22:05] AvivaOskow commented on #496
@brendansudol and I went over the necessary refinements today:

- [ ] Add glossary icons and links to available datasets
- [ ] Add links to UCR Resources
- [ ] Add agency participation link under legend for map
- [ ] Match width of paragraph in More to come with those above
- [ ] More space between 3 columns in Contact
- [ ] add Follow Us icons

[2017-03-21 22:07] AvivaOskow commented on #548
@LarryBafundo @amberwreed @jeremiak @brendansudol should we close this or update it to match the new designs from this week? Brendan and I went over them a bit today, but I recognize they will probably change again after insights from the workshop, as well as maybe after testing at the end of this week.

[2017-03-21 22:22] AvivaOskow commented on #585
@brendansudol and I chose A8B9C9 to replace the Light Blue in just this spot. We are adding it as a one-off, and naming it _Compliant Light Blue_

<img width="307" alt="screen shot 2017-03-21 at 3 22 14 pm" src="https://cloud.githubusercontent.com/assets/21244661/24173666/314467c8-0e4a-11e7-94b2-a4ef7dea3f76.png">

[2017-03-21 22:38] AvivaOskow commented on #586
I propose using our new Compliant Light Blue for headers, and using our bright red for the social icons and adding our red line link style for the page links on left. @brendansudol and I are in agreement.

<img width="727" alt="screen shot 2017-03-21 at 3 36 05 pm" src="https://cloud.githubusercontent.com/assets/21244661/24174145/661d6e8e-0e4c-11e7-8312-590f47b6d064.png">

[2017-03-22 16:23] jeremiak opened #617 "Compile ATO documentation for FBI security team"
Will fill out issue more completely, but this is to represent the work to send over ATO supporting documentation from the GSA ATO and to provide them with answers about our code access and api.data.gov

[2017-03-22 16:25] jeremiak opened #618 "Send API key in header not the URL"
We should use an HTTP header to send the auth token now that the [API supports it (api#438)](https://github.com/18F/crime-data-api/pull/438)

[2017-03-22 20:01] jeremiak opened #619 "Use postal abbreviations in all API calls"
Sometimes we use the postal abbreviation and other times we use a state code. Once [api#439](https://github.com/18F/crime-data-api/pull/439) is merged, we should just use the postal abbreviation and remove the state code from the code base.

[2017-03-22 20:01] jeremiak opened #620 "Use /counts endpoint instead of /incidents/count"
This is an API change from [api#439](https://github.com/18F/crime-data-api/pull/439) that should be implemented on the front end as well.

[2017-03-22 20:23] LarryBafundo commented on #548
@amberwreed, what do you think? my hunch is that a lot of these changes will still be relevant with the new direction, but then again, our time might be better spent elsewhere until that direction is finalized.

[2017-03-22 21:30] amberwreed commented on #548
@jeremia I agree that these are important changes. I'll add a screenshot of
the new trend as soon as we know what data we'll have available through the
estimated data and at a local level.

On Wed, Mar 22, 2017 at 1:24 PM, Larry Bafundo <notifications@github.com>
wrote:

--
-------------------------
*Amber Reed*
Visual Design Supervisor
18F

[2017-03-22 22:14] jeremiak commented on #617
@LarryBafundo sent the FBI team an email with all of our documentation.

[2017-03-22 22:14] #617 closed

[2017-03-23 01:42] harrisj commented on #618
Actually, you don't need to do this. I just needed to make this change so that the private API key would not be exposed in some circumsrances when called from api.data.gov

[2017-03-23 01:42] #618 closed

[2017-03-23 01:47] harrisj commented on #401
Okay, while we are waiting on the FBI to assign the CNAME, we can try using the API directly in the explorer. You'll just have to do calls from the explorer to the CNAME directly so a request would look like `http://crime-data-api.fbi.gov.domains.api.data.gov/incidents/count/?api_key=<api.data.gov key>` (note it's NOT https for now) and include a `Host: crime-data-api.fbi.gov` in the headers of th

[2017-03-23 01:47] harrisj commented on #401
I also made you an admin too

[2017-03-23 19:25] amberwreed opened #623 "Promote "explorer" in the header menu"
As a user, I am most interested in the explorer view. Reorder the navigation to have the Explorer link come directly after the home link followed by About and Downloads. Confirm that the order is the same in the footer.

[2017-03-23 19:30] amberwreed commented on #238
@RyanSibley and I discussed that the "About the data" and "Related links" section of this page needs to be written / curated.

[2017-03-23 19:31] amberwreed opened #624 "Content: Explain data estimations"
National and State trend lines will be based on estimated data. Please add content to explain. See Nicole's draft content.

[2017-03-23 19:32] amberwreed opened #625 "Content: Time period"
As a user, I want to understand the time period of data available in the CDE. Explain that the data in the Explorer view is limitted to the last 20 years. That the data downloads and api have data from X to X.

[2017-03-23 19:34] amberwreed opened #626 "Glossary & Trend chart: Rape definition"
Create 1 definition for rape that links to and include the years that the legacy definition was used to collect data.

[2017-03-23 19:43] amberwreed opened #627 "Feedback tool"
Implement FEC's feedback tool on the CDE. Use questions that are a combo of FEC and @RyanSibley 's. IF there is another issue for this, pls link.

[2017-03-23 19:44] amberwreed opened #628 "Download details page: Make meta data dynamic when possible"
Design the meta data portion of the page to be as dynamic as possible to ensure that is up-to-date.

[2017-03-23 19:46] amberwreed opened #629 "Downloads: Data documentation box"
Update content in the data documentation box to include links to our data dictionary, nibrs map, and the readme. If possible, also link to the NIBRS manual. Change the button text by removing UCR.

[2017-03-23 19:47] amberwreed opened #630 "About page: Add link to NIBRS manual"
As a user, I can find a link to the NIBRS manual from the About page UCR resources section.

[2017-03-23 20:38] RyanSibley commented on #575
Change the incident_key to a string in the database

[2017-03-23 21:44] #598 closed

[2017-03-23 21:50] amberwreed commented on #603
Here's a link to the sketch file:
https://drive.google.com/open?id=0B5cw7Ca2CjsyXzN2ajUwVlZaUkU

[2017-03-23 21:50] amberwreed commented on #603
![step 1](https://cloud.githubusercontent.com/assets/13576520/24271859/05ccbef8-0fd8-11e7-8985-fb031146f3d3.png)
![Uploading Step 2.png…]()
![step 3](https://cloud.githubusercontent.com/assets/13576520/24271858/05ca7378-0fd8-11e7-9f21-6b2c42894f1d.png)
![Uploading Step 4.png…]()

[2017-03-23 21:51] amberwreed commented on #616
https://drive.google.com/open?id=0B5cw7Ca2CjsyT3JxWGw4anlETjQ

[2017-03-23 21:51] amberwreed commented on #616
<img width="457" alt="screen shot 2017-03-23 at 2 51 34 pm" src="https://cloud.githubusercontent.com/assets/13576520/24271915/3e5f9f7e-0fd8-11e7-8a06-9b344cf26121.png">

[2017-03-23 22:05] amberwreed opened #631 "NIBRS charts: Default to % over incidents"
As a user, I don't want to be confused by incident counts not adding up. Try defaulting to % instead of incident counts. For the age range chart we may want to go back to just having the highest % defaulted. (1 change ago) because the sentence about how many total incidents would be silly if it said 100%.

[2017-03-23 23:21] amberwreed opened #633 "Data to see what data at an agency / ORI will look like"
@LarryBafundo @harrisj Moving our slack conversation to github. It would be great to get this data as soon as possible.

Let's pull numbers to help verify if they in fact the FBI wants to show NIBRS data at and ORI level. Maybe we pull homicide results for:
1. One ORI with 12 months of data for the largest population
2. One ORI with 12 months of data with a median population
3. One ORI with 12 mon

[2017-03-23 23:22] #590 closed

[2017-03-23 23:26] LarryBafundo commented on #627
@amberwreed we already have an issue for this

[2017-03-23 23:26] #627 closed

[2017-03-23 23:29] LarryBafundo commented on #631
lets move this to the backlog considering that it requires some content changes.

[2017-03-24 18:07] amberwreed commented on #633
cc @LarryBafundo @jeremiak Would be great to have these details by Tuesday so we can prepare to show them to our partners Thursday.

[2017-03-24 19:38] #585 closed

[2017-03-24 20:40] RyanSibley commented on #575
To be done before @cacraig regenerates the files (cc @LarryBafundo) :

- [ ] Change incident_id to incident_key

- [ ] Make sure incident key is a string (cc @jeremiak)

- [ ] Add offense_code to the offense dataset

- [ ] In the the Assaults on Law Enforcement Officers dataset replace the state FIPS code to state postal abbreviations

- [ ] Add bias_motivation field to the offense dataset

- [ ]

[2017-03-24 21:17] amberwreed commented on #603
Great progress! Thanks.

Here's list of things to work on from our call:
1. Add number of results returned when entering a location / zip
2. Drop a pin (Random location ok) when an ORI is selected
3. Remove all non-Ohio ORIs from list
4. Remove all "-1" ORIs from list
5. Add png (to be provide) on the right side of the screen when the location is selected. Remove png when the location is removed.

[2017-03-26 02:48] nicoleslaw opened #634 "National trend chart text shouldn't be a comparison with national trends"
The national trend charts currently compare the data against the same location. Please see the proposed national-level text: https://github.com/18F/crime-data-explorer/issues/318#issuecomment-281527140

Live example from homicide:

[2017-03-27 14:37] harrisj commented on #314
So, I need some clarification about some endpoints that are not currently being used by the CDE. Should we document them with Swagger or such or should we wait to see if they get refactored/used by future iterations first:

- [ ] /agencies
- [ ] /agencies/{agency_id}
- [ ] /offenses

It looks like the following endpoints have been removed for now:

- [X] /arrests/*
- [X] /incidents
- [X] /arson

[2017-03-27 16:40] harrisj commented on #633
[This Google sheet should give some data on NIBRS participation by population group](https://docs.google.com/spreadsheets/d/1RPL5JOij--tM8mbPA6vwWEHoyIGa9swuUOAMqEQKwF4/edit)

Can you tell me what data you want exactly for the agency with 12 months of NIBRS data? Did you want the trend data (derived from NIBRS)? Or something with the NIBRS histograms?

[2017-03-27 17:39] LarryBafundo commented on #633
@harrisj, i know we spoke about this via slack, but posting here for record-keeping:

i think the priority is trend (converted NIBRS) data first and then dimensions.

[2017-03-27 17:41] LarryBafundo commented on #314
I'll let @jeremiak weigh in on this, but I think we should wait until we know more about how they will be used before we create the documentation.

[2017-03-27 17:47] LarryBafundo commented on #603
@brendansudol moving this into in progress. can you please provide an update when you have a chance?

[2017-03-27 17:48] LarryBafundo commented on #575
@RyanSibley how are we coming with this?

[2017-03-27 17:53] brendansudol commented on #603
all of those things are now done, i think -- https://crime-data-prototypes.fr.cloud.gov/demos/ori2/

[2017-03-27 19:27] RyanSibley commented on #575
@LarryBafundo I realize I wasn't clear when I put the list together -- all of these things are done in the dictionary. The list above is for the engineers to complete both before Colin can regenerate the files and as a part of regenerating the files. cc @cacraig @jeremiak @harrisj

Things to do before Colin can generate new files:

- [ ] Make sure incident key is a string (cc @jeremiak)

- [ ] Fac

[2017-03-27 19:34] harrisj commented on #633
How is this? https://docs.google.com/a/gsa.gov/spreadsheets/d/1dMhCJe8ZgnsWHXNj5yWrN12IgNb1iyRUaQmure_RpgU/edit?usp=sharing

Note that I don't have a ton of NIBRS converted trends in some cases...

[2017-03-27 19:48] LarryBafundo commented on #496
@brendansudol can we close this out prior to the end of the sprint (tomorrow)?

[2017-03-27 19:49] #548 closed

[2017-03-27 19:53] LarryBafundo commented on #586
@brendansudol can I close this out?

[2017-03-27 19:56] LarryBafundo commented on #599
reassigning this to you @jeremiak

[2017-03-27 19:57] LarryBafundo commented on #604
related to https://github.com/18F/crime-data-explorer/issues/633

[2017-03-27 20:00] LarryBafundo commented on #592
Let's revisit this / close this out at the end of the sprint, once the new design direction through launch is clearer.

[2017-03-27 20:03] LarryBafundo commented on #195
hey @RyanSibley when do you think we can share the descriptions with CJIS? I'll also follow-up with Lori to see if she can get us the revised description for the LEOKA dataset that she mentioned earlier.

[2017-03-27 22:16] LarryBafundo commented on #575
hey @cacraig so i think we are going to hold off on regenerating the files in the short-term, but can these changes still be made so that when we do remake the files they will be there?

[2017-03-27 22:26] LarryBafundo commented on #634
so basically we just need to adjust the string so that it says x incidents per 100,000, right @nicoleslaw, @RyanSibley?

[2017-03-27 22:36] LarryBafundo commented on #506
revisiting this thread. i don't think that we need to go to great lengths to explain the mapping between SRS/NIBRS offenses within the explorer view, as most are fairly straightforward. the one exception is larceny, in which case we may want to say something like "there were X number of theft-related incidents..." but defer to @RyanSibley on how we should approach this. other than larceny, i do th

[2017-03-27 22:37] LarryBafundo commented on #350
@RyanSibley, @harrisj is there more we plan to do here in the short-term, or are we still working on an overview and its revisions?

[2017-03-27 22:39] LarryBafundo commented on #346
@RyanSibley may I suggest sending Lori this issue and asking her to follow-up? I bet she can track down the answers for us.

[2017-03-27 23:07] RyanSibley commented on #195
@LarryBafundo We can share the rough versions that I have in the doc above if you'd like, but I'd like some team feedback (or just from you maybe?) before that if possible.

[2017-03-27 23:11] LarryBafundo commented on #195
okay, will look now.

[2017-03-27 23:17] LarryBafundo commented on #195
looks good, made a few comments.

[2017-03-28 00:15] RyanSibley commented on #506
I'm sorry for not commenting sooner -- I lost track of this issue.  I'm also having trouble figuring out what the issue is--especially the portion dealing with larceny. That aside, I'm under the impression that NIBRS offenses are rolled up with the SRS data to add to the counts. Is that the issue? If so, it sounds like we want a disclaimer? Something like:

cc @LarryBafundo

[2017-03-28 00:21] RyanSibley commented on #506
Also, @LarryBafundo, this is good:

@RyanSibley for example, instead of saying this:

<img width="638" alt="screen shot 2017-03-10 at 9 55 06 am" src="https://cloud.githubusercontent.com/assets/15899668/23806602/260fb0d2-0577-11e7-911d-e66a3123e6c1.png">

We could say this:

"There was 1 incident related to Murder and Nonnegligent Manslaughter reported to the FBI in the District of Columbia betwee

[2017-03-28 00:33] RyanSibley commented on #346
I think so @LarryBafundo. The questions are:

- Canall agencies, not just NIBRS-reporting agencies, report hate crime data to the UCR?

- Is it reported via a separate form?

- Do some agencies report it through regular incident reports? Or is it reported to the UCR via a separate form and then added to NIBRS data?

cc @harrisj are these the right things to ask?

Should I email Lori or would you l

[2017-03-28 01:46] harrisj commented on #506
I think the relevant point to make here is not that there was one incident, but there was only 1 agency reporting data to NIBRS during that time and it was not a major agency. This is where it gets a bit weird, because the covered population for this agency (Transit Police) is 0, which is weird to say.

[2017-03-28 02:15] RyanSibley commented on #178
As I started to address this I came across this information:

[2017-03-28 05:26] amberwreed commented on #633
@harrisj Thank you! This is great. I'd love to be able to mock up a trend chart for these 3 locations. Maybe @jeremiak can help since he's done it for me before.

In addition, if we are able to put together the NIBRS details for the medium location, I think it'd be interesting to see as charts vs. tables. Lastly, the population breakdown for agencies is super helpful and may be enough. Let's discu

[2017-03-28 05:27] amberwreed commented on #633
See the NIBRS details here as an example for what it would be interesting to visualize for the ORI.

![nibrs charts](https://cloud.githubusercontent.com/assets/13576520/24390237/6c88c9a4-133c-11e7-99bd-4da3913b30cc.png)

[2017-03-28 05:28] amberwreed commented on #633
Here's an example of just a trend chart (FPO) cuz data is from Chicago.

![trend no nibrs](https://cloud.githubusercontent.com/assets/13576520/24390255/a27de5ee-133c-11e7-9804-a164bdd86ab9.png)

[2017-03-28 05:28] amberwreed commented on #633
Here's an example of a table of Virgina beach with no NIBRS details.

![table no nibrs](https://cloud.githubusercontent.com/assets/13576520/24390269/bdb64b44-133c-11e7-9162-0039c7b9872f.png)

[2017-03-28 14:27] #603 closed

[2017-03-28 14:58] brendansudol commented on #374
this should be ready for review

[2017-03-28 15:33] cacraig commented on #575
Yep, @LarryBafundo . I can work on adding these to the generation scripts. - I don't see any issue with these.

[2017-03-28 15:57] nicoleslaw commented on #634
Yep, for national views, it should simple say `There were {X.X} incidents per 100,000 people.`

[2017-03-28 16:22] harrisj commented on #633
I have an idea. How about we do Rockford, IL instead of Virginia Beach as a medium size city. I note that because Rockford is the only agency that reports NIBRS in Illinois, so all the NIBRS charts for any offense in Illinois are identical to the ones that would be generated for Rockford.

[2017-03-28 16:24] LarryBafundo commented on #575
okay great. assigning this to you then and once they've been added to the scripts we can close out the issue. we'll create a new one when we're ready to regenerate the files.

[2017-03-28 16:27] LarryBafundo commented on #346
@RyanSibley feel free to contact Lori directly on this and please copy me so I can stay in the loop

[2017-03-28 16:34] LarryBafundo commented on #346
the dataset descriptions that would live on these pages are here: https://docs.google.com/document/d/1aM0bfSQjukh7npeUnh6AKB7grYQEwkYG4oqZggk9vRk/edit

[2017-03-28 16:46] RyanSibley opened #637 "Sourcing information for data details box"
<img width="547" alt="screen shot 2017-03-28 at 12 39 20 pm" src="https://cloud.githubusercontent.com/assets/1151139/24416910/5423632e-13b4-11e7-9ac6-e5f0efe166e3.png">

A few questions to answer as we put this info together for each data download page:
1. Will this text be dynamic?
2. Who's responsible for maintaining it?
3. Are all the fields necessary?

<img width="265" alt="screen shot 2017-03

[2017-03-28 18:23] harrisj opened #638 "Use /participation/agencies instead of /agencies/participation"
Change from https://github.com/18F/crime-data-api/pull/440

[2017-03-28 18:24] harrisj opened #639 "Use /participation/states/<state_abbr> instead of /geo/states/<state_abbr>/participation"
Change made in https://github.com/18F/crime-data-api/pull/440

[2017-03-28 20:42] harrisj commented on #633
Well, the only agency reporting NIBRS in Alabama over the last 10 years is Hoover, AL (population: 84,848), so I guess that's a medium

[2017-03-28 22:11] amberwreed commented on #633
Any large or maybe that is less valuable anyway?

[2017-03-28 22:50] #586 closed

[2017-03-29 00:06] amberwreed commented on #633
@harrisj Is it possible to fill this out for us tomorrow? I think you have the content, my math skillz are lacking.
<img width="524" alt="screen shot 2017-03-28 at 5 05 11 pm" src="https://cloud.githubusercontent.com/assets/13576520/24432714/e2b1083e-13d8-11e7-816f-67cf147a53b9.png">

Please add here: https://docs.google.com/spreadsheets/d/1RPL5JOij--tM8mbPA6vwWEHoyIGa9swuUOAMqEQKwF4/edit#gid=1013

[2017-03-29 00:12] nicoleslaw commented on #178
Ah, good to know. (Also glad they're phasing out the old definition.) Let's talk more next week—this is not urgent and it'll be easier to chat about next steps.

[2017-03-29 01:59] harrisj commented on #633
Added. Note that % of agencies is a bit more skewed than if you add up all the agency populations of all NIBRS-reporting agencies and then do % of the population for the NIBRS-reporting agencies in that category

[2017-03-29 18:24] amberwreed commented on #633
Thanks! I think we can close this @LarryBafundo

[2017-03-29 18:38] #633 closed

[2017-03-29 22:46] AvivaOskow commented on #601
@brendansudol we discussed adding a smaller margin than 80px for below 1024, but not sure we determined what that would be. Looks like it's 20px, can we try it at 30px or 40px until mobile kicks in?

[2017-03-30 00:00] jeremiak opened #641 "Available datasets are missing descriptions in the glossary"
The links under "Available datasets" show up as glossary links and trigger the glossary, but show up as a term not found error.

![about-available-data-glossary-links](https://cloud.githubusercontent.com/assets/780941/24481691/170e2eae-14ba-11e7-8d36-dc82221a59bb.gif)

[2017-03-30 00:01] jeremiak opened #642 "Glossary does not clear errors"
If a `<Term />` results in a term not found error in the glossary component, the next term clicked on will show up with the error and the definition. The error should clear with each term switch.

![glossary-does-not-clear-error](https://cloud.githubusercontent.com/assets/780941/24481722/5598daa2-14ba-11e7-8001-114f3bd4dda4.gif)

[2017-03-30 14:59] RyanSibley commented on #178
Just FYI: https://docs.google.com/document/d/1mrSEUwAQQPIIXpw4I-pVYJNbVvsW7Fz4fNkbQP6MHdw/edit

[2017-03-30 16:57] RyanSibley commented on #626
https://docs.google.com/document/d/1mrSEUwAQQPIIXpw4I-pVYJNbVvsW7Fz4fNkbQP6MHdw/edit

[2017-03-30 19:18] jeremiak opened #644 "API documentation link is broken"
I think the API moved the swagger UI route from `/swagger-ui` to `/` so the current "See API documentation" button is broken.

It should link to `https://crime-data-api.fr.cloud.gov/` instead.

[2017-03-30 19:26] harrisj commented on #644
Ooops, I'm sorry. My bad. Do you want me to move back to /swagger-ui?

[2017-03-30 19:28] jeremiak commented on #644
No worries, I think its a minor oversight. I personally like it better at `/` so I'm willing to just change the code on the explorer app. If we want it fixed ASAP on `-demo.fr.cloud.gov` we can just do a patch version release and push it out.

[2017-03-30 19:42] jeremiak opened #645 "Deploy tagged releases with CircleCI to the right environment"
Currently, `master` deploys continuously to `crime-data-explorer.fr.cloud.gov`. We want our tagged releases to deploy via CircleCI as well so that they are transparent and repeatable. The major difference between deploying to the "master" environment and the "release" environment is that we use different API hosts.

* "master" uses the API at `crime-data-api.fr.cloud.gov`
* "release" uses the API

[2017-03-30 20:05] jeremiak commented on #496
This looks done on the new release so I'm going to close it. If there are discrete issues that are different, please open new issues for easier tracking.

[2017-03-30 20:05] #496 closed

[2017-03-30 20:07] jeremiak commented on #374
Yup, download page is re-arranged. Looks good to me.

[2017-03-30 20:07] #374 closed

[2017-03-30 20:15] brendansudol commented on #601
sure, will iterate on that 'tweener width margin, but i think it's safe to close this issue

[2017-03-30 20:15] #601 closed

[2017-03-30 22:43] LarryBafundo commented on #642
@jeremiak is this ready for review? i wasn't able to reproduce and verify for myself.

[2017-03-30 22:49] LarryBafundo commented on #314
I assigned myself and @jeremiak to handle the first item on the checklist as part of this next sprint - add a basic overview that explains how to use the API and which provides descriptions for its various endpoints.

@harrisj can I check off the task around using FEC's tweaks to the swagger UI to make it more compliant?

[2017-03-30 22:49] LarryBafundo commented on #604
going to close this out as it pertains the previous sprint.

[2017-03-30 22:49] #604 closed

[2017-03-30 22:50] #592 closed

[2017-03-30 22:50] LarryBafundo commented on #195
@RyanSibley, seems like this should be in review. okay to close out considering that the descriptions are ready? are you waiting on more feedback from CJIS?

[2017-03-30 22:52] LarryBafundo commented on #575
@cacraig if the aforementioned changes have been made to the generation scripts we can close this out. can you please provide an update?

[2017-03-30 23:01] LarryBafundo commented on #626
@RyanSibley what you have in the link above looks pretty good. do we want to run it by CJIS before we make the changes in the app?

[2017-03-30 23:01] LarryBafundo commented on #630
the manual is available here: https://ucr.fbi.gov/nibrs/nibrs-user-manual

[2017-03-30 23:01] LarryBafundo commented on #534
agree with this

[2017-03-30 23:03] LarryBafundo commented on #350
going to close this as we have it covered by a separate issue.

[2017-03-30 23:04] LarryBafundo commented on #625
@amberwreed, the API will also use the same estimated data and timeframe as the explorer.

[2017-03-30 23:06] LarryBafundo commented on #616
@brendansudol have you already started on this?

[2017-03-30 23:12] LarryBafundo commented on #641
so is the problem here that these shouldn't be glossary terms, but rather links to downloading those files? whats the expected behavior here @RyanSibley, @amberwreed

Another option: once we have the detail views for these datasets built, these links could direct the user to those pages .

[2017-03-30 23:16] LarryBafundo commented on #637
we can talk about this some more, but based on the datasets we're working with currently, the only field that should be dynamic is "last updated." The rest shouldn't change.

i would also propose that, as an initial offering, we should cut the "tags" field. i'm not sure if we should keep the license or release date fields.

[2017-03-30 23:21] LarryBafundo commented on #645
@jeremiak this seems like something we want to tackle sooner than later. okay to keep at the top of the backlog, if not for the current sprint?

[2017-03-30 23:22] #605 closed

[2017-03-30 23:24] LarryBafundo commented on #628
we have this covered by another issue, closing

[2017-03-30 23:24] #628 closed

[2017-03-30 23:26] #461 closed

[2017-03-30 23:26] jeremiak commented on #645
Lets keep it in this sprint, Ill make sure to tackle it early on so its ready for the end of sprint release.

________________________________
From: Larry Bafundo <notifications@github.com>
Sent: Thursday, March 30, 2017 7:21:50 PM
To: 18F/crime-data-explorer
Cc: Jeremia Kimelman; Mention
Subject: Re: [18F/crime-data-explorer] Deploy tagged releases with CircleCI to the right environment (#645)

@

[2017-03-30 23:30] LarryBafundo opened #651 "Explore alternatives for presenting non-trend based agency data"
Alternatives may include bar charts, tables, etc.

[2017-03-30 23:32] LarryBafundo opened #652 "Develop supporting content for an agency-level perspective"

[2017-03-30 23:37] LarryBafundo opened #653 "Clarify the FBI's approach for defining a city and calculating crime in that area"
Current assumption is “City” = main police department + county sheriffs + transit/rail/park police. We will confirm with Cynthia, statistician with the FBI, once I'm able to schedule a call with her.

However, once confirmed, our next step will be to evaluate how this approach affects our ability to enable a city-based view within the CDE.

[2017-03-30 23:41] LarryBafundo opened #654 "Develop a prototype city view that presents (summary) trend data."
This prototype will explore the following:

- [ ] potential navigation flows that allow users to find what they're looking for and promote discoverability

- [ ] is there value in map-based visualizations, or prompts, relevant to city-based data?

- [ ] what aspects of the experience are important to explain to consumers, in terms of providing caveats and relevant context?

- [x] Gather names of t

[2017-03-30 23:42] LarryBafundo commented on #654
@amberwreed let me know if this issue adequately describes the key points we hope to explore around cities. feel free to adjust.

[2017-03-30 23:46] LarryBafundo commented on #651
The output of this effort should be refined design that may be implemented in the next sprint (if we decide to stick with this direction)

[2017-03-30 23:47] LarryBafundo commented on #652
relates to https://github.com/18F/crime-data-explorer/issues/651

[2017-03-30 23:51] LarryBafundo opened #655 "Plan out timeline & approach for pilot testing"
Work with CJIS to develop an overarching approach, timeline, and initial participants for pilot testing - to begin as soon as possible.

[2017-03-30 23:55] LarryBafundo opened #656 "agency view: implement basic agency search"
As a user, I want to search for agencies by:

--ORI #, agency name, and keyword

Further, I want to view a list of results organized alphabetically and by county.

And I want to be able filter that list by agency type, which should include "tribal land" as one of the selectable types.

--
This issue relates to https://waffle.io/18F/crime-data-explorer/cards/59123082263ebe004aa66e8e

[2017-03-31 02:33] harrisj commented on #656
A few notes on how to support each of these:

For `city name` and `agency name`, we will probably need to [enable full-text indexing](https://www.postgresql.org/docs/9.5/static/textsearch.html) on those fields (in a denormalized agency table)

For zip code search, we will need to add a table mapping zip codes to lat/lng (we can get that from the Census data gazette). We also will need to load the

[2017-03-31 03:13] harrisj commented on #653
My current assumption actually is that the FBI only picks a single ORI to represent a city (the largest police department).

The _"City = "_ formulation above is instead how we might more completely represent the crime in a city, although it's unclear how much more crime that would reveal than just looking at a single agency.

[2017-03-31 15:32] RyanSibley commented on #626
Will do.

On Thu, Mar 30, 2017 at 7:01 PM, Larry Bafundo <notifications@github.com>
wrote:

[2017-03-31 15:39] amberwreed commented on #641
@LarryBafundo It's my understanding that these should link to descriptions of the datasets. In the future we will have detail pages for the downloads but we'll never have detail pages for the whole dataset so I don't think that will solve the issue. We need definitions in the glossary. Additionally, it maybe be a problem that links and glossary links are very similar.

[2017-03-31 16:39] LarryBafundo commented on #656
@harrisj what is the difference between ORI and legacy ORI?

[2017-03-31 16:41] LarryBafundo commented on #653
@harrisj keeping track of potential questions for Cynthia here: https://docs.google.com/document/d/1a2tXvxc9sm_xFieN4hLRScUF_dtWOARyjBh-m2uMIA0/edit

Not sure if she will be able to answer all of them.

[2017-03-31 19:21] harrisj commented on #656
I don't exactly know. I just know there is a column named that there

[2017-03-31 20:13] LarryBafundo opened #657 "Write-up test procedures & test cases for the FBI"

[2017-03-31 20:13] LarryBafundo opened #658 "Write up guides for privileged and general users for the FBI"

[2017-03-31 20:14] LarryBafundo opened #659 "Complete SRTM questions based on guide & templates"
Mark M. to send us the SRTM and relevant guides/templates to complete. Waiting on this for now.

[2017-03-31 20:20] RyanSibley commented on #346
If this is OK with you folks, I'll use the following where appropriate:

cc @jeremiak @LarryBafundo

[2017-03-31 20:33] RyanSibley commented on #346
If you all think this is fine I'll use it in the appropriate places:

cc @harrisj @LarryBafundo

[2017-03-31 20:50] #346 closed

[2017-03-31 21:12] RyanSibley commented on #626
https://docs.google.com/document/d/1mrSEUwAQQPIIXpw4I-pVYJNbVvsW7Fz4fNkbQP6MHdw/edit

[2017-03-31 21:12] #626 closed

[2017-03-31 21:13] #195 closed

[2017-03-31 22:14] amberwreed opened #660 "City prototype: List of names"
Gather the names of the top 25 cities by population and their locations.

[2017-03-31 22:15] amberwreed opened #661 "City prototype: gather trend data for Chicago"
Gather trend data for all 5 violent crime categories for the city of Chicago.

[2017-03-31 22:16] amberwreed commented on #661
Refer to @harrisj work on Chicago data on this spreadsheet:
https://docs.google.com/spreadsheets/d/1ziRC-ZMS1jkQve-pnE-wAP3uPhBzwmAYxGEb3WDDLOw/edit#gid=0

[2017-03-31 22:17] amberwreed opened #662 "City prototype: Page design"
Explore design options for city page, focusing on map and overview content.

[2017-03-31 22:19] amberwreed opened #663 "City prototype: Trend chart design"
Explore design options for displaying all trend charts in a crime category on the page at once.

[2017-03-31 22:21] amberwreed opened #664 "City prototype: City markers on map"
Incorporate city clickable city markers on map for the homepage and the explorer page.

[2017-03-31 22:22] amberwreed opened #665 "City prototype: Navigation"
Determine how a city can be selected if the user does not interact with the map. Explore dropdown or flexible search options.

[2017-03-31 22:23] amberwreed opened #666 "City prototype: Design dropdown"
Design a dropdown experience for the homepage to include cities.

[2017-03-31 22:24] amberwreed opened #667 "City prototype: Tooltip"
Explore tooltip hover for homepage map. Work with @RyanSibley to develop content to include data type reported, cities available, and potentially participation rate / population covered.

[2017-03-31 22:26] amberwreed opened #668 "City prototype: Content design"
Explore appropriate content to include on the city page with @RyanSibley .

[2017-03-31 22:27] amberwreed commented on #654
@LarryBafundo I moved these into their own issues. This can be closed.

[2017-03-31 22:29] amberwreed opened #669 "City prototype: Research"
Develop a test plan for the homepage and city prototypes.

- [x] Test navigation flows that allow users to find what they're looking for and promote discoverability

- [x]  Validate there is value in map-based visualizations, or prompts, relevant to city-based data?

- [x]  What aspects of the experience are important to explain to consumers, in terms of providing caveats and relevant context?

-

[2017-04-03 16:16] RyanSibley opened #670 "Fix copy in Explorer view when no state is selected"
Fix the following copy:

In 2014, United States law enforcement agencies reported data to the FBI, out of a total of . For that year, these statistics cover NaN% of the state’s agencies or about NaN people.

[2017-04-03 16:20] jeremiak commented on #659
Here are the open questions in the SRTM that we need to address. Per Mark, its OK if the questions are not applicable to our use case because this is one of the first times the FBI will be working through an ATO with a PaaS (cloud.gov, in this case):

- [ ] Question 7: AC-2.E10 Shared Groups / Account Credential Termination
- [ ] Question 13: AC-3.E4 Discretionary Access Control
- [ ] Question 42:

[2017-04-03 16:26] #654 closed

[2017-04-03 18:21] #644 closed

[2017-04-03 18:25] LarryBafundo commented on #314
existing documentation here: https://crime-data-api.fr.cloud.gov/

[2017-04-03 18:37] LarryBafundo commented on #637
From a duplicate issue:

Update content in the data documentation box to include links to our data dictionary, nibrs map, and the readme. If possible, also link to the NIBRS manual. Change the button text by removing UCR.

[2017-04-03 18:37] #629 closed

[2017-04-03 18:49] jeremiak commented on #642
Deployed now, I just verified that this is done.

[2017-04-03 18:49] #642 closed

[2017-04-03 18:50] jeremiak commented on #599
@nicoleslaw Can you take a look at [the crime data explorer](https://crime-data-explorer.fr.cloud.gov) when you have a chance and verify that this bug is fixed now? Thanks!

[2017-04-03 18:50] jeremiak commented on #619
Done in 646

[2017-04-03 18:50] #619 closed

[2017-04-03 21:33] nicoleslaw commented on #599
Looks good to me! Closing.

[2017-04-03 21:33] #599 closed

[2017-04-04 02:26] jeremiak opened #675 "Police employee data download link is broken"
With [crime-data-api#433](https://github.com/18F/crime-data-api/issues/433), the filename was changed to `pe_employee_data.csv` from `pe_employment.csv`. The front end app should be updated as well.

[2017-04-05 02:20] amberwreed commented on #662
@brendansudol Here is the to-do list for the the city prototype explorer view.

Explorer view:

- [ ] Add png of navigation (will send tonight)
- [ ] Add png of “about the data” section
- [ ] Add png of “overview + map”
- [ ] Add title to each of the sub charts and violent crime trend chart
- [ ] Update the text in the violent crime chart
- [ ] Add Chicago specific numbers and line to charts and l

[2017-04-05 02:46] amberwreed commented on #664
@brendansudol Here's a checklist left to do for all of the homepage prototype:

- [ ] Add SRS and NIBRS bugs to rollover
- [ ] Add SRS and NIBRS legend below map of US
- [ ] Verify that the text in Crime type is “Select a crime type”
- [ ] Deactivate “view results” button until a location and crime type is selected
- [ ] Use the non-nested drop-down for the prototype
- [ ] Improve the placement of

[2017-04-05 02:47] amberwreed commented on #669
@LarryBafundo
https://docs.google.com/document/d/1Ns33oEIgXcFD6z1zbnnZGnMyF8W-RM4_xCYjd3IdUZk/edit#heading=h.vsm0d34m2udg

[2017-04-05 02:48] amberwreed commented on #668
@LarryBafundo @RyanSibley

https://docs.google.com/document/d/1XiJfWK6yq8NcnMUF0-TYT9m8jNs5EejWjXxUOICyoCE/edit

[2017-04-05 02:49] amberwreed commented on #667
![screen shot 2017-04-03 at 2 23 15 pm](https://cloud.githubusercontent.com/assets/13576520/24687659/c67ee0fe-196f-11e7-9949-b35ee82f16ee.png)
![screen shot 2017-04-03 at 2 20 22 pm](https://cloud.githubusercontent.com/assets/13576520/24687658/c67ea008-196f-11e7-9251-f7fcb32b42f1.png)

[2017-04-05 02:49] amberwreed commented on #667
Sketch file includes the "per 100k" designs.

[2017-04-05 14:23] RyanSibley commented on #506
Made a calendar invite so we can talk this through.

[2017-04-05 14:26] jeremiak commented on #659
Sent over the `CDE_Rev_4` document to Mark at the FBI. Moving this to in review.

@LarryBafundo when should we close this? When the FBI team has given us the 👍 on that document?

[2017-04-05 15:46] RyanSibley commented on #667
When we're only displaying counts, do you think it's necessary to label the state as NIBRS or SRS? I'm leaning towards no.

[2017-04-05 16:30] RyanSibley commented on #670
@jeremiak is this a bug, or should I work on replacement copy. I'm happy to chat if it's easier.

[2017-04-05 16:34] jeremiak commented on #670
What should the sentence say? Here is what I see currently on https://crime-data-explorer.fr.cloud.gov/explorer/united-states/violent-crime:

<img width="1214" alt="screen shot 2017-04-05 at 12 34 00 pm" src="https://cloud.githubusercontent.com/assets/780941/24716197/2b7b4ee8-19fc-11e7-861c-c50fc7bf1b3b.png">

[2017-04-05 17:02] LarryBafundo commented on #670
This should provide a national overview of UCR participation for 2014. It should explain how many agencies reported data, out of the total known to the FBI, and the % of population covered.

We should also consider adding a "the" to the start of the first sentence.

[2017-04-05 17:04] LarryBafundo commented on #659
hey @jeremiak yeah, let's keep this in review, but schedule a touch point with Mark and team to make sure they have what we need. Once we do that, we can close this out.

[2017-04-05 17:05] LarryBafundo commented on #659
@jeremiak do you want me to follow-up to your last email to Mark and suggest a specific time to regroup? your message leaves it pretty open-ended.

[2017-04-05 17:06] jeremiak commented on #659
@LarryBafundo sounds good, thanks for offering

[2017-04-05 17:11] LarryBafundo commented on #659
done

[2017-04-06 17:08] jeremiak commented on #314
Working on a draft for API introduction text: https://docs.google.com/document/d/1eyK9X7ULwToNSssx5eEMO8qxTFYIxdYbjIpISh1L2vg/edit

[2017-04-06 19:47] AvivaOskow commented on #651
**Table Views**

![hoover tables only](https://cloud.githubusercontent.com/assets/21244661/24772685/4469bb58-1ae0-11e7-9df3-3ee4f8adb50b.png)

[2017-04-06 19:49] AvivaOskow commented on #651
<img width="648" alt="screen shot 2017-04-05 at 6 38 25 pm" src="https://cloud.githubusercontent.com/assets/21244661/24772764/973dc86a-1ae0-11e7-90f7-0911b80feb5d.png">

[2017-04-06 19:52] amberwreed commented on #624
@RyanSibley Pls add links provided by Nicole.

[2017-04-06 19:53] RyanSibley commented on #652
https://docs.google.com/document/d/1XiJfWK6yq8NcnMUF0-TYT9m8jNs5EejWjXxUOICyoCE/edit

[2017-04-06 19:56] AvivaOskow commented on #651
Link to files:

https://drive.google.com/open?id=0B9bDBpzeNNaXdnZ2aC1UaUVQaDQ

[2017-04-06 19:57] #661 closed

[2017-04-06 19:57] #662 closed

[2017-04-06 19:57] #664 closed

[2017-04-06 19:58] #665 closed

[2017-04-06 19:58] #666 closed

[2017-04-06 19:59] #663 closed

[2017-04-06 19:59] #668 closed

[2017-04-06 20:03] amberwreed commented on #625
@LarryBafundo The API should also have the un estimated data.The FBI agreed to this when we were in WV.

[2017-04-06 20:04] amberwreed commented on #625
@LarryBafundo Also, it is my understanding that the API will also have all the data available, not just what is limited to the Explorer view. cc @jeremiak

[2017-04-06 20:05] RyanSibley commented on #625
Maybe add content in the downloads section, per Amber.

[2017-04-06 20:07] RyanSibley commented on #670
Reviewing actual content for relevance

[2017-04-06 20:25] amberwreed opened #682 "Sprint 9 Recap deck"
Should include:

Technical research + recommendations
FBI program goals
Agency level designs + recommendations
Research recap:
Prototype design + call outs
(Homepage + city view)
User quotes
Recommendations on how to move forward

[2017-04-06 21:41] #675 closed

[2017-04-06 21:48] #534 closed

[2017-04-07 01:05] LarryBafundo commented on #651
great, I really like the bar charts.

so to recap where we landed after the interviews on Thursday regarding an agency perspective:

- we will only "visualize" high-level trends or counts, using a trend chart when population exists for the agency and the bar chart when it does not. this is because we can't show a trend without rates and we can't derive rates without population.

- we will propose

[2017-04-07 01:07] LarryBafundo commented on #625
@amberwreed we still have to clear this with the FBI. I'm not sure they understand the implications, but yes, it would be preferable for us to make all of the data available via the API - estimated and unestimated.

[2017-04-07 17:09] LarryBafundo commented on #616
@brendansudol have you started this? just checking.

[2017-04-07 17:20] AvivaOskow commented on #651
@LarryBafundo For NIBRS, you are saying always show as tables, at state levels too?

[2017-04-07 17:47] harrisj commented on #651
Just to clarify what "show as table" means for NIBRS, do you mean show monthly or annual counts derived from NIBRS or do you mean show individual NIBRS incidents in some fashion?

[2017-04-07 19:50] jeremiak commented on #616
This is being done in #648, which has been **WIP** for a while because of prototyping taking a higher priority

[2017-04-07 20:09] AvivaOskow opened #684 "Make side nav for explorer view sticky"
Side nav should stick when when it hits the top of the browser window, but needs to be independently scrollable since it will be longer than the height of the browser in many cases.

[2017-04-10 17:33] #620 closed

[2017-04-10 17:33] #639 closed

[2017-04-10 18:45] jeremiak commented on #314
Moving this to Review as https://github.com/18F/crime-data-api/issues/383 can account for the remaining 508 work (if any) on the swagger front end.

[2017-04-10 21:21] #594 closed

[2017-04-11 14:21] RyanSibley commented on #624
Written by Nicole already:

The national and state-level trends include estimates for agencies that submitted less than 12 months of data. The estimation process considers the population size covered by the agency; type of jurisdiction, such as a police department or sheriff’s office; and geographic location.

https://ucr.fbi.gov/crime-in-the-u.s/2015/crime-in-the-u.s.-2015/tables/table-2/table_2_

[2017-04-11 15:27] RyanSibley commented on #624
Creating a new issue for implementing this content throughout the site.

[2017-04-11 15:27] #624 closed

[2017-04-11 15:33] RyanSibley opened #685 "Implement estimations content"
Implement the estimations content in the following places:

- [ ] Add `Based on estimated data` to trend charts

- [ ] Read me

- [ ] Glossary and About the data

"The national and state-level trends include estimates for agencies that submitted less than 12 months of data. The estimation process considers the population size covered by the agency; type of jurisdiction, such as a police department

[2017-04-11 20:30] jeremiak commented on #657
Done in #674

[2017-04-11 20:30] #657 closed

[2017-04-11 20:31] jeremiak commented on #314
The new API introductory text is now available at https://crime-data-api.fr.cloud.gov/ for your review @LarryBafundo

[2017-04-11 20:31] jeremiak commented on #631
Done in #632, which was a quick proposal and can easily be changed in the future.

[2017-04-12 00:10] LarryBafundo commented on #314
looks great @jeremiak. i like your changes. should we tackle the endpoint descriptions next sprint, or do you think they're in pretty good shape?

[2017-04-12 00:12] #660 closed

[2017-04-12 00:14] LarryBafundo commented on #314
also @jeremiak are you in favor of closing this catch-all issue so that we can add smaller tasks as new improvements are prioritized for future sprints? if so, i'll close this out and we can plan out the next round of tasks.

[2017-04-12 00:14] LarryBafundo commented on #634
looks good, closing

[2017-04-12 00:14] #634 closed

[2017-04-12 00:15] LarryBafundo commented on #178
@RyanSibley okay to close?

[2017-04-12 00:18] #575 closed

[2017-04-12 00:21] LarryBafundo commented on #652
as far as the scope of this particular task, this seems about done. although we should review what we learned on Tuesday and Thursday to determine if we have the major pieces in place for the agency perspective.

for example, do people care to know whether or not an agency is classified as urban, suburban, rural and if so, do we have a reliable methodology for determining this?

@RyanSibley, can w

[2017-04-12 00:23] LarryBafundo commented on #645
@jeremiak we have sprint planning coming up and ATO documentation to deal with, but any chance we could tackle this before the end of the sprint?

[2017-04-12 00:24] LarryBafundo commented on #506
@RyanSibley suggest we schedule some time to talk through how this task is affected by what we heard during today's testing.

[2017-04-12 00:24] LarryBafundo commented on #682
this is in progress at https://docs.google.com/presentation/d/1qW-Bun4E-n8lUAXgeQL89UIPWiWXjpYIyOj-WPrbFFE/edit#slide=id.g1dac2f0771_0_13

[2017-04-12 00:30] #438 closed

[2017-04-12 00:35] LarryBafundo commented on #164
also listing here a suggestion that @RyanSibley made earlier: that the feedback tool should ask what people do with the data made available by the CDE (or ask how they apply it).

[2017-04-12 12:51] jeremiak commented on #645
Yup, I'm going to use the release today to make sure this all works.

[2017-04-12 14:18] RyanSibley commented on #164
How about instead of: "How do you plan to use the information you found here?"
 We say:

[2017-04-12 21:03] RyanSibley opened #687 "Add definition for "reported" and "cleared" or "clearance" in the glossary"
- Reported offenses include all offenses reported to and known of by law enforcement.

- Offenses are cleared when an arrest is made or when an arrest would be possible but circumstances create an exception preventing law enforcement from making an arrest.

Other definitions/information to consider including:
Unfounded offenses are offenses determined to be false or baseless.
Actual offenses are t

[2017-04-13 16:20] #631 closed

[2017-04-13 16:23] #339 closed

[2017-04-13 16:24] brendansudol commented on #238
is this still relevant / in scope? @LarryBafundo

[2017-04-13 18:01] jeremiak opened #692 "Move trend chart Y axis label above chart"
Currently, the trend chart Y axis label (Crime rate per 100,000 people) is below the trend chart which makes it sort of look like the X axis label. As a result, when users in testing have verbalized what they are seeing, they talk about absolute numbers (since that's what an unlabled Y axis looks like) instead of rates.

I suggest we move the Y axis label to the top of the chart so that it is more

[2017-04-13 18:30] jeremiak opened #693 "New routing for the explorer view"
Update the explorer URL structure to accommodate an agency level view and other various levels of geographical granularity.

The plan is to map the following changes:
- `crime` will be moved from a URL parameter to query string parameter
- `/explorer` without any place will replace the current `explorer/united-states`
- `/explorer/state/:state_abbr` will replace `/explorer/california` (for example

[2017-04-13 21:28] nicoleslaw commented on #506
We talked through this, and decided to close it out since this information is in the `About the data` section for homicide and larceny theft.

[2017-04-13 21:28] #506 closed

[2017-04-14 00:11] #682 closed

[2017-04-14 15:25] RyanSibley commented on #685
https://docs.google.com/document/d/1Lq1pTh0d5mthbTepCNW2owJ5O4OTpDDljjh16uKE81c/edit cc @amberwreed

[2017-04-14 19:39] LarryBafundo commented on #238
yes @brendansudol we'll tackle it eventually. its a secondary page for the various datasets that we'll make available, like the LEOKA dataset.

[2017-04-14 19:51] #314 closed

[2017-04-14 19:52] LarryBafundo commented on #314
closing this issue so we can track individual pieces of work. next up is #350

[2017-04-14 19:53] #667 closed

[2017-04-14 19:53] #653 closed

[2017-04-14 19:53] #669 closed

[2017-04-14 19:53] #651 closed

[2017-04-14 19:55] LarryBafundo commented on #616
@AvivaOskow this is ready for your review. Please close this out when ready, or move it back to in progress if fixes are necessary

[2017-04-14 19:56] #652 closed

[2017-04-14 19:59] LarryBafundo commented on #645
@jeremiak can i close this out?

[2017-04-14 20:02] LarryBafundo commented on #641
@RyanSibley we have the descriptions for these various data sets already written and approved by CJIS, right? so this should be a quick fix - it's just a matter of adding those descriptions to the glossary and linking the dataset names to those descriptions.

[2017-04-14 20:03] #670 closed

[2017-04-14 20:05] LarryBafundo commented on #684
@AvivaOskow just a reminder to only use the "design" tag if no design is needed to complete the task. otherwise, if its a design fix - mark as a bug if it wasn't implemented according to spec, or tag it as an "enhancement."

[2017-04-14 20:13] LarryBafundo commented on #655
@amberwreed and I are going to meet on Monday afternoon to plan out the details and eventually share with CJIS

[2017-04-14 20:34] #606 closed

[2017-04-14 20:34] #607 closed

[2017-04-14 20:39] LarryBafundo commented on #656
our implementation will depend on the results of our exploration/prototyping in sprint 10.

[2017-04-14 20:40] LarryBafundo commented on #351
i removed the "blocked label"  since we now plan to map to cloud.gov. will also move this to "ready." who wants to take this on?

[2017-04-14 20:41] LarryBafundo commented on #401
I updated the title of this issue to reflect the move to cloud.gov

[2017-04-17 15:20] AvivaOskow commented on #684
@LarryBafundo
@brendansudol and I discussed this one at the end of last week. There was some new code that they thought this would work for, but when they tried it out it was still buggy, so they decided to hold on implementing for now. Should we keep this in backlog, or just move to the bottom of Content/Design?

[2017-04-17 16:56] AvivaOskow commented on #616
@amberwreed @brendansudol should we be able to switch from % to counts for sex of offender too?

Other than that I am good with this for now.

[2017-04-17 19:52] LarryBafundo commented on #684
@AvivaOskow yes, let's keep this in the product backlog and we will see how it stacks up with future priorities.

[2017-04-17 21:29] jeremiak commented on #693
@brendansudol and I paired on this today (you can see our progress in the [`jk-bjs-new-routes` branch](https://github.com/18f/crime-data-frontend/tree/jk-bjs-new-routes)) and reached a point where we're having to refactor the part of the app that changes the URL bar. We have a few approaches we wanted to try out so the plan is to work independently for the rest of the day/morning and then come bac

[2017-04-17 21:54] LarryBafundo commented on #616
seems minor, but is there a reason why you wouldn't be able to toggle between %s and counts for the victim/offender data? if not, my first inclination would be to add that and then we close this out.

[2017-04-18 03:36] LarryBafundo commented on #658
@jeremiak let me know if you want me to look at anything, or if you need anything from mark & ed to complete this.

[2017-04-18 03:40] LarryBafundo commented on #655
Amber and I met today to plot out an initial strategy for the workshop and an approach for building confidence in the CDE. We're starting to compile our ideas here: 1) draft workshop agenda: https://docs.google.com/document/d/1CxUWUNaTyQZZvuVz7lhGCSt-mVCgdAe3Tt9FQZ6pC3g/edit and 2) pre-launch timeline: https://docs.google.com/document/d/1Car-McF5CZJDjDUQVQDJFP_3-Kp2SONapYaWcLUQF0I/edit

Next steps

[2017-04-19 21:11] #616 closed

[2017-04-20 16:37] jeremiak commented on #658
Thanks @LarryBafundo, I just sent over the PUG document to Mark and cc'd you. I don't have a template for a "general users guide" and given that there is no authentication for general users I'm not sure what we should put there. Any ideas?

[2017-04-20 16:42] jeremiak commented on #693
The foundation for this has been laid in https://github.com/18F/crime-data-frontend/pull/703 though, we haven't yet added the agency routing. Once 703 is merged, however, this issue should be considered done since it gets us 90% of the way there. We can open a very small and explicit card for adding an agency URL when we get there.

[2017-04-20 17:50] LarryBafundo commented on #658
I'll ask Mark & Ed about that.

[2017-04-20 21:20] RyanSibley opened #704 "Remove sentence: "data sources may differ" from NIBRS-only states"

[2017-04-21 15:10] jeremiak commented on #164
This is the interaction so far:
![first-stab-at-feedback-tool](https://cloud.githubusercontent.com/assets/780941/25283748/c7ad3e74-2682-11e7-9e4f-6359dfb27ce9.gif)

Things still left to do before we can close this:
- [ ] Accessibility
- [ ] Better formatting of success and error messages
- [ ] Better styling (close button, fonts, etc)
- [ ] Applying a label to issues opened this way
- [ ] Setting

[2017-04-24 18:36] #693 closed

[2017-04-24 21:18] jeremiak commented on #562
If possible, can the favicon look good at 64x64 as well? I think it would be best to have a profile picture for our feedback bot:
![picture of @cde-feedback-bot on github](https://d3vv6lp55qjaqc.cloudfront.net/items/2V2b0r3A2E2y3z33330Y/Screen%20Shot%202017-04-24%20at%205.18.20%20PM.png?X-CloudApp-Visitor-Id=586613&v=3b0d50df)

[2017-04-24 23:49] #645 closed

[2017-04-24 23:53] LarryBafundo commented on #655
Larry/Amber to discuss next steps on Wed. Immediate topics to consider - 1) are we subject to OMB restrictions/guidelines? 2) assuming that we need to start testing with CJIS, what guidelines do we want to pass along to Lori and team so they can facilitate?

[2017-04-24 23:57] #454 closed

[2017-04-24 23:59] LarryBafundo commented on #253
closing this as we now capture it in other task

[2017-04-24 23:59] #253 closed

[2017-04-25 19:37] #658 closed

[2017-04-25 19:41] #495 closed

[2017-04-26 16:26] RyanSibley commented on #685
I talked to Jeremia yesterday and he will help me implement what's been written over the next week or so.

[2017-04-26 16:35] jeremiak opened #714 "Show both "rape_revised" and "rape_legacy" crime trends in the explorer"

[2017-04-26 16:42] RyanSibley commented on #210
https://docs.google.com/document/d/17TswmM6gvO6NPXkNULO094R_LcJqyQPUgWexHYAHY3k/edit

[2017-04-26 16:53] jeremiak opened #715 "Show About the Data "related links" on mobile"

[2017-04-26 16:56] jeremiak opened #716 "Augment downloaded .zip (from trend chart & NIBRS details) readme"
Include the "About the data" content in each README that is included in `.zip` files downloaded from the explorer view.

[2017-04-26 18:30] #687 closed

[2017-04-26 18:39] RyanSibley commented on #467
Talk to jeremia

[2017-04-27 19:57] #659 closed

[2017-04-27 21:17] LarryBafundo commented on #714
@harrisj can you please explain how this issue not only affects presentation but how we calculate totals for the different definitions over time? i think we still need to decide on a solution before can move to implementation.

[2017-04-28 05:21] #692 closed

[2017-04-28 13:58] harrisj commented on #714
So, there are two different types of visualization we might need to handle.

First, for state and national estimated data, the FBI provides both a `rape_legacy` counts that extend back to the beginning of the provided data. But they also provide `rape_revised` counts from 2013 onwards. These seem to be independent assessments in that the estimates for the revised rape definition do not subtract fr

[2017-04-28 16:53] #655 closed

[2017-04-28 20:53] #467 closed

[2017-04-28 20:53] #715 closed

[2017-04-28 20:56] jeremiak commented on #467
@RyanSibley Please note that since #720 was merged, you can enable a glossary link in the About the Data content you can do so by making some text a link directed at `#glossary?term=` followed by the term ID. The term ID should be "kebab case", meaning it should be lowercase and spaces should be replaced with hyphens.

For example, in the violent crime content, if we wanted to trigger the glossary

[2017-04-28 20:57] jeremiak opened #723 "Glossary links in About the Data should have the glossary icon"

[2017-04-28 20:59] jeremiak opened #724 "App should handle API errors gracefully"
Currently, if the API returns a 401, 403, 404 or 500 error the app doesn't handle it gracefully. We should probably do the following when we encounter one of these errors:

* Communicate enough with the user to be helpful but not overly technical
* Track it somehow (NewRelic or Google Analytics)
* Perhaps try again on an increasing timeout?

[2017-04-28 21:01] #164 closed

[2017-04-28 21:53] jeremiak opened #725 "Properly handle Shift + Tab for <BetaModal /> and <Feedback />"
Per the [W3C aria practice guidelines](https://www.w3.org/TR/wai-aria-practices-1.1/#dialog_modal) `Shift + Tab` should:

* Moves focus to the previous focusable element inside the dialog.
* If focus is on the first element, moves focus to the last focusable element inside the dialog.

So we need to trap the focus going in both directions.

[2017-05-01 20:39] RyanSibley commented on #600
Is this still something we need to do? @LarryBafundo

[2017-05-01 20:54] RyanSibley commented on #641
i'll add this to the list of things Jeremia and I do on Thursday

[2017-05-01 22:12] LarryBafundo commented on #600
Yes, we should still count on providing access to participation data at the state and national levels, although we may need to reconsider how its presented in the explorer view since data at those levels will be based on estimates. but talking about participation is one way that we bring transparency to the UCR program and we should plan on having a glossary term for it.

[2017-05-02 14:55] RyanSibley commented on #600
10-4

[2017-05-02 17:37] LarryBafundo commented on #656
this is currently being designed and will likely be slated for sprint 12 pending the results of testing.

[2017-05-05 18:24] #725 closed

[2017-05-05 20:24] harrisj opened #732 "P1 - NIBRS data is not scoped to the year range"
So, I started looking into the data for rapes in Hoover, AL because they seemed too high, and the issue is a bit more complicated.

To recap, only a single agency has reported NIBRS data in Alabama in the past 10 years and it's the Birmingham suburb of Hoover, AL. See the NIBRS data here on https://crime-data-explorer.fr.cloud.gov/explorer/state/alabama/rape

There are a few issues:
1. The number

[2017-05-05 20:47] jeremiak commented on #732
Ah, interesting. I think we fixed the first point in #731 and so now we're only using the time range selected to calculate the summed totals.

Agreed on a better solution for 2 as well, though I don't have any ideas at the moment

[2017-05-05 23:47] jeremiak opened #737 "Explorer view intro paragraph has "NaN" instead of numerical values"
![Screenshot of 'NaN' in the explorer view intro paragraphs](https://d3vv6lp55qjaqc.cloudfront.net/items/1L0O2w0j0H0f111z2i3N/Screen%20Shot%202017-05-05%20at%204.45.41%20PM.png)

[2017-05-06 00:03] harrisj commented on #737
This is due to https://github.com/18F/crime-data-api/pull/475

[2017-05-08 14:21] #716 closed

[2017-05-08 14:21] #737 closed

[2017-05-08 18:00] brendansudol commented on #723
what's an example page with this @jeremiak?

[2017-05-09 17:59] jeremiak commented on #641
@RyanSibley where can I find these terms to add to the glossary component?

[2017-05-09 18:21] jeremiak commented on #401
We have two deployed API instances but we only have one api.data.gov proxy. So either `master` or `demo`/the tagged release instances will hit the proxied API. I would suggest changing the api.data.gov to proxy to crime-data-api-demo so that our "production"/released version of the app/api get all the benefits of analytics and a caching layer.

If we use api.data.gov in front of the `master` versi

[2017-05-09 18:27] LarryBafundo commented on #641
@jeremiak i think this is it, but check with @RyanSibley: https://docs.google.com/document/d/1aM0bfSQjukh7npeUnh6AKB7grYQEwkYG4oqZggk9vRk/edit

[2017-05-09 18:37] LarryBafundo commented on #714
@harrisj, @amberwreed are we clear on how we want the backend implementation to handle this now? if so, @harrisj we're clear to implement and close this out.

[2017-05-09 18:41] LarryBafundo commented on #589
@jeremiak looks like this is no longer an issue - or am i missing something?

<img width="216" alt="screen shot 2017-05-09 at 11 46 10 am" src="https://cloud.githubusercontent.com/assets/15899668/25866771/66c9cf04-34ac-11e7-968a-16fa3509e580.png">

[2017-05-09 18:45] jeremiak commented on #589
Cool, looks fixed to me @LarryBafundo

[2017-05-09 18:45] #589 closed

[2017-05-09 18:54] jeremiak commented on #723
In the "About the Data" section on [national violent crime](https://crime-data-explorer.fr.cloud.gov/explorer/violent-crime), there are links that trigger the glossary component but they lack the visual distinction that they do so. This is because they are not `<Term />` components but instead are regular links that get intercepted by `<AboutTheData />` and dispatched.

[2017-05-09 19:48] harrisj commented on #714
After I did a little digging, I couldn't find any cases where an agency reported some rapes under the legacy defintion and some under the new one in a given year. Instead, they seem to cut over at the start of the year. So there is no need to support this breakdown at the agency level, especially since it's not a case where both figures exists side-by-side like they do for the estimated data. We c

[2017-05-09 20:13] amberwreed commented on #714
Great. Our agency designs assume that agencies make a clean break. The rebo sentence in the bar chart heading should change based on the definition the agency follow for that year.

[2017-05-09 20:14] RyanSibley commented on #704
Change to the sentence to,

"The charts below are generated using (unestimated)[glossary link] data"

cc @jeremiak

[2017-05-09 20:22] RyanSibley commented on #600
There's disagreement among the team about how much information should be included here. Amber wants it to stop after "...submit data for a full year," while Jacob advocates for the additional context. Shorter tends to win usually, but this is an important issue so maybe we should test or ask the FBI.

"Law enforcement agencies participate in the UCR program by submitting data directly to the FBI o

[2017-05-09 20:27] RyanSibley commented on #685
https://docs.google.com/spreadsheets/d/1C7a8M_jz2GZZcSWlVW5sZDnISUw9FHIpU_HqkWqfKVw/edit#gid=0

[2017-05-09 20:41] RyanSibley commented on #641
Yes! That's it^^

[2017-05-09 20:59] LarryBafundo commented on #401
@jeremiak sounds good to me

[2017-05-09 21:43] LarryBafundo commented on #656
@AvivaOskow once we're ready please link to the annotated designs here so we can implement the interface.

[2017-05-10 04:50] #685 closed

[2017-05-10 05:00] jeremiak commented on #401
@harrisj If we wanted to go down this route and have the tagged release branch behind the API proxy, would it be as simple as changing the the "Server" in the "Backend" settings on api.data.gov?

[2017-05-10 14:59] RyanSibley opened #747 "Revert trend chart copy to remove percentages and to include decimals"
In testing and in talks with the FBI statistician we found that:
- percentages don't mean anything to people and

- rounded estimates are easily confused for counts.

among a few other reasons for having the sentence structured the way it is in the screen shot below. Feel free to ping me if you have questions.

Also, for other estimated copy, including edits made to parts of the trend charts, see

[2017-05-10 15:03] amberwreed commented on #747
Thanks @RyanSibley! @brendansudol Let's discuss but I see this as a high priority fix.

[2017-05-10 16:36] LarryBafundo commented on #714
in terms of the front-end implementation, this means that we will show 4 lines for states and the nation and just the two lines for agencies.

[2017-05-10 16:44] LarryBafundo commented on #656
For now, let's just focus on allowing users to filter by agency type. We'll continue to explore whether or not we can also filter by population group and add that later if appropriate.

cc: @amberwreed, @harrisj

[2017-05-10 17:05] RyanSibley commented on #600
New copy:

"Law enforcement agencies participate in the UCR program by submitting data directly to the FBI or a state-level UCR contact. The participation rate is based on the number of state or local agencies that submit data for a full year."

[2017-05-10 17:31] harrisj commented on #351
So, I removed the required role for this, so anybody with an API key on api.data.gov can use the API now

[2017-05-10 17:44] jeremiak opened #751 "Feedback tool should apply a label to all issues opened through it"
The feedback tool should apply the "feedback" label in the 18f/crime-data-explorer repo so that it is easy to find user submitted feedback in one place.

[2017-05-10 17:46] harrisj opened #752 "Permanent home for swagger.json and swagger-ui?"
I was wondering where we should put the swagger.json and swagger-ui now that we are using a relative directory for the API. I'm not sure yet if we could put the swagger.json as https://api.usa.gov/crime/fbi/ucr/swagger.json (or if we'd want to). Do we want to instead have these files at some address under the CDE URL hierarchy?

[2017-05-10 19:46] RyanSibley opened #753 "Rewrite trend chart copy for states/national level"
Related to https://github.com/18F/crime-data-frontend/issues/747

After the text is reverted, I'll still need to rewrite the copy to make it read better.
![screen shot 2017-04-24 at 10 16 11 pm](https://cloud.githubusercontent.com/assets/1151139/25917955/c15f7b94-3597-11e7-8dc0-34bad05fde49.png)

[2017-05-10 19:57] RyanSibley commented on #753
Maybe:
`In 2014, Tennessee's burglary rate was [559.3] incidents per 100,000 people. The rate for that year was higher than that of the United States.`

The source text should be:
`Source: FBI, estimated data for [Illinois], [2004–2014].`

[2017-05-10 21:34] jeremiak commented on #751
I believe the problem is that the bot user does not have "push" access. Per [the docs](https://developer.github.com/v3/issues/#create-an-issue):

I think we can give the bot user push access to the 18f/crime-data-explorer repo as it has no code and no deployment permissions, though it is currently using my personal @gsa.gov email address and does not have 2 factor authentication set up.

Options:

[2017-05-10 21:49] LarryBafundo commented on #751
it seems that option #1 is the easiest?

[2017-05-11 14:25] RyanSibley commented on #641
@jeremiak can I help you with this one?

[2017-05-11 18:57] RyanSibley commented on #753
cc @amberwreed cc @brendansudol new chart copy above

[2017-05-11 19:04] RyanSibley commented on #747
See issue #753

[2017-05-11 19:04] #747 closed

[2017-05-11 20:00] jeremiak opened #760 "Text on the arson page should reflect that arson data is not estimated"
Refs https://github.com/18F/crime-data-explorer/issues/24

[2017-05-11 20:32] #600 closed

[2017-05-12 03:55] amberwreed commented on #281
@brendansudol @jeremiak  Seems like this be closed in favor of #763 which is being worked on. Can you please point out what I should be looking at here?

[2017-05-12 04:04] amberwreed commented on #656
@LarryBafundo This seems like a duplicate to #89 that has @AvivaOskow most up to date design refinements. Should we close?

[2017-05-12 04:09] LarryBafundo commented on #656
@amberwreed this was for the implementation of the search interface, although we can reference the design in https://waffle.io/18F/crime-data-explorer/cards/591235611c7bb0009c2bae8c

[2017-05-12 22:51] LarryBafundo commented on #656
@brendansudol let me know if we need to create a new issue for either creating a new endpoint, or changing an existing endpoint, in order to facilitate the implementation of our search interface. want to make sure that we're all aligned on what's needed in order to build out the rest of the page.

[2017-05-12 22:53] LarryBafundo commented on #401
hey @harrisj @jeremiak what did we decide here?

[2017-05-15 22:21] #350 closed

[2017-05-16 16:19] jeremiak commented on #704
@RyanSibley can you be more explicit about what copy to change? Feel free to include a screenshot if you think it would help.

[2017-05-17 00:33] amberwreed commented on #281
@brendansudol Looks good. Thank  you.

[2017-05-17 00:33] #281 closed

[2017-05-17 15:11] RyanSibley commented on #704
I'm sorry about that. My bad. It turns out that we also need to strike another sentence on the page -- I'm worried it's placement will confuse people. So I'm including two screen shots here.
For the first, please replace the sentence in brackets with: `The charts below feature (unestimated)[glossary link] data`
![screen shot 2017-05-17 at 10 24 52 am](https://cloud.githubusercontent.com/assets/115

[2017-05-17 21:56] amberwreed commented on #753
@brendansudol this is ready for implementation.

[2017-05-17 22:00] RyanSibley commented on #704
Also @jeremiak we edited the text for the tables on NIBRS states to the following.

There were [19] incidents of [rape] reported between [2004 and 2014] by agencies reporting incident-based (NIBRS) data. Learn more about the FBI’s data collections.`

Link to the google doc with the text:

https://docs.google.com/document/d/1Lq1pTh0d5mthbTepCNW2owJ5O4OTpDDljjh16uKE81c/edit#heading=h.919pigp7dsd5

[2017-05-19 20:17] RyanSibley commented on #760
see #70

[2017-05-22 13:41] RyanSibley commented on #760
https://docs.google.com/document/d/1qHSGRc-7MINeK7cg731maLmk_BsKjdf16Z78UB17f9k/edit

[2017-05-22 14:44] harrisj commented on #401
I think @jeremiak is having the main explorer deployed from Master call the API directly and the `demo` one is using the api.us.gov frontend

[2017-05-22 14:45] harrisj commented on #714
Well for the agencies, we have bars on a chart instead. But yes, we can just indicate the year they switched over to the new definition as a legend or mark

[2017-05-22 18:55] LarryBafundo commented on #351
@jeremiak not sure if the changes you showed earlier have been merged yet, but we need to update this section of the documentation so that folks understand how to get an API key:

"Get an API key here (currently there's no link available). That will enable you to place up to XX requests per minute. Each call is limited to YY results per page. You can email questions or comments to EE. You can ask

[2017-05-22 19:08] LarryBafundo commented on #401
@jeremiak should this move to in progress then?

[2017-05-22 19:09] LarryBafundo commented on #751
@jeremiak on second thought, this doesn't seem to be a high-priority fix in the short-term. reprioritizing to the backlog for future consideration.

[2017-05-22 19:09] jeremiak commented on #401
Nope, haven't started on this yet @LarryBafundo

[2017-05-23 01:23] LarryBafundo commented on #714
@AvivaOskow can we please post screenshots here of how rape data should be presented via the trend and bar charts?

[2017-05-23 01:30] LarryBafundo commented on #625
closing this as we have this covered in the about page and in the API overview.

[2017-05-23 01:31] #625 closed

[2017-05-23 04:52] jeremiak commented on #753
Moving this to design review as this is deployed to `master`:

<img width="1227" alt="screen shot 2017-05-23 at 12 32 22 am" src="https://cloud.githubusercontent.com/assets/780941/26338592/527a5b4c-3f4f-11e7-91b1-fbd67c4a82a7.png">

[2017-05-23 05:36] jeremiak commented on #752
Closing this since we're going to be hosting the swagger UI from the front end application (#766) but fetching the `swagger.json` from the API application.

[2017-05-23 05:36] #752 closed

[2017-05-23 05:52] jeremiak opened #774 "Rename "summary" and "trend" components to "return a""
A proposal for you @brendansudol: Right now we have actions and a reducer for "summary" data, and we use that data for "trend" containers and charts and sometimes "agency" containers and bar charts. I believe that the thing that links all these things together is the [Return A](https://ucr.fbi.gov/nibrs/addendum-for-submitting-cargo-theft-data/return_a) form that agencies use to submit the data in

[2017-05-23 16:13] RyanSibley commented on #630
#775

[2017-05-23 16:13] RyanSibley commented on #641
#775

[2017-05-23 17:49] #753 closed

[2017-05-23 19:15] #704 closed

[2017-05-23 23:17] amberwreed commented on #593
@LarryBafundo I propose that we include a csv file in the download zip package that includes links to the readme, data dictionary, and UCR program. This way, we should be able to make updates without having to regenerate the files. @jeremiak It would be great if these files could be either pages on the app or on github. Thoughts?

[2017-05-23 23:41] amberwreed commented on #714
<img width="430" alt="screen shot 2017-05-23 at 10 03 08 am" src="https://cloud.githubusercontent.com/assets/13576520/26380986/aafeea9e-3fd6-11e7-8b2a-a2a6a25141dd.png">

[2017-05-23 23:43] amberwreed commented on #714
National trend chart (rape):
In [2014], [Tennessee] reported rape incidents using both the revised and legacy definitions, reporting [559.3] and [##} incidents per 100,000 people respectively.

State trend chart (rape):
In [2014], [Tennessee] reported rape incidents using both the revised and legacy definitions, reporting [559.3] and [##} incidents per 100,000 people respectively.

See @RyanSibley

[2017-05-24 11:36] #641 closed

[2017-05-24 11:36] #630 closed

[2017-05-24 15:27] RyanSibley commented on #760
see #150

[2017-05-24 17:45] AvivaOskow commented on #714
For agency level:

<img width="529" alt="screen shot 2017-05-24 at 12 42 43 pm" src="https://cloud.githubusercontent.com/assets/21244661/26417458/df87367e-407e-11e7-804e-ff7d8c2c3df9.png">

[2017-05-24 17:57] amberwreed commented on #656
@brendansudol Basic search looks good. There are usability fixes but lets discuss and I'll create new issues as necessary.

[2017-05-24 17:57] #656 closed

[2017-05-24 18:02] jeremiak opened #784 "Map covers glossary when opened"
From @AvivaOskow:

In most recent deployment of explorer view, when glossary is opened, the map stays in front and covers it, instead of going behind.

![](https://cloud.githubusercontent.com/assets/21244661/26418253/1e1eb81a-4081-11e7-8418-56b52e93c57f.png)

[2017-05-24 18:27] jeremiak opened #785 "Try upgrading autopilot deployment plugin"
Builds/deploys fail because the `autopilot` plugin doesn't clean up the `*-venerable` apps (like this one: https://circleci.com/gh/18F/crime-data-frontend/1372).

Based on the advice I got in #cg-support (Slack channel) I think we should try upgrading the plugin like the OMB eRegs project did (https://github.com/18F/omb-eregs/commit/db794f290a3b6411260247eaffd3059a12313fd1).

[2017-05-24 19:00] LarryBafundo commented on #714
thanks @AvivaOskow

[2017-05-24 19:09] LarryBafundo commented on #612
@cacraig what i think @jeremiak is saying here is that on the agency segment CSV we only need to show a single row for each ORI, not one for every ORI/incident, since these elements can be joined by a pivot table.

see example below. can we just keep the yellow row and not the orange ones?

https://docs.google.com/spreadsheets/d/1uN-gUVzH2EOB_6gwYlsz9Hpy01-tSXTKeBeyjlbSaO8/edit#gid=2000297688

[2017-05-24 19:45] RyanSibley opened #787 "test"

[2017-05-24 19:47] #787 closed

[2017-05-24 19:47] LarryBafundo commented on #637
FYI this is something we may not tackle, as adding the download preview page is not on the short-term roadmap.

[2017-05-25 20:57] brendansudol commented on #751
1 is fine

[2017-05-25 21:55] #784 closed

[2017-05-30 17:26] #330 closed

[2017-05-30 19:12] harrisj commented on #612
Can we just pull from the cde_agencies table for this download?

[2017-05-30 21:31] AvivaOskow opened #799 "P0 - App display breaks on Ipad: Safari and Chrome"
See photos below

[2017-05-30 21:33] AvivaOskow commented on #799
![img_0140](https://cloud.githubusercontent.com/assets/21244661/26605933/edb84920-455d-11e7-9c48-1e9481ada376.jpg)

![img_0141](https://cloud.githubusercontent.com/assets/21244661/26605951/fbde25e2-455d-11e7-9536-3f14281ab939.jpg)

![img_0143](https://cloud.githubusercontent.com/assets/21244661/26605972/0b7eda28-455e-11e7-9f3d-5a485cbb8b5f.jpg)

![img_0139](https://cloud.githubusercontent.com/asse

[2017-06-01 18:43] jeremiak opened #806 "Handle the fact that Nebraska ORIs start with "NB""
Currently, ORIs such as `NB0550100` will crash the application because the state prefix does not match the postal abbreviation.

The two entities where ORIs are not prefixed by the respective postal abbreviation are:

state | postal abbreviation | ori prefix
--- | --- | ---
Nebraska | NE | NB
Guam | GU | GM

[2017-06-01 20:32] LarryBafundo commented on #210
hey @RyanSibley, during the core team call today we learned that there is definitely a process for "vetting" communications about the CDE. Let's get a better sense of what that process looks like (who are the relevant actors, what is the expected timeline, what does "vetting" mean) and understand how much of this affects 18F-based communications, versus what goes through official FBI communication

[2017-06-01 20:49] LarryBafundo commented on #806
@jeremiak is this a change that you are requesting from the API ?

[2017-06-01 20:57] jeremiak commented on #806
@LarryBafundo No, this will be closed with a front end change.

[2017-06-01 21:41] jeremiak opened #807 "Do not show NIBRS incidents tables for agencies that do not submit NIBRS data"
We should not show NIBRS related elements if the agency does not submit NIBRS data to the UCR program. I think we can do this using the `nibrs_months_reported` key and checking for `12`.

[2017-06-01 21:45] jeremiak opened #808 "Make "incidents" singular when appropriate in agency chart text"

[2017-06-01 21:46] jeremiak opened #809 "Close agency search results when state menu is opened"

[2017-06-01 22:05] amberwreed opened #810 "Search bar typography"
Please make the type inside the search bar smaller than the state type. It should be blue and regular type when it says "Search for an agency". When an agency is selected it should be bold and also blue. Remove the ... after "Search for an agency...". When an agency name is longer than the box, instead of running the name under the "X" please use the ... to truncate the name.

[2017-06-01 22:07] amberwreed opened #811 "Add "county" in location"
Currently the overview text reads "Little Rock City is located in Pulaski, Arkansas." Please change it to say "Little Rock law enforcement agency is located in Pulaski County Arkansas."

[2017-06-01 22:09] jeremiak opened #812 "Hide the visualization elements if we have no data to show"
Hide the text, legend and trend/bar chart if there is 0 or null values for all years and show the message "There is no data to display for the selected years"

[2017-06-01 22:22] LarryBafundo commented on #812
hey @jeremiak is this the same as this issue? https://github.com/18F/crime-data-explorer/issues/162 if so we can close out one.

[2017-06-01 22:26] jeremiak commented on #812
@LarryBafundo These are different issues. This refers to the agency bar chart and not the NIBRS tables.

[2017-06-01 22:26] AvivaOskow opened #813 "Agency search: remove grey box around drop-down caret"

[2017-06-01 22:26] AvivaOskow commented on #813
<img width="238" alt="screen shot 2017-06-01 at 6 25 35 pm" src="https://cloud.githubusercontent.com/assets/21244661/26703476/e1c399da-46f7-11e7-88cc-09cccf06a7f3.png">

[2017-06-01 22:28] AvivaOskow opened #814 "Agency search: long names should cut off with an ellipsis"

[2017-06-01 22:29] AvivaOskow commented on #814
<img width="262" alt="screen shot 2017-06-01 at 6 28 48 pm" src="https://cloud.githubusercontent.com/assets/21244661/26703539/2d47113e-46f8-11e7-971e-8fa82d1150bb.png">

[2017-06-01 22:31] AvivaOskow opened #815 "Agency page: spark lines get cut off in smaller browser"

[2017-06-01 22:31] AvivaOskow commented on #815
<img width="633" alt="screen shot 2017-06-01 at 6 30 41 pm" src="https://cloud.githubusercontent.com/assets/21244661/26703626/928e4bfc-46f8-11e7-8b63-4a7e706ae2ff.png">

[2017-06-01 22:33] AvivaOskow opened #816 "Agency page: make location a pin instead of red dot on state maps"

[2017-06-01 22:34] AvivaOskow commented on #816
Current:
<img width="235" alt="screen shot 2017-06-01 at 6 32 35 pm" src="https://cloud.githubusercontent.com/assets/21244661/26703687/e2ad577c-46f8-11e7-9881-0b7c1fbf0d6a.png">

From file:
<img width="287" alt="screen shot 2017-06-01 at 6 34 19 pm" src="https://cloud.githubusercontent.com/assets/21244661/26703699/f9c4f91a-46f8-11e7-91b4-292abff740b0.png">

[2017-06-01 22:36] AvivaOskow opened #817 "Agency bar chart: bars should sit right above or behind x axis line, instead of in front"

[2017-06-01 22:37] AvivaOskow commented on #817
Current:
<img width="714" alt="screen shot 2017-06-01 at 6 35 31 pm" src="https://cloud.githubusercontent.com/assets/21244661/26703746/3a207d04-46f9-11e7-81f8-aa92c7fd3d97.png">

From sketch:
<img width="644" alt="screen shot 2017-06-01 at 6 36 42 pm" src="https://cloud.githubusercontent.com/assets/21244661/26703763/50350024-46f9-11e7-965f-26f06afd779f.png">

[2017-06-01 22:37] AvivaOskow opened #818 "Agency bar chart: Add "no-data" symbol for years with no reporting"

[2017-06-01 22:38] AvivaOskow commented on #818
<img width="661" alt="screen shot 2017-06-01 at 6 38 16 pm" src="https://cloud.githubusercontent.com/assets/21244661/26703808/838df05c-46f9-11e7-93f3-43b1c385d429.png">

[2017-06-01 23:04] amberwreed opened #821 "Race and Ethnicity of Victim/Offender should be alphabetical"

[2017-06-01 23:06] amberwreed opened #822 "Make county name in search list darker"
In order to make the county name in the drop down 508 compliant, please use #95AABC as the blue.

[2017-06-01 23:08] amberwreed opened #823 "Set a minimum # of 4 for bar charts"
Since bar charts are divide into 4 sections, if an agency reports 1 of something, it displays .3 and .75 as divider lines. The goal is to never say that there could be .3 rapes reported. Another option is to limit the bar chart line numbers to whole numbers.

[2017-06-01 23:20] amberwreed opened #824 "Fix agency resource links"
Should be:
About [crime type] data
[State] UCR Program
FBI UCR Program

[2017-06-02 04:27] amberwreed opened #825 "Mobile audit"
We may want to break this into several issues but I'm starting with one for now.

[2017-06-02 04:27] amberwreed commented on #825
![img_2379](https://cloud.githubusercontent.com/assets/13576520/26710726/1d27e9ae-4711-11e7-9c1c-c45387b381c4.PNG)

- [ ] Population number is cut off

[2017-06-02 04:28] amberwreed commented on #825
![img_2390](https://cloud.githubusercontent.com/assets/13576520/26710747/33d402f0-4711-11e7-813c-3ec467263506.PNG)

- [ ] Years run into each other. Consider not displaying every year. Maybe first, last, and selected?

[2017-06-02 04:29] amberwreed commented on #825
![img_2391](https://cloud.githubusercontent.com/assets/13576520/26710769/57acc950-4711-11e7-87d4-fabb8afcd0d1.PNG)

- [ ] This is not just a mobile issue but we are missing the download participation link from the about page. See designs to see placement.

[2017-06-02 04:30] amberwreed commented on #825
![img_2392](https://cloud.githubusercontent.com/assets/13576520/26710787/76a3f720-4711-11e7-87c5-7c5dcbae2055.PNG)

- [ ] The feedback tool should have margins on mobile

[2017-06-02 04:31] amberwreed commented on #825
![img_2393](https://cloud.githubusercontent.com/assets/13576520/26710805/99bd1b9c-4711-11e7-9165-9c0495926dfb.PNG)

- [ ] The mobile screen isn't always scaling to the size of the phone. In this case an iphone 7.

[2017-06-02 04:32] amberwreed commented on #825
![img_2394](https://cloud.githubusercontent.com/assets/13576520/26710822/befa0b90-4711-11e7-8227-8eb1317e1d0c.PNG)

- [ ] Not just a mobile issue but we should remove the data type in the bulk downloads list view because SRS and NIBRS aren't accurate.

[2017-06-02 04:33] amberwreed commented on #825
![img_2395](https://cloud.githubusercontent.com/assets/13576520/26710864/e47202d8-4711-11e7-9b38-8c952166df2b.PNG)

- [ ] Mobile view slow or impossible to update when I change the menu from Downloads to Explorer

[2017-06-02 04:34] amberwreed commented on #825
![img_2396](https://cloud.githubusercontent.com/assets/13576520/26710886/088bac8c-4712-11e7-8ff6-8e5832d7752d.PNG)

- [ ] Beta modal doesn't disappear when the background explorer is in a loading state

[2017-06-02 04:34] amberwreed commented on #825
cc @AvivaOskow

[2017-06-02 14:08] #806 closed

[2017-06-02 17:19] AvivaOskow commented on #823
I also posed this question in #166

[2017-06-02 17:22] amberwreed opened #827 "Top navigation stops working"
To recreate:
1. open the app
2. click on the explorer menu item at the top
3. click on the about
4. click back to explorer
The top navigation stops responding.

[2017-06-02 17:23] amberwreed opened #828 "Explorer view should default to US and all violent crime in the navigation"
When clicking on the explorer view from the top navigation I should be taken to US All Violent Crime. Currently the location does not update to United States.

[2017-06-02 17:24] amberwreed commented on #828
![screen shot 2017-06-02 at 10 20 06 am](https://cloud.githubusercontent.com/assets/13576520/26737118/a4688920-477d-11e7-8a54-e547014060dc.png)

[2017-06-02 17:36] amberwreed opened #829 "Display of NIBRS details"
When there are no incidents reported for a time period, employ the same alert as is used for the bar chart... change copy to " There were no incidents reported during this time period."

[2017-06-02 18:16] RyanSibley commented on #210
Link to post in progress: https://docs.google.com/document/d/17TswmM6gvO6NPXkNULO094R_LcJqyQPUgWexHYAHY3k/edit

I emailed Lori and Sammy saying:

At the moment, we're working on one post that emphasizes the importance of the Crime Data Explorer through following points:

The Crime Data Explorer is following open data principles to open up UCR data.
Open data principles ensure that the data is acce

[2017-06-02 18:23] amberwreed commented on #823
Let's close any duplicates.

On Fri, Jun 2, 2017 at 10:19 AM, Aviva Oskow <notifications@github.com>
wrote:

--
-------------------------
*Amber Reed*
Visual Design Supervisor
18F

[2017-06-02 18:30] #823 closed

[2017-06-02 18:55] AvivaOskow commented on #812
For reference, maybe we can work of these designs I made from a while ago when we were debating to have an alert when a state doesn't do incident details reporting. ( @amberwreed and I already think we should replace the red alert icon with the blue info one)

<img width="581" alt="screen shot 2017-06-02 at 2 24 55 pm" src="https://cloud.githubusercontent.com/assets/21244661/26740407/6e4ceb1c-47a3

[2017-06-02 19:14] AvivaOskow opened #830 "Agency page: change bar chart headline should be 28"
Should be the same as incident details headline

[2017-06-02 19:22] amberwreed commented on #829
See visualizations in #812

[2017-06-02 19:23] #829 closed

[2017-06-02 19:55] LarryBafundo commented on #812
@AvivaOskow, @jeremiak for testing on Monday, lets just focus on hiding the tables when appropriate. although i agree that messaging like this would be a valuable enhancement going forward. but @AvivaOskow we should create a separate issue for this and it should apply globally to the explorer view (states/agencies)

[2017-06-02 20:07] #811 closed

[2017-06-02 20:08] #808 closed

[2017-06-02 20:08] #809 closed

[2017-06-04 04:18] #814 closed

[2017-06-04 04:18] #810 closed

[2017-06-04 04:20] #760 closed

[2017-06-05 00:25] LarryBafundo commented on #351
@harrisj, @jeremiak does this card still need to be in review? can it be closed?

[2017-06-05 14:31] #807 closed

[2017-06-05 14:31] #830 closed

[2017-06-05 15:11] jeremiak commented on #818
What should the on hover text say for years with the "X" circle? Right now it says "0" because that is what comes back from the API but it doesn't make a lot of sense since the extra indicator is supposed to indicate years for which there is no data.

To be clear, I am showing the indicator if `reported` is 0 _and_ `cleared` is 0. Is that the proper conditional?

<img width="835" alt="screen shot

[2017-06-05 15:59] #816 closed

[2017-06-05 17:47] AvivaOskow opened #837 "State pages, second intro paragraph: need space between "statistics for California based on""
We have a spacing issue in the overview text for all states, where the state name and "based" run together .

[2017-06-05 17:48] AvivaOskow commented on #837
<img width="406" alt="screen shot 2017-06-05 at 1 47 44 pm" src="https://cloud.githubusercontent.com/assets/21244661/26795955/92cd4438-49f5-11e7-8330-2aea34100654.png">

[2017-06-05 18:34] #817 closed

[2017-06-05 18:46] LarryBafundo commented on #818
from Amber: In the short term I would change the 0 to –. In the long term, we should integrate some sort of alert like we have designed for the trend chart that says no data was submitted... I don't remember the exact text now.

[2017-06-05 21:01] amberwreed commented on #812
Alert should use this copy: There were no incidents reported during this time period.

[2017-06-05 22:20] #751 closed

[2017-06-05 22:21] #135 closed

[2017-06-05 22:21] LarryBafundo commented on #135
Closing this as it's a relatively expensive change and its value is diminished given where we are with development.

[2017-06-05 22:26] amberwreed commented on #562
@AvivaOskow Jen and Eric have experience with favicons from the 18F website and might have good advice. Is there anyway we can repurpose something like the 1 color version you used for the CDE logo for the favicon?

[2017-06-05 22:39] amberwreed commented on #822
@AvivaOskow Can you confirm this is done. It looks right to me but I don't trust that I can approve this visually. Can you look for the swatch # in the implementation? I wasn't able to find it.

[2017-06-05 22:46] amberwreed commented on #812
@LarryBafundo and @jeremiak The design team would like to suggest that we implement this as is (with the text change) but not extend this site wide. Our thinking is that it is better explain why we are showing NIBRS elements and not highlight what is missing for the user. Happy to discuss.

[2017-06-05 22:53] LarryBafundo commented on #812
@amberwreed should we make the distinction that there were no incidents reported for this offense, rather than just saying no incidents reported at all?

[2017-06-06 03:46] amberwreed opened #840 "Add UCR related links"
See state view and agency view documents to see what the links and text should be.

Agency should be:
Resources
About [crime type] data
[State] UCR Program
FBI UCR Program

State should be:
Resources
About [crime type] data
[State} UCR Program
Download participation and population data

United State should be:
Resources
About [crime type] data
FBI UCR Program
Download participation and population

[2017-06-06 13:33] RyanSibley opened #841 "Make `estimated` a link in state overview text"

[2017-06-06 13:34] RyanSibley opened #842 "fix space issue in state overview text"

[2017-06-06 13:34] RyanSibley opened #843 "Create a sentence for the beginning of time"

[2017-06-06 14:33] jeremiak commented on #812
Made the following change (in #845):
<img width="876" alt="screen shot 2017-06-06 at 10 29 38 am" src="https://cloud.githubusercontent.com/assets/780941/26834516/8e0d6280-4aa3-11e7-9fc9-aa647230a961.png">

[2017-06-06 15:18] RyanSibley opened #847 "content audit"
https://docs.google.com/spreadsheets/d/1cIeeGFNDKriyonaDYiahwZe0J6RrC0m8IkX7YhsktRo/edit

[2017-06-06 15:19] RyanSibley commented on #847
@LarryBafundo this is where the audit is started

[2017-06-06 17:45] amberwreed commented on #812
👍

On Tue, Jun 6, 2017 at 7:33 AM, Jeremia Kimelman <notifications@github.com>
wrote:

--
-------------------------
*Amber Reed*
Visual Design Supervisor
18F

[2017-06-06 18:09] AvivaOskow commented on #822
It's correct.

[2017-06-06 18:10] AvivaOskow commented on #822
Actually, I take that back. That blue was compliant on a dark background, not on white.

[2017-06-06 18:16] AvivaOskow commented on #822
How do we feel about red instead? It's complaint. (Also should they say County with the name?)

<img width="253" alt="screen shot 2017-06-06 at 2 13 50 pm" src="https://user-images.githubusercontent.com/21244661/26844741-72378864-4ac2-11e7-81cd-b89654d73677.png">

Other option, use the headline blue (#284152)
<img width="246" alt="screen shot 2017-06-06 at 2 16 15 pm" src="https://user-images.gith

[2017-06-06 19:09] #827 closed

[2017-06-06 20:02] AvivaOskow opened #851 "Add "Info" icon to source line under charts"
Use icon from beta bar, but i white on dark blue circle

[2017-06-06 20:04] AvivaOskow opened #852 "Update "About the data" section at bottom of explorer pages to latest design spec"
- Section headlines should be all caps and blue.
- Needs more space between paragraphs and Further reading box on right
- make sure content is correct from @RyanSibley

[2017-06-06 20:56] #351 closed

[2017-06-06 20:59] LarryBafundo commented on #824
relates to: https://waffle.io/18F/crime-data-explorer/cards/593625a8ef3289001a4aaa1a

[2017-06-06 21:01] LarryBafundo commented on #842
relates to: https://waffle.io/18F/crime-data-explorer/cards/5935991f8a94e0009c0146cc

[2017-06-06 21:02] LarryBafundo commented on #837
replaced by https://waffle.io/18F/crime-data-explorer/cards/5936af5225157a002cbb21c6, closing.

[2017-06-06 21:02] #837 closed

[2017-06-06 21:05] LarryBafundo commented on #852
@RyanSibley can we link to the correct content in this issue please?

[2017-06-06 21:05] LarryBafundo commented on #852
@AvivaOskow do we need to provide more precise directions on spacing?

[2017-06-06 21:31] LarryBafundo commented on #843
this is a funny title for a github issue.

[2017-06-07 04:03] amberwreed opened #856 "Remove crime type from the title for agency view for testing"

[2017-06-07 04:03] amberwreed opened #857 "Remove agency type from the bar chart and incidents table titles"

[2017-06-07 04:04] amberwreed opened #858 "Add no data symbol on bar chart years with no data"

[2017-06-07 04:05] amberwreed opened #859 "Switching from agency to state add dropdown"
When I switch from an agency to a state view and the agency view clears, I should see a dropdown, instead of an X.

[2017-06-07 04:06] amberwreed opened #860 "Bold dynamic content in overview"
Consider making dynamic content bold in the overview text.

[2017-06-07 04:07] amberwreed commented on #859
<img width="278" alt="screen shot 2017-06-06 at 8 58 03 pm" src="https://user-images.githubusercontent.com/13576520/26861924-23de6090-4afc-11e7-83ea-d6f343814db9.png">

[2017-06-07 04:07] amberwreed commented on #858
Repeat issue.

[2017-06-07 04:08] amberwreed commented on #858
<img width="703" alt="screen shot 2017-06-06 at 8 56 48 pm" src="https://user-images.githubusercontent.com/13576520/26861942-43894d38-4afc-11e7-9f15-07909639f187.png">

[2017-06-07 04:09] amberwreed commented on #857
<img width="660" alt="screen shot 2017-06-06 at 8 57 00 pm" src="https://user-images.githubusercontent.com/13576520/26861950-5c5c6688-4afc-11e7-8317-ad760ac2bbd0.png">
<img width="719" alt="screen shot 2017-06-06 at 8 56 38 pm" src="https://user-images.githubusercontent.com/13576520/26861954-609adee6-4afc-11e7-896f-adc6f14eb419.png">

[2017-06-07 04:09] amberwreed commented on #856
<img width="494" alt="screen shot 2017-06-06 at 8 56 21 pm" src="https://user-images.githubusercontent.com/13576520/26861961-7957f5d6-4afc-11e7-98e4-a873dfa3985f.png">

[2017-06-07 13:58] AvivaOskow commented on #852
In our sketch file it's 80 px between the paragraphs and the reading box.

<img width="851" alt="screen shot 2017-06-07 at 9 58 01 am" src="https://user-images.githubusercontent.com/21244661/26882268-e3c865fc-4b67-11e7-80cf-b128ce818b93.png">

[2017-06-07 15:30] #842 closed

[2017-06-07 18:40] RyanSibley opened #861 "wrangle `about the data` content"
need to gather the content for the different crime types from the repo.

[2017-06-07 19:29] brendansudol commented on #714
here's what this looks like with real data:

<img width="802" alt="screen shot 2017-06-07 at 3 27 44 pm" src="https://user-images.githubusercontent.com/1060893/26897307-1477b95e-4b96-11e7-9e1e-8d9e9a582118.png">

[2017-06-07 19:30] brendansudol commented on #714
this looks quite confusing to me and i think we should consider alternative designs / not adding to the chart

[2017-06-07 19:39] brendansudol commented on #714
cc: @LarryBafundo @amberwreed

[2017-06-07 19:46] jeremiak commented on #858
Closing in favor of #818, which is closed by #833

[2017-06-07 19:46] #858 closed

[2017-06-07 19:55] brendansudol commented on #714
another screenshot with real data...

<img width="828" alt="screen shot 2017-06-07 at 3 53 46 pm" src="https://user-images.githubusercontent.com/1060893/26898376-a70a9b30-4b99-11e7-878c-ff4d8eaca246.png">

[2017-06-07 19:55] brendansudol commented on #714
that "USA" label looks like it belongs to the revised rape line for California

[2017-06-07 20:00] jeremiak commented on #822
Will use dark blue for now

[2017-06-07 20:20] #822 closed

[2017-06-07 20:31] #857 closed

[2017-06-07 20:31] #859 closed

[2017-06-07 20:38] #818 closed

[2017-06-08 01:42] LarryBafundo commented on #576
this should account for the new agency view

[2017-06-08 02:38] amberwreed commented on #714
Let's work on this together.

On Wed, Jun 7, 2017 at 6:44 PM, Larry Bafundo <notifications@github.com>
wrote:

--
-------------------------
*Amber Reed*
Visual Design Supervisor
18F

[2017-06-08 14:26] RyanSibley commented on #861
this is part of the content audit and I'd like to get it done in the first days of S14

[2017-06-08 14:27] RyanSibley commented on #841
@jeremiak I'm not sure how to link to the glossary. Can we use this task a training exercise for me so I can do this  in the future?

[2017-06-08 14:43] jeremiak commented on #841
@RyanSibley Yup! I'll submit a PR and do some annotations with comments so you can see how to do it

[2017-06-08 15:46] #856 closed

[2017-06-08 15:51] amberwreed opened #866 "Content adjustments to homepage"
We have some content changes to the Home Page we would like to make prior to the executive demo on Tuesday. You can find the copy here: https://docs.google.com/document/d/1owJL0DiymWJ-pZazDBi58Tzlu7ZmZ9bffQkk0b3i848/edit#heading=h.actltkjh57om

[2017-06-08 15:52] amberwreed opened #867 "Content: Download & Documentation intro"
Rewrite download text on the downloads & documentation page. Make text about NIBRS more inclusive.

[2017-06-08 15:53] amberwreed opened #868 "Content: More clearly explain how data is reported to the FBI"
"Reported to FBI" may be problematic for state statistical centers.

More discussion is needed.

[2017-06-08 15:54] amberwreed opened #869 "Content: State view edits"
State overview text should be rewritten for clarity around agencies reporting.

[2017-06-08 15:54] amberwreed opened #870 "Content: State overview glossary link"
Add glossary link for estimated data.

[2017-06-08 15:55] amberwreed opened #871 "Agency: Bar chart sentence"
Provide alternate sentence for SRS agencies that refer to offenses in title, not incidents.

[2017-06-08 15:55] amberwreed opened #872 "NIBRS dimensions: Generate state and agency CSVs as a single zipfile"
Make CSV download as 1 file and look at organization and columns included

[2017-06-08 15:56] amberwreed opened #873 "NIBRS charts: content and data source"
Consider if labels should say offender and victim instead of incidents (check source tables)

[2017-06-08 15:57] amberwreed opened #874 "NIBRS charts: State view ordering"
Sex of offender chart should always stay in the same order

[2017-06-08 15:58] amberwreed opened #875 "Navigation: Agency search discoverability"
Search isn’t immediately discoverable / usable

[2017-06-08 15:59] amberwreed opened #876 "Remove pin from map & add label for selected agency name"
Remove pin on map
Add label for state view

[2017-06-08 15:59] amberwreed opened #877 "Navigation: No results treatment"
Need a state for “no results”

[2017-06-08 16:00] amberwreed opened #878 "Navigation / content: Unspecified"
New term for “Unspecified”

[2017-06-08 16:00] amberwreed opened #880 "Downloads: Police data"
Remove / hide police data above the fold of the csv

[2017-06-08 16:01] amberwreed opened #881 "Assess integrity of agency data"
Check why Oakland is in lake Tahoe in the results list

[2017-06-08 16:01] RyanSibley commented on #841
awesome. Thank you.

[2017-06-08 16:02] LarryBafundo commented on #880
@amberwreed this is addressed by https://waffle.io/18F/crime-data-explorer/cards/591b7427c858a5041f6aa031

[2017-06-08 16:03] LarryBafundo commented on #881
this is a bigger task, but is something we should start doing this sprint and enlisting CJIS to help with. other examples include no robberies reported in St. Louis for a 10 year range, some cities appearing as "unmapped counties", etc.

[2017-06-08 16:05] LarryBafundo commented on #878
@amberwreed I think this is addressed by https://waffle.io/18F/crime-data-explorer/cards/5935f9830577e300f623253e, let's discuss

[2017-06-08 16:06] LarryBafundo commented on #876
I think we should ask CJIS to weigh in on the value of showing agency location on the map and then have a discussion around the likely level of effort required to enable this. I think it might be important, but not sure how it stacks up against other priorities. Agree its not a sprint 14 priority.

[2017-06-08 16:07] LarryBafundo commented on #873
does this have any implications on how we calculate those values?

[2017-06-08 16:08] LarryBafundo commented on #872
we had a card for this in the backlog, but it was focused on just the NIBRS downloads so I closed it out in favor of this one.

[2017-06-08 16:08] LarryBafundo commented on #872
let's discuss how this stacks up in the order of priorities.

[2017-06-08 16:10] LarryBafundo commented on #870
we have a glossary term for estimated data currently in the label for the chart. so this just refers to adding it to the overview as well.

[2017-06-08 16:12] LarryBafundo commented on #870
actually, looks like this is already being handled https://github.com/18F/crime-data-frontend/issues/841#issuecomment-307148719

[2017-06-08 16:19] jeremiak commented on #876
We can easily add a label for states to make the map element look more consistent. There are a few different options for our approach to mapping:

1. Have the API return coordinates for the centroid of each county. This could make some agencies look misplaced if they are on the edges of large counties (relative to the size of the state)
2. Load the coordinates into the front end application and ju

[2017-06-08 16:26] jeremiak opened #882 "Add Gemnasium to the project"
Add `nsp` (Node security project) scans for the FBI security process and per [18F before you ship guide](https://before-you-ship.18f.gov/security/static-analysis/#gemnasium).

[2017-06-08 16:38] LarryBafundo commented on #878
closing in favor of #175

[2017-06-08 16:39] #878 closed

[2017-06-08 16:43] amberwreed opened #883 "+++Post Launch+++"

[2017-06-08 16:44] amberwreed opened #884 "+++Post launch+++"

[2017-06-08 16:45] AvivaOskow commented on #875
I think this might help with the search vs dropdown distinction/confusion:

<img width="317" alt="screen shot 2017-06-08 at 12 44 17 pm" src="https://user-images.githubusercontent.com/21244661/26940317-3ce79c12-4c48-11e7-9751-468ccdb9d1c5.png">

<img width="313" alt="screen shot 2017-06-08 at 12 43 23 pm" src="https://user-images.githubusercontent.com/21244661/26940328-42001558-4c48-11e7-8e98-5bbc

[2017-06-08 16:46] #870 closed

[2017-06-08 16:50] amberwreed commented on #869
@RyanSibley This is currently confusing with estimations.

[2017-06-08 17:00] AvivaOskow commented on #562
Some options:

<img width="865" alt="screen shot 2017-06-08 at 12 58 43 pm" src="https://user-images.githubusercontent.com/21244661/26940879-6349e0f2-4c4a-11e7-9c4c-b4cde94f4167.png">

<img width="866" alt="screen shot 2017-06-08 at 12 58 57 pm" src="https://user-images.githubusercontent.com/21244661/26940882-67d78cdc-4c4a-11e7-8b24-1b9d2fafaae7.png">

Up closer, for feedback bot @jeremiak

<img w

[2017-06-08 17:04] RyanSibley commented on #210
We're in the editing stages now.

[2017-06-08 17:05] RyanSibley commented on #847
#861 is related

[2017-06-08 17:13] RyanSibley commented on #847
To be clear, it doesn't make sense at this point to separate the content audit and refinement stages so as we audit I'm trying to make refinements.

[2017-06-08 17:49] jeremiak commented on #576
Tagging in @RyanSibley

[2017-06-08 21:57] LarryBafundo commented on #562
@AvivaOskow cool. which direction are you leaning and why?

[2017-06-08 22:00] LarryBafundo commented on #875
hey @AvivaOskow sorry, but i'm not clear on what's being proposed here. how is this different from we already have implemented at: https://crime-data-explorer.fr.cloud.gov/explorer/state/new-jersey/robbery?agencySearch=true

[2017-06-08 22:51] amberwreed opened #888 "Alerts: Nothing to display"
We currently refer to incidents in the alert. This isn't correct for SRS agencies where we are showing offenses. Either provide an alternate or rewrite the alert to not refer to either.

[2017-06-08 22:52] amberwreed opened #889 "NIBRS: Age of offender"
Sentence below age of offender refers to incidents. It should be calling offender or victims not incidents.

[2017-06-08 22:53] amberwreed opened #890 "NIBRS tables: Don't display with 0 incidents"
When their is no data to display in the bar chart, do not display the NIBRS tables.

[2017-06-08 22:53] amberwreed opened #891 "NIBRS: Data download links"
Remove multiple links for data downloads when implementing 1 zip package for all files.

[2017-06-08 22:54] amberwreed opened #892 "Navigation: Close dropdown list"
When the user clicks out of the dropdown list, it should close.

[2017-06-08 22:55] amberwreed opened #893 "Navigation: Agency results"
Consider only displaying agencies with data in the list.

[2017-06-08 22:56] amberwreed opened #894 "Sprint 14 Research"
Define learning objectives
Recruit
Develop conversation guide
Conduct interviews
Synthesize findings
Summary on design wiki

[2017-06-08 22:57] amberwreed opened #895 "Homepage: Interactive map"
Explore adding a NIBRS and SRS label for the homepage map to give users more visibility into what kind of data they can view.

[2017-06-08 23:52] amberwreed commented on #894
Likely focal areas: downloads page, homepage, api

[2017-06-09 13:41] brendansudol commented on #562
could we try the first one without the bar charts or the notches around the edge? (as in, just the navy circle with "cde" type)? at a 16x16 size, i feel like additional details are lost

[2017-06-09 14:58] AvivaOskow commented on #562
@brendansudol that's true, the additional details are lost in the favcon, but I kind of like that you can see a _little_ hint of red (you know me!). Also I thought maybe for the 64x64 for the feedback bot, some more detail might be nice? Either way, I can probably remove the notches around the edge.

[2017-06-09 15:01] AvivaOskow commented on #875
@LarryBafundo I added a vertical divider line between the type search and the caret in the agency box, so its more apparent you can search or do dropdown.

[2017-06-09 17:08] LarryBafundo commented on #593
Repurposing this card. We now need to link to these resources from the downloads and documentation page, instead of including them in the zipfiles themselves. I'll move it to the backlog.

[2017-06-09 17:09] #612 closed

[2017-06-09 17:49] #828 closed

[2017-06-09 18:06] AvivaOskow commented on #562
Ok one more option, using the actual CDE logo, which turns out just looking like a blue triangle

![Screen Shot 2017-06-09 at 2.05.34 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58efb84dfdbefb001a9aa256/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c57e0b77256454fa6b7191a37af1122e4f5c5b5ecc3c4a4356bcbbd671f3e57862804e0ee584385b20c16f17aabf8b1ee901ba23824b81e

[2017-06-09 18:11] jeremiak commented on #562
I kind of like using their logo (not because I necessarily like it) but because I think it makes sense to use the logo the FBI made instead of making our own. Especially since its mostly illegible either way and the triangle is unique enough to spot in a bunch of tabs.

[2017-06-09 18:17] AvivaOskow commented on #562
Ok what about this? @jeremiak Not sure you can see the difference, but I just made a blue triangle the same shape, and the put the CDE type in there.

![Screen Shot 2017-06-09 at 2.15.52 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58efb84dfdbefb001a9aa256/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c57e0b77256454fa6b7191a37af1132e4f5a5d5ecc3c4a4356bcbbd671

[2017-06-09 18:18] AvivaOskow commented on #562
I feel like its a good compromise

[2017-06-09 18:18] AvivaOskow commented on #562
and then you can use the real CDE logo for the bot

[2017-06-09 18:58] LarryBafundo commented on #593
Assigning this to myself as we'll need to rethink how this affects potential design/content changes to the download page.
cc: @amberwreed

[2017-06-09 18:59] LarryBafundo commented on #875
@AvivaOskow is this something you want prioritized for the current sprint as part of the agency cleanup? if so, let's move it to do

[2017-06-09 19:17] jeremiak commented on #882
We actually already have Gemnasium in the project, and have included the badge in the README.

[2017-06-09 19:17] #882 closed

[2017-06-09 19:36] AvivaOskow opened #901 "Explorer page: Change Resources and Further reading link lines back to red, bold on rollover hover"
Looks like these got changes to the light blue when the footer links got changes. The footer links should be the light blue, but these should still be red like before.

[2017-06-09 19:37] AvivaOskow commented on #901
![Screen Shot 2017-06-09 at 3.35.19 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58efb84dfdbefb001a9aa256/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c57e0b77256454fa6b7191a37bf1112e4f5e565ecc3c4a4356bcbbd671f3e57862804e0ee584385b20c16f17aabf8b1ee901ba23824b81e7ea8c4dd2f42f67b6d5db1063474f4dcbed5727a39b41c95cff4ce14e52a411336bee712431.png)

![Screen Shot 20

[2017-06-09 19:41] AvivaOskow commented on #875
@LarryBafundo By current sprint you mean 14 that just started? Yes, I think this is an important piece we need to respond to from our testing feedback. This was my proposed simple solution, but if people have other thoughts, I'm open to discussing the interaction!

[2017-06-09 19:48] jeremiak commented on #562
Cool, that sounds like a very decent compromise to me!

[2017-06-09 20:21] AvivaOskow commented on #562
Cool. I'm going to close this issue and we can keep moving with #170 for implementation!

[2017-06-09 20:21] #562 closed

[2017-06-09 22:16] LarryBafundo commented on #875
yes, agree it should be part of the agency cleanup that is happening this sprint, assuming you do.

[2017-06-12 15:32] jeremiak opened #903 "Remove the modal"
We devised the modal as an alternative to having the development servers behind a password at the request of the FBI. Since they are still behind a password, should we remove the modal?

I think we should. The modal is pretty intrusive especially since it pops up when you first land on the page. We still have the beta bar at the top (in prominent red)